[2019-08-04 21:54] xet7 commented on #661
BTW, 32bit TSC installer and 32bit game does work using wine at Debian testing 64bit

![tsc-win32-wine](https://user-images.githubusercontent.com/15545/62429763-7c5d4c80-b71b-11e9-8fc6-5e901e8ed446.png)

[2019-08-05 07:17] Quintus commented on #661
The problem is that WinXP is too old, see [refi's statement](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/message/FMMK4SYBUEF6ZF5EXFM7KJD27IVOMBBX/).

Closing because Windows XP is unsupported by TSC.

[2019-08-05 07:17] #661 closed, assigned to nobody

[2019-08-14 10:18] Raj2032 opened #662 "Where is the save file located on Windows"
I am curious to know where the safe file is located on Windows?

[2019-08-14 14:53] Quintus commented on #662
1. Please don't use the tracker for questions. We have [a forum](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/) and [a mailing list](https://lists.secretchronicles.org/postorius/lists/tsc-devel.lists.secretchronicles.org/) for that, as outlined in the README.

2. It's in `%APPDATA%\tsc\savegames`, as required by Windows directory guidelines. `%APPDATA%` i

[2019-08-14 14:53] #662 closed, assigned to nobody

[2019-09-15 17:25] Quintus commented on #650
The problem probably occurs in the translation of SFML's reported coordinates to the game world. If that's true, other items in the game world that can be selected by mouse also suffer from that problem.

@sydneyjd Could you please:

1. Make a screenshot of the problem with the main menu with debug mode enabled (CTRL+D). Debug mode shows the collision boxes.
2. Check if the problem also occurs in

[2019-09-15 17:42] Quintus commented on #596
Nice finds.

This problem is not specific to the world editor; it also appears in the level editor. It's caused by an invisible CEGUI window in the upper third of the screen that houses the HUD (the HUD window is quite a bit taller than the visible HUD elements). I.e. your clicks and mouse moves are eaten by the HUD and never hit the actual level elements.

Hiding the HUD while the editor is activ

[2019-09-15 17:47] Quintus opened #663 "Game timer does not stop in editor"
Entering the editor with F8 does not cause the game timer (seen in the HUD) to stop.

It probably also does not hold script timers...

[2019-09-15 18:26] Quintus commented on #596
I think I'm going to introduce a status bar to the editor. It can host all the information that is currently given through the popups (which are currently part of the HUD) and the mouse cursor (coordinates, UID, etc.). With the large popup out of the way, the problem should go away. Also, editing probably becomes easier.

[2019-09-17 00:38] sydneyjd commented on #650
Sure,
Just as a note, I have not pulled and recompiled TSC since May.
 So playing around, I do not experience the issue at 800x600, but if I  go to 1024x768 the problem starts and gets much worse the higher you go with the resolution.
 Yes, the offset does shown up when selecting elements in the level editor as well.
1024x768(Load Highlighted)
![1024x768](https://user-images.githubusercontent.com/

[2019-10-19 14:52] boospy opened #664 "New Version of DEB-Packages for 18.04 now installable"
Hello all,

i build an actual version of TSC: 2.1.0+git20191015-alpha4 Commit: 0b1f261e

https://apt.iteas.at

Best Regards :)

[2019-10-19 16:52] Quintus commented on #664
Thanks! We shall upload it to the server.

cc @sydneyjd

--
Blog: https://mg.guelker.eu

[2019-10-20 16:49] sydneyjd commented on #664
Done, just need to check and merge https://github.com/Secretchronicles/main-website/pull/37.

-Sydney

[2019-11-09 17:39] Quintus opened #665 "Debian 10 sound error"
Running TSC from `devel` on Debian 10 opens the game window, but everything is unbearably slow while tons of copies of this error are dumped to the console:

[code]

Looks like a sound problem. /cc @refi64

[2019-11-09 21:15] refi64 commented on #665
Hmm so I was googling this a bit, seems to be a pretty common error (which
is great because OpenAL errors seem to be quite terrible).

From what I gathered, these can be some of the causes:

- Miscellaneous audio driver issues.
- Too many sf::Sound or sf::Music instances active at once.
- Some sort of OpenAL library mismatch.

Out of curiosity, was this on a clean build? I'm kinda leaning towards

[2019-11-09 22:25] xet7 commented on #665
I have not seen this happen on Debian testing and sid, and Linux Mint. Is
this some new problem?

BR,
xet7

[2019-11-10 08:09] Quintus commented on #665
It turns out that this was a problem on my side. Pulseaudio was not started, because `start-pulseaudio-x11` crashed instead of starting pulseaudio on startup. Expressly starting pulseaudio with `pulseaudio --start` instead on i3 session start makes pulseaudio start. Probably related to me not having ConsoleKit installed, at least that's what `pactl info` indicates when pulseaudio is not running.

[2019-11-10 08:09] #665 closed, assigned to nobody

[2019-11-11 19:33] Quintus commented on #659
I ditched pure HTML in favour of [POD](https://perldoc.perl.org/perlpod.html), for which [I wrote a custom C++ parser](https://git.guelker.eu/pod-cpp/). Thus, the docs don't need to converted to HTML anymore, but to POD. I started with this work in the `covert-script-docs` branch.

[2019-11-12 13:42] #659 closed, assigned to nobody

[2019-11-15 12:03] #596 closed

[2019-11-15 12:05] Quintus commented on #596
So, all the problems outlined in this ticket have finally been fixed. I have implemented the status bar today as promised, and I think it not only fixes the problems, but it also gives a much better user experience than the use of the HUD and the mouse cursor for conveying information before.

[2019-11-15 14:10] sydneyjd commented on #664
Closing, as I merged pull request almost a month ago.

[2019-11-15 14:10] #664 closed, assigned to nobody

[2019-11-15 15:42] #663 closed, assigned to nobody

[2019-11-15 15:45] Quintus commented on #462
No reply, closing for inactivity. Re-open if the problem persists.

[2019-11-15 15:45] #462 closed

[2019-11-15 22:45] xet7 opened #666 "Nightly builds of deb packages?"
@boospy

Now TSC has new statusbar at bottom of level editor. Can you provide new 32bit and 64bit DEB-Packages for 18.04 ?

I'm currently building new Windows packages.

[2019-11-15 22:48] boospy commented on #666
Will build new package.

[2019-11-15 22:51] xet7 commented on #666
Thanks!

[2019-11-16 07:25] xet7 opened #667 "Translatable level editor Menu/Items/Select and rest of Status Bar"
Hi,
could following be made translatable:

## Level editor left
- [ ] Menu
- [ ] Items
- [ ] Select

## Level editor status bar
- [ ] Some texts that are still In English, like Brick Yellow in desert_ruins level

[2019-11-16 19:30] Quintus commented on #667
Am 15. November 2019 um 23:25 Uhr -0800 schrieb Lauri Ojansivu:

These should be doable.

This is not translatable. It's the file name of the sprite's graphic.

--
Blog: https://mg.guelker.eu

[2019-11-18 19:42] Quintus opened #668 "Replace HorzCentred with CentreAligned in CEGUI XML layouts"
With CEGUI 0.8, the value `HorzCentred` has been removed as a valid value from the `HorzFormatting` property. This is not documented, but breaks all centred formatting directives (of course without printing a warning about the removal, it just stops working and everything is left-aligned).

It has been replaced by `CentreAligned`. That is, each occurence of

[code]

has to be replaced by:

[code]

[2019-11-19 13:08] Quintus opened #669 "Make title menu translatable"
Currently, the title screen menu (also known as the main menu) is not translatable, because it's entirely made up of images. Making it translatable means replacing the images by native CEGUI text.

I have done some work on this in the `translatable-main-menu` branch, but this turns out to be very laborous due to a number of problems:

* CEGUI does not allow to draw a border around glyphs. This can

[2019-11-19 19:45] #668 closed, assigned to nobody

[2019-11-19 20:01] Quintus commented on #489
The image cache is going to be [removed](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/thread/3NNZM5DPLCBOOLUGW5R5FBWUVOT4TKJI/) after 2.1.0, so this ticket is obsolete now.

[2019-11-19 20:01] #489 closed

[2019-11-19 20:02] Quintus commented on #560
It has been [decided to remove the image cache](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/thread/3NNZM5DPLCBOOLUGW5R5FBWUVOT4TKJI/) -- which is the only user of `Downscale_Image()` -- after version 2.1.0. Fixing this problem for 2.1.0 thus is pointless. I close this ticket.

[2019-11-19 20:02] #560 closed

[2019-11-19 20:23] Quintus commented on #631
Mh, I cannot reproduce this anymore. Probably a graphics driver problem.

[2019-11-19 20:23] #631 closed

[2019-11-20 09:20] xet7 commented on #669
Main menu is not so important currently, because those English words are so familiar to most people, and with those English ones it's also easy enough to navigate to language change options. Making those translatable wound need too much work.

Level Editor Menu/Items/Select #667 is more important, because it's easier to change.

[2019-11-20 11:57] Quintus commented on #669
I agree with you, but that it's not as important as the level editor's menu does not mean that it wouldn't be nice to have. Thus this ticket should stay open.

[2019-11-20 17:05] Quintus commented on #667
Actually, it looks like I can make the editor's left menu mostly translatable with a small trick (unused string values that get picked up by xgettext(1)).

[2019-11-20 17:49] #667 closed, assigned to nobody

[2019-11-21 14:01] xet7 commented on #666
@boospy

Now most of level editor etc is translated. I added new Windows packages:
https://secretchronicles.org/en/news/2019/11/21/Updated-Windows-Packages/

Do you have time to provide new 32bit and 64bit DEB-Packages for 18.04 ?

[2019-11-21 16:38] Quintus commented on #666
Maybe it's easier to think about automatic nightly builds on
alexandria? Doing it manually all the time costs boospy lots of time
probably.

--
Blog: https://mg.guelker.eu

[2019-11-21 17:36] xet7 commented on #666
Can someone profide info how to build 32bit and 64bit DEB packages? I could setup automatic builds to alexandria, using qemu.

[2019-11-21 17:41] xet7 commented on #666
Or alternatively, I can setup building packages with free https://packager.io/ service that builds packages automatically and can be used as deb/rpm repo.

[2019-11-23 10:29] boospy commented on #666
This would be very nice. I will describe how i build. I'am not a dev, so i know this is awkward. I write that down.

[2019-11-24 09:44] Quintus commented on #565
I tried debugging this problem again today, but I don't find the cause. `cLava::Draw()` is called properly just as it should. I even used gdb to step through the entire rendering loop, and yes, the lava object both gets enqueued to the render queue and the render queue is worked through by the renderer. The lava object's sprite also has an image texture ID set that looks sensible (but I can't prin

[2019-11-25 11:58] Quintus commented on #565
Any input on the problem is welcome. For now, all I can do is listing this as a "known bug". It's not something terribly important, so it shouldn't stop the 2.1.0 release, but it's worth mentioning, and, eventually, fixing when somebody has found out the root cause. The workaround with the block inserted at level editor startup should prevent the problem from being seen too often and is not as clu

[2019-11-25 12:12] #657 closed

[2019-11-25 12:16] Quintus commented on #650
@refi64 Did you try reproducing this as [you announced](https://github.com/Secretchronicles/TSC/issues/650#issuecomment-491528439), and if so, what were the results? I don't see it on my system, and I'll have to setup something in a VM to try it out, so it'd be nice if you could take a look.

[2019-11-25 15:23] #514 closed

[2019-11-28 17:38] #156 closed

[2019-12-02 10:33] Quintus commented on #535
I have spent this weekend with thinking about the unresolved part of this issue, i.e. the assets license. I have reached the following conclusions.

* Source code is and remains GPLv3+ (already decided, see above).
* Assets should be CC-BY-SA 4.0+ (explanation below).
* Complete game distributions should be GPLv3 only (explanation below).

Currently, assets are contributed under CC-BY 4.0+. This l

[2019-12-02 10:56] Quintus opened #670 "Translation of level texts"
Texts specific to a level are not currently translatable, but they should be. Since the translations for Gettext (which TSC's C++ code uses) have to be supplied at compile-time, it is not possible to do this with Gettext.

I propose an SSL extension that allows such translation. An SSL script would be used to implement the actual translation "engine" (something simplistic suffices for starting out

[2019-12-02 11:00] Quintus commented on #670
Another approach (that also requires more work) is to extend the level editor's UI. The settings page could gain a new tab "text translations", where it picks up any in-game text (i.e. text boxes) and allows translation of that text. The translations are then saved into the level XML.

If this approach is chosen, it needs to be considered that level authors still need access to translations from a

[2019-12-02 12:38] Quintus commented on #535
Side note: When the repository's directory layout is changed at some point, it should be setup in such a way that the license situation can be inferred from the directory layout. The current situation with the license in the `.txt` and `.settings` files is rather difficult to handle. It'd be good if the new directory layout could separate out the CC-BY-SA parts into a directory `/assets/`, while t

[2019-12-02 18:04] Quintus commented on #158
I don't know when, but this has appearently been implemented meanwhile. At least it works for me. I thus close this. If it still does not work for you, please speak up.

[2019-12-02 18:04] #158 closed

[2019-12-02 18:13] Quintus commented on #371
What needs to be considered here is that while static sprites have their name specified in their respective `.settings` file, everything else receives its name from C++ code. These letter items also are usually marked as translatable strings. Thus, alphabetic order is not at all that obvious -- alphabetic on the filename, on the untranslated string, on the translated string? How should the untrans

[2019-12-02 20:12] Quintus commented on #433
As nobody objects, I reject this feature request. Commit ce6a48e58a66fbb25efbe44ea76fc6cd1eaba425 restructures the credits to contain a little more information as was suggested by this ticket, but it also removes all the e-mail addresses. Additionally, it applies some style fixes.

[2019-12-02 20:13] #433 closed

[2019-12-02 20:38] refi64 commented on #628
well I forgot about this for a long time but I've had it on my mind for a few weeks now, if I do nothing else over Christmas break I *will* finish this.

[2019-12-03 17:49] Quintus commented on #628
Very kind of you, and it is appreciated. Thank you!

[2019-12-04 19:21] xet7 commented on #661
Well, I tried, but did not get this working.

## 1) MSYS2 32bit WinXP

It seems MSYS2 does not support WinXP anymore https://github.com/msys2/MINGW-packages/issues/5139

## 2) ReactOS

I did try to modify ReactOS to get TSC running. So I copied GetTickCount64 function from kernel32_vista.dll to kernel32.dll. Those vista named dll code are from wine. This is also related to Compatibility Mode:
http

[2019-12-04 19:45] #511 closed

[2019-12-06 18:32] #579 closed

[2019-12-06 20:10] xet7 opened #671 "TSC segfaults when OpenAL not available"
Hi,
I'm trying to run TSC in a Xen VM on Qubes OS.

When I start TSC, it begins repeating this error:
[code]
After repeating it many times, TSC segfaults:
[code]
Would it be possible to disable sound, when it's not available? And let me play TSC without sound?

[2019-12-07 05:09] refi64 commented on #671
I guess related to #665, but I don't think SFML really provides a way to
handle this?

On Fri, Dec 6, 2019, 2:10 PM Lauri Ojansivu <notifications@github.com>
wrote:

[2019-12-07 07:51] Quintus commented on #671
refi is right. There's no way to have SFML handle this, and in general, there's no way to handle this automatically as there exists no API to query for the question: “does the sound driver work properly?”.

What you can try is to edit the file `~/.config/tsc/config.xml`. In that file you'll find these two lines:

[code]

Change the "1" values to "0". This is the same as turning off sound and music

[2019-12-07 08:00] Quintus commented on #443
Related note: Larry's explosion already makes spinboxes start spinning. I've used this in one level for a secret area: I placed spinboxes at the bottom so there's no way to jump against them. If Larry explodes nearby however, they start spinning and Alex can pass the spinboxes downwards.

[2019-12-07 09:05] #443 closed

[2019-12-07 09:46] #671 closed, assigned to nobody

[2019-12-07 10:34] Quintus commented on #568
I've implemented this now. As a slight deviance from the original suggestion, PageUp/PageDown move to the left/right level edges; hold Shift to move to the top/bottom edges. It is most probably more likely people want to the left and right level edges than to the top and bottom ones, so this should be more accessible.

I've also implemented the End key cycling through all level exits.

[2019-12-07 10:34] #568 closed

[2019-12-07 10:37] Quintus commented on #671
@xet7 did the XML trick work?

[2019-12-07 10:39] xet7 commented on #671
@Quintus

I did not try XML trick. In other VM type sound did work. Nevermind.

[2019-12-09 09:46] Quintus commented on #371
I've now just chosen to sort by the settings file's `name` property. I'm satisified with the results.

[2019-12-09 09:47] #371 closed

[2019-12-11 23:12] datahead8888 commented on #80
I'm now running again with an upgraded version of Linux and a brand new SSD drive that is reliable.

I don't seem to remember what the problem was.  The red hit box for a left/right Rokko is a little larger than the Rokko but not obviously wrong.  The activation box to the left/right is a little larger but doesn't pose an obvious problem.  What is the issue again?

I did notice that vertical Rokko

[2019-12-11 23:19] datahead8888 opened #672 "Level Music Keeps Playing While Death Music Plays"
I noticed that if you die in a level, the level music already playing keeps playing while the death music begins playing.  I do not remember this behavior before -- it is traditional in games only to play the death music during death.

[2019-12-12 09:33] Quintus commented on #80
Well:

This is the same problem. See [my comment above](https://github.com/Secretchronicles/TSC/issues/80#issuecomment-60519389).

I think I can best explain it with a picture. The following screenshot demonstrates the issue:

![rokko](https://user-images.githubusercontent.com/156358/70699283-2ac85e00-1cc9-11ea-84a4-b374c0b33c39.png)

This is an upwards flying Rokko in the editor, with debug mode

[2019-12-12 09:35] Quintus commented on #80
In case you wonder how you create an upwards flying Rokko: create a normal Rokko, doubleclick it, and select the up direction in the config panel that pops up on the doubleclick.

[2019-12-12 10:13] Quintus commented on #672
Actually, this is intentional. In `cLevel_Player::DownGrade_Plyer()` the background music [is faded out slowly](https://github.com/Secretchronicles/TSC/blob/08396113a43f538cccb7691f6a340d144569d109/tsc/src/level/level_player.cpp#L259), and not stopped immediately. The fadeout time is set to about the duration of the death animation.

[2019-12-13 05:37] datahead8888 commented on #80
I had seen the comment but mistakenly assumed the bug happened for horizontal Rokkos.

Yes, I had forgotten.  I'm rusty on TSC and need to warm up :)

I have now reproduced the issue.

[2019-12-13 05:40] datahead8888 opened #673 "Text message for level editor save"
When you save a level in TSC, it plays a sound effect indicating the save but has no other visual indication.  It might make sense briefly to print a "Level Saved" message (with translations).  This way if the user has sound turned off or is hearing impaired, they know what just happened.  I didn't hear the sound effect in a restaurant with the sound off and got pretty confused myself, thinking I

[2019-12-13 11:14] Quintus commented on #673
Actually, this message existed until I changed the editor interface to not use the HUD. Such messages are displayed in the HUD. As the HUD is now disabled in the editor (to fix the mouse offset issues!) there's no easy way to show messages in the editor. I'll take a look, though. I haven't thought about potentially noisy environments or deaf users.

Meanwhile, you can save with CTRL+S. This is eas

[2019-12-14 21:08] Quintus commented on #673
My fingers were faster than my brain. The HUD was not deactivated in the editor for mouse *offset* issues, but for the mouse *click* issues -- it was occupying the upper third and clicking there never made it to the game.

[2019-12-16 18:40] refi64 commented on #672
I kinda feel like it would be nicer if this either:

- Cuts out.
- Fades the game music but doesn't play the death music.

Right now with both it just seems weird...

[2019-12-16 19:44] Quintus commented on #672
Appearently the majority opinion is that the music should be stopped. I add this to the 2.1.0 milestone so it will become part of the 2.1.0 release...

[2019-12-17 15:24] xet7 opened #674 "Stack audio errors when building TSC on MSYS2 on Windows"
2019-12-17 both branches devel and release-2.1.0 have this error:
[code]

[2019-12-17 21:19] Quintus commented on #674
I've added a fix. Please retry compiling the `release-2.1.0` branch.

[2019-12-17 21:54] xet7 commented on #674
Thanks! Now it works!

[2019-12-17 21:54] #674 closed, assigned to nobody

[2019-12-19 19:17] refi64 commented on #650
Well this was probably an issue at some point, but I can't seem to reproduce at all anymore. Hopefully it was a dependency issue that just got fixed from an update...

[2019-12-19 21:30] refi64 commented on #604
Testing this with the Google Stadia controller *and* Nintendo Switch Pro controller, I didn't observe any of the above issues. (The Switch Pro controller had the Y axis of the left stick reversed, but evtest confirmed that it was an issue with the [controller drive](https://github.com/FrotBot/SwitchProConLinuxUSB), not with TSC.)

[2019-12-20 11:53] Quintus commented on #604
Am 19. Dezember 2019 um 13:30 Uhr -0800 schrieb Ryan Gonzalez:

Then @xet7 was probably facing a hardware problem. I'm for closing this
ticket.

[2019-12-22 08:22] Quintus commented on #666
@boospy We have recently released [a beta1 of TSC 2.1.0](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/thread/LDVC5HUMGCXKSRTC4VHBJWKGUKI7TCYH/) and it'd be nice if you could provide packages for this. As we're going to release one or more betas before the final 2.1.0 release, it'd be good if you subscribed to the linked tsc-devel mailinglist so you don't

[2019-12-22 16:20] boospy commented on #666
Is no online.

How i build?

1. pull the repo
2. build the new version with ./build-tsc.sh
Here my file do build:

[code]
After install the game is on the local disk. Now i move the files to my builddirectory. Both attached.
Here are the files:
https://darkdevil.osit.cc/nextcloud/s/FogYy7RQTykXHfS?path=%2Fshares%20for%20forums%2FTSC

So and last. I played to a level the i found something that i do

[2019-12-22 17:36] Quintus commented on #666
Thank you very much!

@sydneyjd Could you please pull the packages and upload them to the website? Once done I will create a news post for the beta1.

@xet7 Can you take a look at this instructions and tell me if this is automatable in a way we can implement on alexandria with a shell script or similar? Note we already have an automatically updated copy of the TSC repository on alexandria in `/srv

[2019-12-22 19:02] xet7 commented on #666
@Quintus here is the image from that bug @boospy mentioned:

So and last. I played to a level the i found something that i do not know what i should do here... strange. Here is the picture:

![tsc_what](https://user-images.githubusercontent.com/15545/71326056-5f74ba80-24fe-11ea-8ee7-bd37f5815e3f.png)

[2019-12-22 20:30] xet7 commented on #666
@boospy

Please give details what commands you used to build deb package. I did not find that info yet.

[2019-12-22 21:58] Quintus commented on #666
Thanks! Which level is that? When you're in the level, press F8 to open the editor and you can read the level name in the bottom-left corner in cyan blue.

In any case, the switch should have activated something.

[2019-12-22 22:32] xet7 commented on #666
I figured out a way to build deb package, but I'll test does it work, before uploading.

[2019-12-23 11:52] xet7 commented on #666
I have uploaded these deb packages to https://ftp.secretchronicles.org/releases/
- amd64 for Ubuntu 18.04
- i386 for Ubuntu 18.04
- armhf for Rasbian raspi3/raspi4

I did build manually on each distro desktop. Here is info how to manually build for any .deb distro architecture:
https://ftp.secretchronicles.org/build-deb/

I have not yet figured out how to automate building .deb packages.

[2019-12-23 13:19] #672 closed, assigned to nobody

[2019-12-23 14:23] sydneyjd commented on #666
I have tested that Xet7's amd64 Package does install and run properly on Ubuntu 18.04. Would you still like me to pull Boospy's Ubuntu package and upload it to the website?

[2019-12-23 14:28] sydneyjd commented on #650
Interesting. I am still able to reproduce this in my Ubuntu 18.04 VM with LXDE using the 2.1.0-Beta1 package provided by Xet7. And I did delete my .cache/tsc and .config/tsc directories as well.

[2019-12-23 14:55] xet7 commented on #666
@sydneyjd

You don't need to upload anything.

I did already create exe and deb packages and their checksums, and I will create those packages also in the future. Sometime I will also automate nightly builds. We don't need to wait when @boospy has time.

[2019-12-23 15:05] xet7 commented on #650
Mouse positions do work exactly right on newest Linux Mint 64bit. I am unable to reproduce this.

I don't think TSC would be playable enough in VM, you could get VM environment related errors.

[2019-12-23 15:15] xet7 commented on #650
I mean Linux Mint Mate 64bit when laptop display screenmode is 1440x900 60hz and TSC is at window 1024x768:

![tscdebug](https://user-images.githubusercontent.com/15545/71365460-bf736b80-25a7-11ea-8129-18df7582247f.png)

[2019-12-23 15:24] xet7 commented on #650
I will test this on LXDE without VM.

[2019-12-23 15:41] sydneyjd commented on #650
At 1024x768 it is not terrible, but it gets progressively worse the higher the resolution. Im not saying it is not fixed with newer software, I'm just saying that I can still reproduce it on my Ubuntu 18.04 VM, and I don't have any other mouse related issues in the VM. If we know it is fixed, and 18.04 is not a huge target for users, I don't see a problem with overlooking the issue, but that is up

[2019-12-23 15:44] xet7 commented on #650
18.04 is huge target, it's Ubuntu LTS release and Linux Mint uses it as base in newest Linux Mint release.

[2019-12-23 15:45] sydneyjd commented on #650
*facepalm*, I am using Mate. The Icon theme threw me off.

[2019-12-23 15:46] xet7 commented on #650
Is that Ubuntu Mate ?

[2019-12-23 15:46] xet7 commented on #650
18.04 64bit ?

[2019-12-23 15:51] sydneyjd commented on #650
Correct. Ubuntu Mate Version 18.04.3 LTS 64-Bit.

[2019-12-23 17:04] xet7 commented on #650
I can not duplicate this on Ubuntu Mate 18.04 64bit and Lubuntu LXDE 18.04 64bit.

Here is Ubuntu Mate:
![ubumate-tsc](https://user-images.githubusercontent.com/15545/71370554-eb4a1d80-25b6-11ea-9eee-341d9d3ea241.png)

[2019-12-23 17:50] refi64 commented on #650
What would be the chances of literally sending us the VM disk image?

On Mon, Dec 23, 2019, 11:04 AM Lauri Ojansivu <notifications@github.com>
wrote:

[2019-12-23 19:20] sydneyjd commented on #650
It would take me at least 4 days to upload the VM Disk Image (14GB). Let me whip up a fresh install and see if I can still reproduce it.

[2019-12-23 19:31] Quintus commented on #650
Suggestion: Compress it with xz (there's probably lots of zero bytes in the VM image, it should compress well), burn it to a DVD, and mail it to refi (who's in the US, contrary to xet7 and me).

[2019-12-23 20:10] Quintus commented on #666
Thanks, xet7. @boospy I hope that this is line with your expectations. You could do some testing of the beta1 release and see if you find bugs. Or even better, try building new levels! TSC is in urgent need of new quality levels. Please submit any levels you create to the linekd mailing list.

[2019-12-23 23:06] xet7 commented on #650
I did install Ubuntu Mate to VirtualBox VM and test this.

This "bug" happens because TSC window is too big to fit the screen.

Solution is to change TSC window resolution to be smaller, regenerate cache of images, and use that smaller resolution in TSC window. Then all is visible.

I don't know is there anything we could do to "fix" this.

[2019-12-23 23:31] sydneyjd commented on #650
I spun up two new Ubuntu 18.04 installs this afternoon to play with this. Xet7 is correct, if the window is too large for the actual screen resolution, it causes the issue to appear. I do not know how I did not notice that sooner.
Does that mean that this issue still does apply to other Linux Distros, or has it been remedied in newer software? We should probably make a release note of this if we l

[2019-12-24 07:32] datahead8888 commented on #80
I seem to have Rokkos moving up reasonably working.  I need to port the fix to Rokkos moving down.  I won't have Internet for some days at my parents' place, so I'm not sure when I can push a fix.  Cross your fingers, as we will have to watch out for corner cases.

[2019-12-24 12:27] Quintus commented on #80
Very nice! Thank you!

You can always create a working branch and push that one -- it does not have to be complete. I do this often. When you're done with everything on your working branch, merge it into `release-2.1.0`.

[2019-12-24 12:34] Quintus commented on #650
Interesting. In this regard this is similar to the problem with the docks. It appears that such unusual modifications of the available screen space confuse something in TSC or its dependencies.

I actually suspect that we're looking at a bug in SFML. This needs further investigation (minimal reproducing example with just SFML). We're currently bound with the release work for 2.1.0, thus I think it

[2019-12-24 12:36] Quintus commented on #650
Or in CEGUI. In which case we'd need a minimal reproducing example with just CEGUI.

[2019-12-24 17:22] xet7 commented on #650
Some additional findings and details:

Having this bug requires:
1) Having host OS that has desktop resolution of 1440x900 (well, I'm running Ubuntu Mate host and Ubuntu Mate quest).
1) Running VirtualBox VM.
2) Ubuntu Mate 18.04 with desktop resolution of 1360x768 or smaller.
3) TSC in window mode, where TSC itself is 1024x786 plus above it TSC window titlebar, so it does not fit on screen.

Ther

[2019-12-24 17:38] xet7 commented on #650
@sydneyjd You don't need to mail DVD's etc, because here below is info how to duplicate this bug on any OS, without VirtualBox:
1) Desktop and TSC resolution same 1440x900 (or whatever you have available), TSC running in window. At TSC Options, select resolution and click Apply. This way, TSC does not fit on screen, because it has title bar at top.
2) To fix this, change TSC to run at fullscreen.

[2019-12-24 17:40] xet7 commented on #650
Oops, I fixed to above comment, that Linux desktop resolution and TSC resolution needs to be same, and TSC running in window, to duplicate this bug. No VirtualBox necessary.

[2019-12-24 17:40] xet7 commented on #650
Doh, duplicate bug I mean.

[2019-12-29 21:52] datahead8888 commented on #80
The fix I tried can fix the rotated  Rokko collision boxes but breaks rotated eato collision boxes.  I had tried adding an offset that is a fraction of each rectangle dimension, and not surprisingly this breaks other enemies.

Further options for research:
* See if the image dimensions are too wide for the Rokko collision boxes - I don't think the origin is probably where we want it
* Figure out w

[2019-12-30 08:51] Quintus commented on #80
Thank you so far for your investigations. Yes, please upload your code
for reference.

We can also consider working around the problem by:

* Making Rokko squared again. Someone would need to change the Rokko
  graphics.
* Disallowing upwards/downwards Rokko. They're not officially in the
  enemy editor menu anyway.

If a fix or workaround doesn't make it into 2.1.0, I'll list it as a
known proble

[2020-01-28 06:39] datahead8888 commented on #80
I implemented a hack at 6152fe71d0ba8be2d74e664014f478fa189bfb8d.  I forgot to cite the issue number in the commit.  See the comments there.

[2020-02-03 06:05] datahead8888 commented on #673
Can the HUD be resized and/or moved as an alternative?

[2020-02-03 06:09] datahead8888 commented on #669
We should probably eventually move toward having our own effects/style for the menu in order to be distinct from SMC, which can work with the idea of being translatable.  We could look to OpenGL for additional effects, though we will have issues with pixelation if we just enlarge images for zooming.

[2020-02-03 12:53] Quintus commented on #673
Am 02. Februar 2020 um 22:05 Uhr -0800 schrieb Chris Jacobsen:

Not really. The HUD encompasses the area from the top of the window
until the bottom edge of a possible message box. This is fine in level
play, but in the editor it's just in the way. I've earlier tried to
circumvent the problem with setting the "mouse passthrough" property to
true, but it somehow didn't work.

This problem can be so

[2020-02-08 12:27] Quintus commented on #669
I agree. These colourful menu items don't fit the more serious approach our game title follows. Changing the main menu to use our own style can be combined with making it translatable. I am going to open a new ticket for that and close this one.

[2020-02-08 12:34] Quintus opened #676 "New title menu"
When we forked from SMC, we changed the game title to "The Secret Chronicles of Dr. M.", settled on a different story, started exchanging (and adding new) graphics, and recently, we finally replaced the title theme (the melody that plays on the title menu). As it was discussed in #669, the current title menu does not fit our intended style for TSC any more -- it is much too colourful. We need a mo

[2020-02-08 12:34] Quintus commented on #669
Superseded by #676.

[2020-02-08 12:34] #669 closed, assigned to nobody

[2020-02-11 15:11] rezso commented on #644
git.guelker.eu not works:

fatal: unable to connect to git.guelker.eu:
git.guelker.eu[0: 92.116.18.163]: errno=no route

[2020-02-11 17:16] Quintus commented on #644
There was a small outage on my server. Things should now work again.

  -quintus

Am 11. Februar 2020 um 07:11 Uhr -0800 schrieb rezso:

--
Blog: https://mg.guelker.eu

[2020-02-12 10:08] penguin21 opened #677 "Error CMAKE: Missing tinyclipboard and pod-parser"
Hi, I have problems in the cmake when trying to compile the game, which says that there are no tinyclipboard and pod-parser dependencies. Please, can you fix this?

Code Log:
[code]

[2020-02-12 11:55] Quintus commented on #677
You need to run

  $ git submodule init
  $ git submodule update

before you start the compilation process. TSC uses Git submodules.
Please execute those commands, wipe the build directory, and then retry
the compilation.

  -quintus

--
Blog: https://mg.guelker.eu

[2020-02-12 11:59] penguin21 commented on #677
In the makefile disable the docs scripts,
but I was not allowed to download those gits for example the podparser entered the page and I get that there is no git page.
https://git.guelker.eu/pod-cpp/

[2020-02-12 18:46] Quintus commented on #677
Am 12. Februar 2020 um 03:59 Uhr -0800 schrieb penguin21:

This won't work -- there's no HTTPS serve for this server. You need
to use the git:// URL:

  $ git clone git://git.guelker.eu/pod-cpp.git
  Cloning into 'pod-cpp'...
  remote: Objekte aufzählen: 135, Fertig.
  remote: Zähle Objekte: 100% (135/135), Fertig.
  remote: Komprimiere Objekte: 100% (134/134), Fertig.
  remote: Gesamt 135 (Delta

[2020-02-12 20:33] penguin21 commented on #677
I start ubuntu to compile it for windows, and I get this.

[code]

Already having the openssl installed

[2020-02-12 20:43] xet7 commented on #677
@penguin21

# Linux

For Ubuntu 18.04 and Linux Mint and newer, TSC is compiled and run this way, running these commands in Linux:
[code]
Here in build.txt is how .deb packages have been made:
https://ftp.secretchronicles.org/build-deb/

# Windows

Windows installer packages are created in Windows using MSYS2:
https://github.com/Secretchronicles/TSC/blob/devel/INSTALL.md#vii-compiling-on-windows-w

[2020-02-13 07:52] Quintus commented on #677
Crosscompilation from Linux to Windows is not supported anymore since
quite a while. The INSTALL.md file was outdated in this regard. I have
removed this outdated piece of documentation with commit
a64678c1ba5e2a3e07f6c3441a58472753e4cefe. If you want to compile for
Windows, you need to do it on Windows itself using MSYS2. The native
compilation instructions for Windows in INSTALL.md should be cor

[2020-02-13 11:53] Quintus commented on #677
git pull -> git clone

Please excuse the typographic error.

  -quintus

--
Blog: https://mg.guelker.eu

[2020-02-13 12:51] penguin21 commented on #677
The cmake command does not exist in the msys. What do I do now?

[code]

[2020-02-13 13:12] xet7 commented on #677
@penguin21

Try:
[code]

[2020-02-13 13:34] penguin21 commented on #677
And now to try this command:

[code]

Edit:
In the name of the generator I put Unix Generator instead of MSYS Makefiles and I get this:

[code]

[2020-02-13 14:14] xet7 commented on #677
@penguin21

You need to install all dependencies for 32bit and 64bit builds.

[2020-02-13 14:49] penguin21 commented on #677
What dependencies did I all use these two commands:
[code]

And when I give it again the command gives me the same error again.

[2020-02-13 14:54] xet7 commented on #677
You also need all other optional and gui deps:
[code]

[2020-02-13 15:02] penguin21 commented on #677
I have all the dependencies and nothing. The same mistake.
I don't know what happens to line 19 if it's okay and the directory `cmake/modules` is there

[2020-02-13 15:05] xet7 commented on #677
@penguin21

If you have something old in build directory, you need to delete those, and then generate Makefiles etc again:
[code]

[2020-02-13 15:10] penguin21 commented on #677
Update: DW, I was the dumbest man I am had to have run `mingw64.exe` instead of `msys2.exe` and have done the cmake from there.
The install.md file said it but it did not literally say it is like saying run `cmd.exe` for example.

Still not working, the problem is that the CMAKE_C_COMPILER generator does not exist.
Please look for a way to get that error removed.

[2020-02-13 16:24] xet7 commented on #677
1. MSYS2 should be downloaded from https://www.msys2.org , with filename msys2-x86_64-20190524.exe .

2. In Windows Start menu click MSYS2 64bit / MSYS2 MinGW 64bit.

3. Then using that MSYS2 shell, you need to delete TSC repo, because you probably cloned it with non-MSYS git that does not work when building TSC:
[code]
4. Install all dependencies.

5. Clone repo and create build directory:
[code]

[2020-02-13 18:39] xet7 commented on #677
When I tried steps above on Windows 10, it did create installer file `TSC-2.1.0-win64.exe` to build directory, and that installer works.

[2020-02-13 18:41] xet7 commented on #677
I used all those steps of generating makefiles etc and `make package`, but not `make install` because I did not need to install game directly. I only wanted to create installer package.

[2020-02-18 07:44] #677 closed, assigned to nobody

[2020-04-07 16:49] xet7 opened #680 "TSC 2.1.0-RC1 Linux 64bit .deb version freezed at caching images 80%"
Hi,
when starting TSC, TSC freezes at `Saving images to cache` at 80% for many minutes. I'm still waiting for TSC to start. This is on Linux Mint 19.3 64bit, on Core 2 Duo 17" laptop that has SSD disk and 8 GB RAM, and also at another laptop that has non-SSD harddisk and 4 GB RAM. Does anyone else have same issue?

TSC does work for me on:
- RasPi4 4GB RAM
- Win7 64bit 4GB (same laptop where on Wi

[2020-04-07 16:51] xet7 commented on #680
How can I build non-debug release version of TSC ? Maybe that would help.

[2020-04-07 16:55] xet7 commented on #680
It seems that it happens at `Applying preferences stage`. I will try on other distros and kernels.

[2020-04-07 17:26] Quintus commented on #680
Am 07. April 2020 um 09:52 Uhr -0700 schrieb Lauri Ojansivu:

Pass this option to cmake: -DCMAKE_BUILD_TYPE=Release

and remove -DCMAKE_BUILD_TYPE=Debug of course.

[2020-04-07 18:36] xet7 commented on #680
It seems that on Ubuntu Mate 64bit with kernel 5.0.0-37-generic there is no freeze.

[2020-04-07 18:37] xet7 commented on #680
I mean Ubuntu Mate 18.04.04 LTS 64bit

[2020-04-07 18:51] xet7 commented on #680
When I installed updates, with Ubuntu Mate 64bit with kernel 5.3.0-46-generic  it freezes at 80%, using RC1 debug build.

[2020-04-07 19:06] xet7 commented on #680
When that freeze happens, it takes about 30 minutes, then TSC game main screen is visible and theme music plays.

[2020-04-07 19:18] refi64 commented on #680
Maybe helpful, try installing strace and run TSC from the command line but
prefix it with `strace -f`, it might show if there's a particular system
call / operation it's hanging on.

Also of course, if you can reproduce it with a debug build, pop it into gdb
and ctrl-c at some point when it's stuck, then bt for a backtrace.

On Tue, Apr 7, 2020, 2:07 PM Lauri Ojansivu <notifications@github.com>
wr

[2020-04-07 19:48] xet7 commented on #680
Does this help?

[code]

[2020-04-07 19:57] xet7 commented on #680
Some more...
[code]

[2020-04-07 20:28] xet7 commented on #680
Here are photos of various steps where TSC did get struck:

https://ftp.secretchronicles.org/misc/strace-tsc-images.zip

[2020-04-08 10:00] Quintus commented on #680
Does this only happen in release mode? It not: Please make a debug build
and start the game via GDB:

    $ gdb path/to/tsc

When it freezes, hit CTRL+C in the console. This will return control to
GDB. Then dump a backtrace:

Please post the result.

It looks to me like it was doing lots of I/O for whatever reason.

  -quintus

Am 07. April 2020 um 13:28 Uhr -0700 schrieb Lauri Ojansivu:

--
Blog:

[2020-04-10 10:10] xet7 commented on #680
First I pressed CTRL+C when it went to 80%, after that wrote continue, so desktop screen freezed and I had to `kill -9` it with ssh. This happens on Core 2 Duo laptop that has SSD disk, 8 GB RAM, Mint 19.3 64bit with kernel 5.3.0-46-generic. I translated some of the text to English.
[code]

[2020-04-11 06:25] Quintus commented on #680
Am 10. April 2020 um 03:11 Uhr -0700 schrieb Lauri Ojansivu:

Ah. It is stalling when the background images are loaded into CEGUI
(`load_background_images_into_cegui()'). This is understandable; the
backgorund images are our hugest image files. I assume it is the upload
to the graphics card which takes that long. The weaker your graphics
card, the slower the process will be. I assume your machine'

[2020-04-11 10:07] xet7 commented on #680
@Quintus

I'll try installing NVidia drivers to that Core 2 Duo laptop, to see does it help.

This freeze does not exist on my i5 desktop.

[2020-04-11 10:10] xet7 commented on #680
That Core 2 Duo laptop is currently using nouveau Open Source drivers 1.0.15-2 so I'm changing to NVidia-340 v340.107 driver.

[2020-04-11 10:13] xet7 commented on #680
And there is no big slowdowns on NVidia driver.

[2020-04-11 10:13] #680 closed, assigned to nobody

[2020-04-11 17:29] Quintus commented on #680
Am 11. April 2020 um 03:13 Uhr -0700 schrieb Lauri Ojansivu:

This is good to know. You should consider filing this as a bug against
nouveau then. Thanks for the investigation!

  -quintus

--
Blog: https://mg.guelker.eu

[2020-04-20 19:04] Quintus opened #681 "Tab bar in Options menu on Hi-DPI screens barely visible"
From [this mailinglist thread](https://lists.secretchronicles.org/hyperkitty/list/tsc-devel@lists.secretchronicles.org/message/U3RNG2F6G2HS46T5EDRQ66JF6LHPXTK4/):

 Öyvind Sæther:

Later in that thread it turned out the problem is related to Hi-DPI screens and does not appear at resolutions up to and including FullHD (1920x1080).

[2020-04-26 14:32] Quintus commented on #681
Probably fixed by d9a2340db9583a66e3cad30d66fc3d486a864d97, but leaving open until confirmed.

[2020-05-06 04:48] datahead8888 opened #682 "Alex Becomes Uneditable in Level Editor After Playing Level"
Begin editing a level.  Drag Alex to see that he is editable.
Begin playing the level with F8.
Now press F8 to edit again.
You no longer have the ability to drag Alex.

Obviously, it is now tracking the location of Alex in the played version of the level, but there is no reason it cannot allow the original Alex position to be moved.  Most players will assume the game is broken.

[2020-05-06 07:46] Quintus commented on #682
I can reproduce this, and I can confirm the editor tracks the current X/Y coordinates rather than the StartX/StartY coordinates as  hovering the mouse cursor over Alex' current position highlights the rectangle around his original starting position.

This won't get fixed in 2.1.0 (RC state), but in a subsequent release.

[2020-05-07 12:04] agrr opened #683 "Ubuntu package issue"
Hello,

tried to install version 2.1.0 RC2 on Ubuntu 20.04 with the suggested command:
``
sudo apt install ./TSC-2.1.0+packagename.deb
``
and there's a missing dependency: libboost-chrono1.71

After manually installing that package the game runs correctly, you should add the dependency at the package metadata level so that apt installer can pick it up.

Thanks

[2020-05-07 16:53] Quintus commented on #683
Thank you for finding this!

/cc @xet7

[2020-05-09 19:16] datahead8888 opened #684 "Full Lava Tile"
It would be good to have a lava tile that occupies an entire tile.
These could then be stacked and then combined with the current lava tile to create deep lava pits.

It might be possible to make these passive if the player never can touch them, but we could allow it to be either massive or passive to be safe.

[2020-05-10 07:27] Quintus commented on #684
Am 09. Mai 2020 um 12:16 Uhr -0700 schrieb Chris Jacobsen:

What is an "entire tile"? The lava element is actually pretty large
already, compared to other tiles (e.g., sand). Do you mean it should be
as large as an entire screen?

  -quintus

--
Blog: https://mg.guelker.eu

[2020-05-10 19:33] #683 closed, assigned to xet7

[2020-05-11 04:51] datahead8888 opened #685 "Position Cannot Be Set for Background in Level Editor"
For a level if you go to the background page, you cannot set the position x/yz values.
For any number typed, it will immediately be deleted.

Other fields ca be set by using the up and down arrows, but they, too, do not allow manual text entry.

[2020-05-11 04:53] datahead8888 commented on #684
Yes, you are correct -- I mistakenly assumed a uniform tile size without thinking.

What I meant is that there should be a lava tile that is a full rectangle.  The existing lava tiles do not work as well for stacking, since they a bit short and not straight across toward the top for the graphic.

[2020-05-11 06:16] datahead8888 commented on #628
Submission:
https://raw.githubusercontent.com/Secretchronicles/TSC/devel/tsc/data/music/story/theme_2.ogg

[2020-05-12 05:23] datahead8888 commented on #685
I was forced to set the y position manually in the level data file to adjust my background, so this will be impacting to level editors.

[2020-05-12 05:24] datahead8888 commented on #685
If we don't fix it in the release candidate, it otherwise might go into a bug fix release.

[2020-05-12 05:40] datahead8888 opened #686 "Reset Progress Message Box Does Not Respond to Game Controller Input"
Play a level individually using the game controller.
Finish the level.
You will return to the level selection menu.
Use the game controller to start the same level.
You will see a dialog about resetting your progress (which probably should not display at this point).
You cannot exit the dialog with the game controller.  You must either use the mouse or the keyboard.

[2020-05-12 05:42] datahead8888 commented on #686
It may be a bug, but it requires some discussion, as this is a level editing anomaly.

[2020-05-12 05:46] datahead8888 commented on #80
It is probably best for me to drop this for the time being.  I will not find time for it for a while probably.
If someone else wants to try this, I might be able to provide some advice here and there.

[2020-05-16 10:53] Quintus commented on #685
I cannot reproduce this. Note you cannot enter any numbers until you have actually added a background and then selected it in the list of backgrounds.

[2020-05-16 11:24] Quintus commented on #686
I have reproduced and fixed the problem. This was the first time since ages that I played TSC with a gamepad.

[2020-05-16 11:27] Quintus commented on #628
Indeed. We simply forgot to close this ticket.

[2020-05-16 11:27] #628 closed

[2020-05-16 21:12] datahead8888 commented on #685
I also see this editing lvl_1.  The numbers show for a very short moment then disappear.
Does anyone else see this issue - @xet7, @sydneyjd, @Luiji ?

[2020-05-16 21:33] xet7 commented on #685
@datahead8888

I tried. At first it does behave like that, so that numbers disappear.

But there is a trick to get it working:
1. Click Images/Add, so you get below number like 0.000110
2. Click that number like 0.000110
3. Change type to top or bottom
4. You can also change filename to select background
5. And change Pos X, Y, Z
6. Then click Apply.

[2020-05-17 03:50] sydneyjd commented on #685
If the Filename under Background is set to (None) I can reproduce this, but as soon as a file is selected everything seems to work properly. I expect this is normal behavior and not an issue.

[2020-05-17 04:18] datahead8888 commented on #608
If a player connects a controller while playing, it should probably autoselect it if none is selected.  Otherwise it's a bit tedious to go into the options menu and activate it.

[2020-05-17 04:42] datahead8888 opened #687 "Game Crashes Sometimes on Game Save"
I've found that after flipping a switch then saving, the game sometimes crashes.  Switches may or may not be related to the problem.

This is what I generally did:
* I flipped the switch in the Desert Fortress level (far right)
* I walked to the left where the blocks are activated.
* Sometimes I stomped and kicked the army.
* I then saved my game, overwriting the existing save game in slot 1, whic

[2020-05-17 05:22] datahead8888 commented on #687
I nailed the steps.

Exact steps to reproduce:
* Press escape in a level
* Choose Save
* Choose a Slot
* Press the Save Button
* If you press enter here it will not crash.  If instead you press the save button again it WILL crash.

[2020-05-17 07:33] Quintus commented on #608
Am 16. Mai 2020 um 21:18 Uhr -0700 schrieb Chris Jacobsen:

I do not think this is possible. SFML does not issue an event for the
connection of a controller.

  -quintus

--
Blog: https://mg.guelker.eu

[2020-05-17 07:35] Quintus commented on #685
Am 16. Mai 2020 um 20:50 Uhr -0700 schrieb sydneyjd:

It is. As I pointed out earlier, if nothing is selected, there is
nothing to position.

  -quintus

--
Blog: https://mg.guelker.eu

[2020-05-17 11:21] #686 closed, assigned to Quintus

[2020-05-17 11:21] #687 closed, assigned to nobody

[2020-05-19 04:37] datahead8888 commented on #687
Thanks for fixing this at the last minute.  I appreciate your diligence in knocking out issues as I kept finding them.

[2020-05-19 04:38] datahead8888 commented on #686
Thanks for fixing this - it's good to see the game controller able to control everything.
If I see any more related bugs, I'll file new issues for another release.

[2020-05-21 08:00] refi64 commented on #608
udev can be monitored for this on Linux, though I'm not sure about other
platforms & it's not something that's supported on Flatpak since udev's
protocol is not stable.

On Sun, May 17, 2020, 2:34 AM Marvin Gülker <notifications@github.com>
wrote:

[2020-05-26 00:39] programmingkidx opened #688 "Menus do not display anything"
All the in-game menus are missing their content. Save, Load, Options are empty.
I used the Windows 64-bit version of version 2.1.0.
My operating system:
- Windows 7 - 64 bit.

[2020-05-26 06:50] Quintus commented on #688
@xet7 -- can you try to reproduce?

  -quintus

--
Blog: https://mg.guelker.eu

[2020-05-26 09:14] xet7 commented on #688
@programmingkidx

Try this:

1) Exit TSC

2) Open File Explorer

3) Click Organize / Folder and Search Settings / Show

4) Select/Unselect following:
- [ ] Hide protected system files
- [ ] Hide known filetypes
- [x] Show hidden files, folders and drives

5) If you have made your own levels, move this folder to somewhere safe, otherwise just delete it, because it has cached files from older TSC ve

[2020-05-30 19:44] datahead8888 opened #689 "Directional Pad Inverted for XBox 360 Controller in Windows, 64 Bit TSC"
Playing on Windows 10 with the 64 bit version of TSC 2.1 and an XBox 360 controller, I've found that the up and down controls on the directional pad are inverted.  The joystick works as expected.

I did not see this problem in Ubuntu Linux.

We'd want these to work as expected by default.

[2020-05-30 19:46] datahead8888 commented on #689
@xet7 - Did a game controller work for you in Windows?  What type of controller did you use?  Do you have an XBox 360 controller?  It is a very common controller.

[2020-05-30 19:54] datahead8888 commented on #689
The default axis value for "Ver2" in the joystick tab of the options menu is 7, as documented here for an XBox 360 Controller in Windows:
https://wiki.unity3d.com/index.php/Xbox360Controller

No other axis value entered works.

[2020-05-30 20:32] datahead8888 commented on #688
This does not happen for me in Windows, even after reinstalling TSC.

[2020-05-30 23:48] xet7 commented on #689
@datahead8888

I have this gamepad https://github.com/Secretchronicles/TSC/issues/604#issuecomment-325116793

Works:
- Ubuntu 20.04 64bit
- Linux Mint 19.3 64bit
- RasPi4 Raspbian

Up and down inverted on those 4 buttons at left (maybe also left joystick, I don't remember did I test):
- Windows 7 Home 64bit
- Windows 10 Home 64bit

If someone fixes this, I can build new Windows installer packages.

[2020-05-31 06:42] Quintus commented on #688
Since nobody can reproduce this, we need more input from the OP. @programmingkidx can you post a screenshot? How did you install TSC? Is there something special about your system?

[2020-05-31 06:43] Quintus commented on #689
Aha, appearently a Windows problem with all kinds of controllers. Setting to confirmed; we'll see what we can do with it.

[2020-05-31 06:47] Quintus commented on #608
One could of course just poll the controller configuration via SFML again. That should work.

[2020-05-31 16:20] programmingkidx commented on #688
Options completely empty:
![options](https://user-images.githubusercontent.com/19289541/83357188-ded1aa00-a338-11ea-95b7-990e5d61c915.PNG)

Save completely empty:
![save](https://user-images.githubusercontent.com/19289541/83357217-0163c300-a339-11ea-8ca7-0853ddc47fb3.PNG)

[2020-05-31 16:22] programmingkidx commented on #688
I wouldn't say there is anything special about my system. It is just Windows 7 64-bit on a 2011 iMac.

[2020-05-31 16:32] Quintus commented on #688
Am 31. Mai 2020 um 09:22 Uhr -0700 schrieb programmingkidx:

Hmm. How did you install TSC?

[2020-05-31 16:47] xet7 commented on #688
@programmingkidx

Is this dual boot of Windows, so you boot Windows directly on hardware? Have you installed newest display drivers like NVidia or ATI ? If those are installed, it could be that your Windows install has something broken.

If this is on some virtualization software on top of macOS, then it's bug in that virtualization software. TSC does not run well in virtualization.

[2020-06-02 11:13] programmingkidx commented on #688
This is a dual boot system. I am using the Bootcamp drivers in
Windows. They are not new.

On 5/31/20, Lauri Ojansivu <notifications@github.com> wrote:

[2020-06-02 11:18] xet7 commented on #688
@programmingkidx

What display card model you have?

Is there newer drivers available?

[2020-06-02 11:23] xet7 commented on #688
@programmingkidx

You could try:
1) [Installing ccleaner free version](https://www.ccleaner.com/ccleaner) and doing cleanup with default options
2) [Use never10](https://www.grc.com/never10.htm) to disable upgrade to Win10, if you do not want to upgrade
3) Installing all Windows updates
4) Running ccleaner again
5) Rebooting
6) Trying to run TSC again

[2020-06-02 12:15] Quintus commented on #688
Am 02. June 2020 um 04:24 Uhr -0700 schrieb Lauri Ojansivu:

I have to say that I find these rather unhelpful suggestions. You're
basically shooting into the blue, xet7, and I am pretty confident that
nothing of this has anything to do with the issue reported by the OP.

To the OP: I am clueless. What I can diagnose is that it's exactly all
the CEGUI menus that are missing. Do you have a CEGUI log

[2020-06-02 13:20] xet7 commented on #688
@Quintus

Yes, those could be unhelpful, because I don't have much ideas left. It could be bug in display drivers.

I would think if @programmingkidx would install for example Linux Mint to that laptop, TSC could maybe work. But that's most likely too much work for just one game, and it's possible there is not enough disk space to add 3rd OS.

[2020-06-02 13:21] xet7 commented on #688
I don't even know are there good graphics Linux drivers for Mac laptops.

[2020-06-04 21:57] refi64 commented on #688
Hmm does TSC currently log anything to the command prompt on Windows? If
so, there might be useful info in there. Otherwise, I have no idea
what would cause this either.

On Tue, Jun 2, 2020 at 8:21 AM Lauri Ojansivu <notifications@github.com>
wrote:

--
Ryan (ライアン)
Yoko Shimomura, ryo (supercell/EGOIST), Hiroyuki Sawano >> everyone else
https://refi64.com/

[2020-06-05 10:03] xet7 commented on #688
TSC downloads are release builds, the don't show debug info. I will create debug build for Windows at this weekend.

[2020-06-05 22:09] xet7 commented on #688
I added Windows debug versions to https://secretchronicles.org Download page. They should show debug info, if I typed correctly that build command option (Debug instead of Release).

[2020-06-06 07:00] Quintus commented on #688
This needs to be run from a terminal probably to show that debug info.
I'm not sure how that works on Windows, as I'm a pure Linuxer.
--
Blog: https://mg.guelker.eu

[2020-06-06 07:36] xet7 commented on #688
When starting TSC, debug window opens, and shows debug text. Then with `Print Screen` key take screenshot to clipboard, paste it to Paint, and save to file, and add as attachment to this issue comment.

[2020-06-07 13:23] programmingkidx commented on #688
I am using Windows 7 Professional Service Pack 1 (build 7601).
- AMD Radeon HD 6770M with driver version 9.2.0.0 (default Bootcamp driver).

[2020-06-07 13:39] programmingkidx commented on #688
I installed your Windows debug build xet7. The menus are still empty. The cegui log file is attached.
[cegui.log](https://github.com/Secretchronicles/TSC/files/4742159/cegui.log)

[2020-06-07 21:55] programmingkidx commented on #688
While playing the game I saw this error:

Registering callback for event 'die' for MRuby object 592755637 of class 'Furball'
Registering callback for event 'save_load' for MRuby object 592770613 of class 'LevelClass'
CEGUI::UnknownObjectException in function 'CEGUI::Image& CEGUII::ImageManager::get(const CEGUI::String&) const' (C:/repo/mingw-w64-cegui/src/cdgui-0.8.7/cegui/src/ImageManager.cpp:261

[2020-06-08 09:22] Quintus commented on #688
I can't make anything of all this. The CEGUI log looks fine, and the
error messages you report are unrelated to the menu display. The mruby
callback messages are not even errors, it's a diagnostic from the level
script engine. The CEGUI error relates to the HUD, but not to the menu,
and the AL error is something with audio.

I fear we can't help you. Nobody can reproduce this obscure problem,
whic

[2020-06-09 10:31] programmingkidx commented on #688
Avoid CEGUI sounds like a good idea.

[2020-07-15 22:54] programmingkidx commented on #644
Hi, I tired cloning the repo and it timed out.

git clone git://git.guelkerdev.de/tinyclipboard.git
Cloning into 'tinyclipboard'...
fatal: unable to connect to git.guelkerdev.de:
git.guelkerdev.de[0: 91.195.241.136]: errno=Operation timed out

[2020-07-15 23:08] xet7 commented on #644
@programmingkidx

Sorry, that server is temporarily not available, and it will take some time when it'll be online again.

Meanwhile, I added those missing submodules to .zip files at here:
https://ftp.secretchronicles.org/submodules/

You see list of submodules this way:
[code]

[2020-07-16 17:36] rezso commented on #644
I think, you can add a github mirror for these submodules.

[2020-07-16 19:14] Quintus commented on #644
These submodules do not exist anymore in the current master and devel
branches. They have moved to the guelker.eu domain, which is perfectly
available. What are you trying to build?

  -quintus

--
Dipl.-Jur. M. Gülker | https://mg.guelker.eu |    For security:
Unna, Germany        | kontakt@guelker.eu    | () Avoid HTML e-mail
European Union       | PGP: see homepage     | /\ http://asciiribbon.o

[2020-07-16 19:29] xet7 commented on #644
@Quintus

I think those submodules at https://github.com/Secretchronicles/TSC/blob/devel/.gitmodules#L6 and https://github.com/Secretchronicles/TSC/blob/devel/.gitmodules#L15 were not available when they were trying to clone TSC for building from source. So this means there is new comments to this issue every time guelker.eu is unavailable, because those repos are not hosted at GitHub.

[2020-07-17 07:24] Quintus commented on #644
The poster said that modules from "git.guelkerdev.de" are not available. The
modules you linked to are from "git.guelker.eu". I suspect the OP has not
run $ git submodule update since a long time. This is a different issue
from the one reported originally in this thread.

"guelker.eu" is normally available. If you deem it necessary, you can
mirror the repositories as it's open-source software, but

[2020-07-17 18:30] Quintus opened #690 "Replace tinyclipboard with SFML"
SFML has recently gained support for accessing the [system clipboard](https://www.sfml-dev.org/documentation/2.5.1/classsf_1_1Clipboard.php). This should be used instead of my older homegrown tinyclipboard library to avoid the dependency.

This should be a rather easy task. It should be enough to replace all occurences of calls to tinyclipboard functions with calls to the new SFML functions.

[2020-07-17 18:31] Quintus commented on #644
I have opened #690 for replacing tinyclipboard.

[2020-08-20 17:01] programmingkidx commented on #688
Which version of CEGUI does the Windows version of TSC use?

[2020-10-06 02:01] iMacker2020 opened #691 "Macintosh version of TSC"
Hi, I just finished porting 'The Secret Chronicles of Dr. M' to Mac OS X. Here is the link: http://www.mediafire.com/file/ai6jvq7xmmjf8ey/The_Secret_Chroncles_beta_1.zip/file

I would like to see this program available on the game's download page. Please let me know if there is anything else I need to do.

Thank you.

[2020-10-06 09:07] xet7 commented on #691
@iMacker2020

Where is your TSC source code, with changes you made to get Wekan building for Mac? URL at GitHub?

Where is your build script and instructions how you did build TSC for Mac? URL at GitHub?

You did only provide binary package.

[2020-10-06 13:28] iMacker2020 commented on #691
Where is your TSC source code, with changes you made to get Wekan building for Mac? URL at GitHub?
- I could compress it and attach it to this issue. Did you prefer a clone of the tsc repo with my patches applied to it?

Where is your build script and instructions how you did build TSC for Mac? URL at GitHub?
- Please let me know how you would like to receive this info.

Thank you.

[2020-10-06 13:40] xet7 commented on #691
@iMacker2020

It would be best if you could [fork TSC repo and create a pull request](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork).

If you are not familiar with that, then it's also OK to add all those files in .zip file attachment to this issue.

[2020-10-06 18:04] Quintus commented on #691
Am Montag, dem 05. Oktober 2020 schrieb iMacker2020:

First, thank you for your work. Be sure that is valuable to us. Please
note, however, that we cannot accept contributions which are provided
only in binary form as xet7 has outlined. You need to provide the source
code so that we can include it into our code base. We need to review
code before we can make it available to everyone; reasons for t

[2020-10-10 22:24] donno2048 opened #692 "Portable version [feature request]"

[2020-10-10 22:27] xet7 commented on #692
@donno2048

For what operating system?

[2020-10-10 22:31] donno2048 commented on #692
Windows 10, oops...

[2020-10-10 22:42] xet7 commented on #692
@donno2048

I think you can create portable version yourself this way:
1) Install TSC
2) Copy directory `C:\Program Files\TSC` to your USB stick
3) On another computer, insert USB stick
4) Run TSC directly from `TSC/bin/tsc.exe`

[2020-10-10 22:47] xet7 commented on #692
@donno2048

Does it work with that way described above?

[2020-10-10 23:00] donno2048 commented on #692
Oh, so there is no additional installation?
I thought there is because there was no portable download on the site...
my mistake

[2020-10-10 23:00] #692 closed, assigned to nobody

[2020-10-10 23:04] xet7 commented on #692
I think installer is only for getting TSC icon to Start menu. For portable version, icon at Start menu is not required.

[2020-10-10 23:41] donno2048 commented on #692
Thanks!

[2020-10-14 00:49] iMacker2020 commented on #691
Sorry for the delay. Here is one patch I have made. I will post the rest when I finish them.
[resource_manager.zip](https://github.com/Secretchronicles/TSC/files/5374905/resource_manager.zip)

[2020-10-14 02:15] iMacker2020 commented on #691
Patch for generic.cpp:
[generic.zip](https://github.com/Secretchronicles/TSC/files/5375159/generic.zip)

[2020-10-15 20:55] iMacker2020 commented on #691
Rename the Rect function to mRect() patch:
[rename-Rect.zip](https://github.com/Secretchronicles/TSC/files/5387747/rename-Rect.zip)

[2020-10-15 21:13] iMacker2020 commented on #691
Ambiguous symbol fix:
[namespace.zip](https://github.com/Secretchronicles/TSC/files/5387851/namespace.zip)

[2020-11-02 17:47] PaddyMac opened #693 "linker can't find -liconv or -lintl on FreeBSD"
I'm trying to build on FreeBSD 12.2-RELEASE. I did install all the dependencies, and the libraries are located in /usr/local/lib. But for some reason cmake must not be properly handling things because when trying to compile, I get output like this:

patrick@xps400:/usr/home/patrick/work/TSC/tsc/build $ make
[  1%] Built target podparser
[  2%] Built target scrdg
[  2%] Built target scriptdocumenta

[2020-11-02 17:52] xet7 commented on #693
@PaddyMac

So you did install iconv etc? Does FreeBSD find those libraries, or do they need to be added to path?

For example on Ubuntu, when I like to use commands and libraries from Snap package, I do this to get mongodump and it's libraries to path:
[code]
Is there something similar for FreeBSD ?

[2020-11-02 18:30] Quintus commented on #693
Am Montag, dem 02. November 2020 schrieb PaddyMac:

Our FreeBSD build support is only experimental as we have nobody who
maintains it. iconv and intl are core libraries present on any Linux
system, but it may be they're missing the BSDs. We welcome anyone who
wants to maintain the FreeBSD builds, but as of now we cannot give much
help with it. If you find out where the problems arise from, please

[2020-11-02 23:29] PaddyMac commented on #693
I tried "export LD_LIBRARY_PATH=/usr/local/lib" and then running make again. The value was added to the environment, but it had no effect. I also examined the ../TSC/tsc/build/CMakeCache.txt to see what I could find. Frankly it looks like it *should* work unless maybe these aren't relevant to what is being linked when it fails. I'm attaching CMakeCache.txt in case you find it helpful to examine it

[2020-11-03 01:07] PaddyMac commented on #693
I enabled verbose mode and tried to build again. I see what the problem is, and I believe I know what needs to change to fix it, but I'm not familiar enough with cmake to know how to implement that fix.

The linker command line reveals that almost all of the libraries being linked are referred to by absolute pathnames (e.g. /usr/local/lib/libXext.so). Only four libraries are called with the -l fla

[2020-11-03 19:56] Quintus commented on #693
Am Montag, dem 02. November 2020 schrieb PaddyMac:

Thanks for investigating. It turns out that this is not CMake's fault.
In CMakeLists.txt, lines 222-224 we have this:

    if (CMAKE_SYSTEM_NAME MATCHES "BSD")
      target_link_libraries(tsc iconv intl)
    endif()

So this "cheats" cmake by specifying the libraries' names directly
instead of using cmake's find_library() mechanism, which would l

[2020-11-13 21:05] Quintus commented on #691
I apologise for the delay. Thank you for your provided patches. The
contributions look mostly good for me, but some changes are required in
order to get them merged.

You replace Tinyclipboard with CEUGI::Clipboard, which is probably a
good idea. I was not aware CEGUI contains a clipboard class; in fact, I
had been looking forward to use SFML's newly added clipboard support,
but if CEGUI supports

[2020-11-13 22:14] xet7 commented on #691
Here is combined patch, that is:
- with some whitespace fixes applied by me
- without clipboard changes and extra SFML include
- with changes from @Quintus applied

I did create patch with `git diff > mac-combined.patch` but I'm not sure is it a correct way to create a patch.

[mac-combined.zip](https://github.com/Secretchronicles/TSC/files/5539536/mac-combined.zip)

@iMacker2020 Can you provide i

[2020-11-13 22:41] xet7 commented on #691
It seems that in that precompiled Mac version of TSC provided, Mac did ask for permission for console app like TSC to capture clipboard data. So I presume clipboard code works. I'll try to do that clipboard code with ifdefs.

[2020-11-13 23:18] xet7 commented on #691
Here is updated patch that has:
- all of general patch added
- apple ifdefs and non-apple ifndefs added
- extra whitespace removed by xet7

[mac-combined.zip](https://github.com/Secretchronicles/TSC/files/5539706/mac-combined.zip)

[2020-11-14 01:36] xet7 commented on #691
@iMacker2020

I tried to figure out how to install all dependencies, but it seems I just got endless amount of build errors. I have no idea at all how to build this Mac version of TSC.

Can you provide step by step instructions about how to build TSC for Mac?

[2020-11-14 09:16] Quintus commented on #691
Am Freitag, dem 13. November 2020 schrieb Lauri Ojansivu:

I will look at your patches later on. For now, please give the `-u'
option to diff(1) when you create patches directly with diff(1). This
will make diff(1) use the patch format known from Git.

  -quinuts

--
Dipl.-Jur. M. Gülker | https://mg.guelker.eu |    For security:
Passau, Germany      | kontakt@guelker.eu    | () Avoid HTML e-mail

[2020-11-14 15:33] iMacker2020 commented on #691
I am working on the instructions still. It is almost done.

On Nov 13, 2020, at 8:36 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-15 21:20] boospy commented on #666
Today I installed the TSC 2.1.0-rc2 DEB package on my KDE NEON (ubuntu 20.04). Unfortunately I could not start the game because a dependency was not installed.

`tsc: error while loading shared libraries: libboost_chrono.so.1.71.0: cannot open shared object file: No such file or directory
`
After installing the libboost-chrono1.71.0 package. It started fine.

[2020-11-15 21:24] xet7 commented on #666
@boospy

Yes, 3 days ago I added that libboost-chrono dependency to Ubuntu 20.10 package https://github.com/Secretchronicles/main-website/commit/4dec10e13c15d287b5d6ac51902b0db99c680cc8 but it's still missing from other packages, I will update other packages in near future.

[2020-11-15 21:29] xet7 commented on #666
@boospy

Why old rc2? Official release of 2.1.0 is at https://secretchronicles.org/en/download/

[2020-11-15 22:24] boospy commented on #666
Sorry my fault. Wrong packages in my repo. :) :)

[2020-11-15 22:24] xet7 commented on #666
I checked all official .deb packages, and it seems only sid package had libboost-chrono missing. I'm currently uploading sid package.

[2020-11-15 23:30] xet7 commented on #666
Sid package is now uploaded and md5+sha256 hashes updated on website.

[2020-11-20 19:17] iMacker2020 commented on #691
I'm sorry about the clipboard not working. Maybe using SFML would be better. Hopefully a patch will be made one day to implement this.

[2020-11-20 19:19] iMacker2020 commented on #691
This file has the full directions on how to build TSC on Mac OS 10.8.
[TSC-files.zip](https://github.com/Secretchronicles/TSC/files/5575609/TSC-files.zip)

[2020-11-20 19:19] iMacker2020 commented on #691
Done. The zip file with the full directions has been posted.

[2020-11-20 19:23] xet7 commented on #691
@iMacker2020

Thanks! I'll try to build TSC for Mac.

[2020-11-20 19:40] xet7 commented on #691
@iMacker2020

How did to build that tsc-loader binary? Where is it's source code?

[2020-11-20 19:41] xet7 commented on #691
How did you create that .icns file?

Sorry I'm just a Mac newbie.

[2020-11-20 19:44] iMacker2020 commented on #691
I sorry but I lost the source code to the loader. Recreating it shouldn't be a problem. It just launched the tsc binary.

On Nov 20, 2020, at 2:40 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-20 19:46] xet7 commented on #691
Ok, I hope you recreate it and add source code file here.

[2020-11-20 19:49] iMacker2020 commented on #691
I don't record the exact details unfortunately, but I think I used a command-line program to convert a png file to icns. It might have been something like this: sips -s format icns input.png --out output.icns

On Nov 20, 2020, at 2:41 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-20 20:39] xet7 commented on #691
@iMacker2020

If that loader only launced tsc binary, could bash script also work for same purpose?

Is it possible to create universal binary that works on all PPC/X86/arm64 32bit and 64bit Mac computers?

[2020-11-20 20:50] iMacker2020 commented on #691
Yes, it is possible a bash script could also work. Maybe someone who is smarter than me could figure out how to make tsc run without any loaders :)

It is possible to create a universal binary. I use to be really big on keeping support for PowerPC. Now not so much. The thing is CEGUI has a requirement of Mac OS 10.7 or higher. So if someone is really determined, then CEGUI would need to be back po

[2020-11-20 21:28] xet7 commented on #691
If I remember correctly, at 2015 my PowerBook G4 running Lubuntu was not fast enough to run TSC.

I would presume MacPorts does not yet exist for ARM. Anyway, most likely x86 version of TSC runs just fine on ARM using Rosetta2, because ARM Macs and Rosetta2 work so fast.

[2020-11-20 23:19] xet7 commented on #691
@iMacker2020

How did you install Xcode 5.1.1 ? It says it's not compatible with Catalina.

What macOS and Xcode version you used, and how?

[2020-11-20 23:23] xet7 commented on #691
About this Cocoa part of your install documentation:

Here https://en.wikipedia.org/wiki/Xcode#5.x_series it says:

[2020-11-20 23:30] iMacker2020 commented on #691
I used Mac OS 10.8. Xcode 5 probably isn't compatible with Catalina. Sorry.

You could install Mac OS 10.8 in a virtual machine like I did. I used VirtualBox 5.0.40.

On Nov 20, 2020, at 6:19 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-20 23:33] iMacker2020 commented on #691
I don't think this would stop you. I didn't notice any problems pertaining to garbage collection.

On Nov 20, 2020, at 6:24 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-21 02:38] xet7 commented on #691
This Mac OS 10.8. seems to be legacy platform, similar to others like WinXP and Symbian: SSL errors in old browsers like Safari and curl. Only 3rd party webbrowser works, like Waterfox Classic browser works with SSL. Similarly like Mypal webbrowser works on WinXP. Currently I'm compiling CEGUI.

[2020-11-21 03:13] iMacker2020 commented on #691
It may be old, but it is gold.

On Nov 20, 2020, at 9:38 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-21 09:18] Quintus commented on #691
Am Freitag, dem 20. November 2020 schrieb iMacker2020:

We all make mistakes, it's okay. But tell me, does the clipboard
actually work with your patches on MacOS? I ask, because I don't have a
MacOS to test. Maybe xet7 could also test this, he appearently has
access to a Mac.

  -quintus

--
Dipl.-Jur. M. Gülker | https://mg.guelker.eu |    For security:
Passau, Germany      | kontakt@guelker.eu

[2020-11-21 12:31] iMacker2020 commented on #691
It does not work :(

On Nov 21, 2020, at 4:18 AM, Marvin Gülker <notifications@github.com> wrote:

[2020-11-21 15:41] xet7 commented on #691
@iMacker2020

I really appreciate all the hard work you have spent porting TSC to Mac. Even following those many documented steps to get TSC built for Mac is taking me some time, so I can only imagine how much time with trial and error you have spent with this porting effort. Thanks a lot!

[2020-11-21 15:45] iMacker2020 commented on #691
Thank you for your kind message.

On Nov 21, 2020, at 10:41 AM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-21 19:00] Quintus commented on #691
Am Samstag, dem 21. November 2020 schrieb iMacker2020:

Okay, thanks. Would you mind to try to replace your use of
CEGUI::Clipboard with sf::Clipboard instead? This should be pretty
straightforward, check the docs here: https://www.sfml-dev.org/documentation/2.5.1/classsf_1_1Clipboard.php

If you don't want to do that, I can do it. But probably not this
weekend.

And I agree with xet7, we absolute

[2020-11-21 21:22] xet7 commented on #691
@iMacker2020

I did get CEGUI built successfully.

After CEGUI, do I need to install X11 ? I don't see those `CEGUI_*_LIBRARY` settings in CMake, are they elsewhere?

![mac-x11](https://user-images.githubusercontent.com/15545/99887778-05213400-2c50-11eb-8060-e005b4f89dc3.png)

[2020-11-21 21:36] xet7 commented on #691
Anyway, I'm now installing XQuartz and I'll see what happens after that.

[2020-11-21 21:40] xet7 commented on #691
Ok, it seems that after installing XQuartz it shows those `CEGUI_*_LIBRARY` settings in CMake. I'll continue.

[2020-11-21 22:43] xet7 commented on #691
Mac git command did not understand https. So when I typed `sudo port install git` to install git from MacPorts, it seems to download and build git from source code :slightly_smiling_face:

[2020-11-21 22:48] xet7 commented on #691
It seems that https with git still did not work, but this worked without any passwords private ssh keys:
[code]

[2020-11-21 22:54] xet7 commented on #691
Hmm, it did let clone, but now there's this:
[code]
Well, maybe I'll download TSC repo in .zip file instead.

[2020-11-22 01:22] xet7 commented on #691
Wow, it seems that I got some audio related errors and then I just messed it up. Ok, I'll try again later.

[2020-11-22 01:22] iMacker2020 commented on #691
It does look like a very easy to use API. I'm not sure I can make a patch soon but whoever wanted to could do it easily.

On Nov 21, 2020, at 2:00 PM, Marvin Gülker <notifications@github.com> wrote:

[2020-11-22 01:24] iMacker2020 commented on #691
What were the errors?

On Nov 21, 2020, at 8:22 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2020-11-22 01:32] xet7 commented on #691
These, but I'll need to setup again some build options:
[code]

[2020-11-22 01:35] xet7 commented on #691
Well, first it complained that CEGUI.h, Audio.h and maybe some others were missing, so I moved those:
[code]
So maybe that messed up it. I'll try to configure again.

[2020-11-22 01:37] xet7 commented on #691
It could also be problem that I'm using Xcode 5.1 currently. I will install Xcode 5.1.1.

[2020-11-22 02:11] iMacker2020 commented on #691
That .in file isn't a C header file. I think the file you need is located here: cegui-0.8.7/cegui/include/CEGUI/CEGUI.h

On Nov 21, 2020, at 8:35 PM, Lauri Ojansivu <notifications@github.com> wrote:

[2021-01-13 18:29] iMacker2020 commented on #691
I made a new version of the loader. This is the program that launches tsc-main.
The program is small and easy to follow. Please let me know if you need more help with building this game.

[Loader.zip](https://github.com/Secretchronicles/TSC/files/5810434/Loader.zip)

[2021-01-13 20:44] xet7 commented on #691
@iMacker2020

Thanks a lot for creating a new version of loader ! I'll try it.

[2021-01-13 21:31] rezso opened #694 "mruby build fails"
The build fails with https://github.com/mruby/mruby/commit/a639a39883f95365e8f336cd4770c06f3d9aa87a:

FAILED: CMakeFiles/tsc.dir/src/audio/random_sound.cpp.o
/usr/lib/ccache/c++ -DBOOST_ALL_NO_LIB -DBOOST_CHRONO_DYN_LINK -DBOOST_FILESYSTEM_DYN_LINK -DBOOST_THREAD_DYN_LINK -I. -I/usr/include/SFML -I/usr/include/libxml++-3.0 -I/usr/include/glibmm-2.4 -I/usr/lib/glibmm-2.4/include -I/usr/include/glib

[2021-01-13 21:34] xet7 commented on #694
@rezso

What operating system version you are using?

Did you use scripts at TSC repo root directory to install dependencies and then build TSC ?

[2021-01-13 21:41] rezso commented on #694
Okay, with https://github.com/mruby/mruby/commit/1a9bdfcde5fd7c91e756747ba0565f29385115a7 (release 2.1.2) the build works fine :)

My "script" for build:

if [ -d .git ]; then
    git submodule update --init --recursive
else
    git clone https://github.com/Secretchronicles/tinyclipboard.git tinyclipboard
    git clone https://github.com/Secretchronicles/pod-parser.git pod-parser
    git clone htt

[2021-01-14 18:24] Quintus commented on #694
Errm, we ship mruby in a submodule ourselves. If you use any other version of mruby, you're on your own -- we cannot officially support this. To get a copy of TSC's repository with all submodules checked out, simply use

[code]

This will pull in all submodules and there is no need to issue any other Git commands. Please refer to [our INSTALL.md file](https://github.com/Secretchronicles/TSC/blob/d

[2021-01-14 18:24] #694 closed, assigned to nobody

[2021-01-14 18:29] Quintus commented on #693
This issue is actually low-hanging fruit for newcomers to the code. I'll properly tag it now and let's see what happens. It should be pretty easy to resolve.

[2021-01-14 18:36] rezso commented on #694
Just three notes:
1. I compile TSC from release tarball. In this case the recursive git clone from the TSC source not works, because the release tarball not contains the .git directory.
2. My 3 git clone commands is equal with recursive clone.
3. recursive clone will download dependencies with the latest commit. I tried this in first run, the .gitmodules or  your source tree on this repo doesn't c

[2021-01-15 08:05] Quintus commented on #694
Am 14. Januar 2021 um 10:37 Uhr -0800 schrieb rezso:

The release tarball does not need the .git directory because it
contains a complete checkout of mruby (and the other git submodules).
If you compile from the release tarball, no Git command is needed at
all.

With this you're actually right. I apologise; I just saw that you
linked to a specific commit of mruby and inferred you want to use that

[2021-01-15 08:15] Quintus commented on #694
[code]

Note the last few lines. Which is exactly what it is supposed to check out. For mruby, it's commit `1c09046c13fc0a763583c6da0f1d350f6c41c4ca`. Which matches what I have on my local machine for TSC and what Git says has been recorded with TSC commit 513c43799ad932b044bb2a4d2d367fd052b7b7e7:

[code]

Note: I've just pushed to the `devel` branch to revert a workaround we had while my personal

[2021-02-01 02:30] iMacker2020 commented on #691
Hi guys. Is there anything else I can do to help move along support for Mac OS?

[2021-02-01 19:26] Quintus commented on #691
Am 31. Januar 2021 um 18:31 Uhr -0800 schrieb iMacker2020:

I don't think so at this moment -- we're waiting for xet7 to retry.
I'm sure he'll do that, but you see, free-time constraints. Don't be
disappointed -- we will integrate this surely, it just takes time.

Since I do not have a Mac, I cannot test your proposals and need to
wait for xet7 to signal if things are okay. All I can do is look at

[2021-02-17 07:00] #690 closed, assigned to nobody

[2021-02-17 08:26] Quintus commented on #691
@iMacker2020 I have included your changes into a new branch [experimental-macos-support][1]. Please take a look at the diff to `devel` and tell me if I have overlooked something important.

As you might have noticed, someone else recently contributed the removal of tinyclipboard in favour of sf::Clipboard (ticket #695). I have taken the liberty to rebase your changes on top of said removal. Could

[2021-02-17 08:28] Quintus commented on #691
Link to the full diff: https://github.com/Secretchronicles/TSC/compare/devel...Secretchronicles:experimental-macos-support

[2021-02-21 00:20] iMacker2020 commented on #691
Thank you for this Mac support.

For the commit "Add explanatory comment to mRect() function", I think the comment should be formatted like this:

/*
 * Note: Calling this function Rect() causes a compilation error on MacOS due
 * to a symbol conflict, thus rename it to mRect()
 */

[2021-02-21 05:53] iMacker2020 commented on #691
On Feb 17, 2021, at 3:26 AM, Marvin Gülker <notifications@github.com> wrote:

I tried building this branch on Mac OS 10.8. I saw these errors related to the clipboard:

tsc/src/gui/generic.cpp:490:5: error: no member named 'Clipboard' in namespace 'sf'; did you mean 'CEGUI::Clipboard'?
    sf::Clipboard::setString(sel_text.c_str());
    ^~~~~~~~~~~~~

tsc/src/gui/generic.cpp:490:20: error: no memb

[2021-02-21 07:55] Quintus commented on #691
Am 20. Februar 2021 um 21:53 Uhr -0800 schrieb iMacker2020:

What version of SFML are you using? The clipboard [has been added][1] with
version 2.5.0. Earlier versions will not work.

  -quintus

[1]: https://www.sfml-dev.org/changelog.php#2.5.0-window

--
Dipl.-Jur. M. Gülker | https://mg.guelker.eu | PGP: Siehe Webseite
Passau, Deutschland  | kontakt@guelker.eu    | O<

[2021-02-21 22:20] iMacker2020 commented on #691
On Feb 21, 2021, at 2:56 AM, Marvin Gülker <notifications@github.com> wrote:

I was using version 2.4.2. After upgrading to 2.5.1 I was able to compile all the game with your patches. Copy and paste support doesn't appear to work but that isn't a big deal to me. There is only one place in the game I could use it (the save's description field). I tried using command-v in the description field but n

[2021-02-22 06:45] Quintus commented on #691
Am 21. Februar 2021 um 14:21 Uhr -0800 schrieb iMacker2020:

Very nice. Thank you for testing.

Actually the game has not that many places where one can really use
copy&paste. The most notable place is the level scripting editor. I
could imagine that key bindings are not set up everywhere for MacOS
and hardwired to CTRL+C, CTRL+V, though.

Good. Do we need to ship anything else beside the source c

[2021-02-22 11:18] iMacker2020 commented on #691
There are all the library files that the game depends on. These include SFML and CEGUI libraries.

The easy thing to do is to copy these files into the application bundle rather than remake them every time.

[2021-02-22 18:42] Quintus commented on #691
Am 22. Februar 2021 um 03:18 Uhr -0800 schrieb iMacker2020:

I fear we cannot include all of TSC's dependencies recursively into
the Git repository just for a single operating system, especially not
in a precompiled form, which would burst the already large repository
size even larger. I neither want to add Git submodules just for this
one operating system.

We also cannot just provide a blob of p

[2021-02-22 18:46] Quintus commented on #691
With regard to the original question of providing a binary download
for MacOS: I think this is @xet7's task as he is the only one of us
with a Mac available. Once he manages to compile the game for MacOS he
can upload the binary to secretchronicles.org.

  -quintus

--
Dipl.-Jur. M. Gülker | https://mg.guelker.eu |    For security:
Passau, Germany      | kontakt@guelker.eu    | () Avoid HTML e-mai

[2021-02-22 18:49] iMacker2020 commented on #691
Thank you.

[2021-08-19 18:57] ffaf1 opened #698 "Compiler error: conflicting types for ‘reserved_word’"
When building TSC-2.1.0 on Debian stable (bullseye), I get this error:

[code]

[2021-08-19 21:19] xet7 commented on #698
@ffaf1

I don't get any errors on Debian stable (bullseye).

[code]

[2021-08-19 22:00] ffaf1 commented on #698
I am following «Installing from a released tarball» instruction, because I downloaded TSC from a tarball.

In that section there is no mentio of running `gem`, just `cmake` and `make`.

Is there a way to install gems *not* as sudo? That would be appreciated for people who do not have root access (of if they do, they prefer not to mess with it).

Il 19 agosto 2021 alle 14:19 Lauri Ojansivu ha scrit

[2021-08-19 22:08] xet7 commented on #698
@ffaf1

Maybe this way?
[code]

Anyway, installing dependencies with apt requires sudo, so I don't know how useful this would be. There are various .deb/.exe etc packages here https://secretchronicles.org/en/download/ , if that debian package does not work, I could create newer package for Debian bullseye stable.

While there is also some code in repo for building flatpak version, I think it's not

[2021-08-19 22:09] xet7 commented on #698
I think those deb packages should install TSC menu options for all users on that computer.

[2021-08-19 22:42] ffaf1 commented on #698
With your instructions I managed to build it, thanks.

If your instructions could be incorporated in the INSTALL.md, I am sure many other users will benefit from them.

Il 19 agosto 2021 alle 15:08 Lauri Ojansivu ha scritto:

[2021-08-20 12:01] Quintus commented on #698
There are no RubyGems (gem command) required for building TSC itself.
Gems are only necessary if you want to build the documentation, which
is not built by default.

The problem originally reported looks to me as if we need to (once
again) update our included mruby package. I will later look into
reproducing the problem, but not in the next few days.

  -quintus

Am 19. August 2021 um 15:00 Uhr -0

[2021-10-24 15:25] jhonny-oliveira opened #700 "Missing releases"
Hi!

It seems the latest releases went missing (release tab), could you please recreate them? I'm packaging TSC for Ubuntu and my watch file relies on the releases to detect new versions. I need at least the last release.

Thank you!
Jhonny Oliveira
https://xtradeb.net

[2021-10-25 05:26] Quintus commented on #700
As far as I know, we have never used GitHub's release facility, so it's not the case that something "went" missing; it was never there. The releases are officially available from https://secretchronicles.org/en/download/ or alternatively from the Git checkout via tags. You can see the tags on GitHub here: https://github.com/Secretchronicles/TSC/tags

I don’t feel particularly drawn towards using a

[2021-10-25 19:44] jhonny-oliveira commented on #700
I'm quite sure it was there, otherwise I would have not been able to use it. Maybe, it was being generated automatically.
No matter, I will use the official source from now on.

Thank you!

[2021-10-25 19:44] #700 closed, assigned to nobody

[2021-10-25 19:52] xet7 commented on #700
@jhonny-oliveira

For current packages, there is no automatic builds. When there are major updates, I build manually on each OS and CPU with these build scripts https://ftp.secretchronicles.org/build-deb/ with Release build option, similar to these commands:

[code]

Some more build info at https://github.com/Secretchronicles/TSC/blob/devel/INSTALL.md

Currently Flatpak is not tested or published

[2021-11-20 13:13] somebody1234 opened #701 "publishing pkgbuild"
given that there's an arch linux pkgbuild in-tree it'd be nice if there was, say, a github action that published it to the AUR every time it's updated

[2021-11-20 13:19] xet7 commented on #701
@somebody1234

Currently all builds are done manually at each platform.

Does github actions support building for AUR and other platforms? Is there some example actions somewhere?

[2021-11-20 13:20] xet7 commented on #701
@somebody1234

Where is that arch linux pkgbuild? URL? Because I don't know, I have newer used Arch Linux, and I have never built any Arch Linux packages.

[2021-11-20 13:21] somebody1234 commented on #701
@xet7 aur doesn't require building - the pkgbuild is essentially an install script. it is [here](https://github.com/Secretchronicles/TSC/blob/devel/tsc/extras/archlinux/PKGBUILD)

[2021-11-20 13:23] somebody1234 commented on #701
but to be fair, it's worth noting it doesn't seem to work for me - it's missing cegui as a dependency, but also it seems to require the `CEGUI_USE_EXPAT` flag which is enabled in neither the version currently on the AUR, nor the version here

(current `cegui` for arch seems to be missing libxml completely for some reason)

[2021-11-20 13:24] xet7 commented on #701
That pkgbuild has old link, ftp server is not active anymore. Current releases are here:
https://ftp.secretchronicles.org/releases/

[2021-11-20 13:25] xet7 commented on #701
I have built packages only for those platforms where all dependencies exists.

[2021-11-20 13:25] somebody1234 commented on #701
good catch... very odd considering it seems to have been last updated this year (in contrast to the one on the AUR which was last updated in 2018 yet uses the correct https server)

[2021-11-20 13:26] somebody1234 commented on #701
(and again note that the PKGBUILD is an install script, not a package, so it does not require building. and i believe all the dependencies exist; when i said `cegui` is missing as a dependency i meant it's not listed in the PKGBUILD as a dependency.)

[2021-11-20 13:26] xet7 commented on #701
I think current way to build separate packages for each distro release is too much. Sometime I'll maybe figure out how to publish AppImage or Flatpak.

[2021-11-20 13:27] xet7 commented on #701
Or Snap

[2021-11-20 13:27] somebody1234 commented on #701
however i did try building it and now there's a small issue:
[code]

not that important though... i can just try debugging this one myself

[2021-11-20 13:28] somebody1234 commented on #701
as for appimage/flatpak/snap... i feel like those may not be ideal given that they generally have sandboxing which is kinda weird?

i believe quite a lot of places build for some kind of generic linux target. not quite sure how they do that though

[2021-11-20 13:36] xet7 commented on #701
## Building for Linux

On supported Linux platforms building does work like this, for creating local debug build:
[code]
For releases, it uses compiler flag `Release` and other file paths, with these build scripts https://ftp.secretchronicles.org/build-deb/

## Building for Windows

https://github.com/Secretchronicles/TSC/blob/devel/INSTALL.md#vi-compiling-on-windows-with-msys2

## Building for Ma

[2021-11-20 13:37] somebody1234 commented on #701
if this is in reply to the "building for some kind of generic linux target" part, no i meant they somehow produce a generic binary. maybe they're just ("just") statically linked

[2021-11-20 13:38] xet7 commented on #701
That generic binary target most likely is AppImage, that is one executeable file.

[2021-11-20 13:40] xet7 commented on #701
One AppImage works on most Linux distros on one CPU type, like amd64. It needs separate binary for other CPU, like arm64.

AFAIK Linux does not yet have multiarch binary package possibility like macOS does.

[2021-11-20 14:21] somebody1234 commented on #701
hmm... yea my bad - seems like most of the packages that provide generic linux releases seem to be in rust (which seems to be statically linked by default, which would explain it)

[2021-11-20 14:22] somebody1234 commented on #701
as for multiarch... not like there's any benefit tbh. i'd imagine you'd pretty much need twice the amount of code since the instruction sets are completely different... at which point it's probably easier to just make two separate binaries

[2021-11-20 17:33] xet7 commented on #701
@somebody1234

Statically linking means, that all required libraries (like .so or .dll) and optionally all other files (like images, music, etc) are included in the same executeable file, and are loaded from that file when executing app.

Files could be appended to:

a) After end of executeable file

b) Archived to .zip file that is appended  to end of executeable file.

That executeable file can

[2021-11-20 17:44] Quintus commented on #701
There is a [tsc package on the AUR](https://aur.archlinux.org/packages/tsc/), but it is not maintained by anyone of us AFAIK. It's unofficial and that there is a PKGBUILD in the repository is a reminiscence of me using ArchLinux several years ago. It should be removed entirely.

[2022-09-03 11:35] ghost opened #703 "debian 11 deb, missing dependency"
it is missing this dependency `libboost-chrono1.74.0`

[2022-09-03 14:30] ghost opened #704 "makedeb and mpr"
there's makedeb, a fork of makepkg for deb packages and mpr, the equivalent of the AUR for PKGBUILTs for deb.

You might want to be the maintainers of a tsc PKGBUILD there.

makedeb https://docs.makedeb.org/installing/apt-repository/
mpr https://mpr.makedeb.org/

[2022-09-03 14:43] ghost opened #705 "get-deb"
get-deb is an apt-get like cli application, in order to search and install debs.
https://github.com/wimpysworld/deb-get

If you publish standard github releases, it will be very easy to have and maintain tsc in deb-get application list.

[2022-09-03 18:40] ghost opened #706 "AppImage (was: a linux statically linked version)"
Look what happened to smc. They had only dynamically linked binaries for linux. For what ever reason, the project died, the source became uncompilable and the binaries became unusable.

Yea sure, by jumping through hoops you could restore it.... A statically linked binary should remain playable for a very long time with no maintenance. Quintus mentioned that statically linking could more easilly b

[2022-09-03 18:50] ghost commented on #703
Probably the real flaw, is that it's the wrong version, it sais it's the dev version, but the file was labeled 2.1.0 .
[code]

it's indeed the file with sha256 142dbea3abee8f494e98d21d3fd84bf86ce24ea022521853a27e2057aadaffa3

[2022-09-03 19:25] xet7 commented on #706
@pirate486743186

TSC does not use any graphics, audio, levels etc from Nintendo games. Nintendo has no reason to send nasty email.

I have not yet figured out how to make AppImage.

There is some flatpak code in repo, but I have not tested it yet.

PRs welcome.

[2022-09-04 03:48] refi64 commented on #706
Afaik you *cannot* fully statically link binaries on Linux that require OpenGL because the drivers need to be dynamically loaded.

[2022-09-04 07:43] Quintus commented on #706
It may be uncompilable currently, but with enough effort it should be possible to get the original SMC to compile again. The main problem is the old SDL1 dependency probably. I would rather suggest to simply use TSC instead, though.

I am a friend of static compilation, but for other reasons. With TSC I have repeatedly seen people struggling with getting the correct versions of all dependencies fo

[2022-09-04 07:46] Quintus commented on #703
The deb file is made by @xet7, so I'll assign this to him.

[2022-09-04 07:48] Quintus commented on #705
We cannot support all possible 3rd party tools out there. I would rather see TSC being included into official Linux repositories.

[2022-09-04 07:48] #705 closed, assigned to nobody

[2022-09-04 07:52] Quintus commented on #704
Like I said in #705, we cannot support all possible third party tools. This places additional burden on us, so unless a volunteer appears to maintain such a file, I see no way to get this into TSC. Working with the code is enough work already.

Once upon a time, there was a TSC PKBUILD for the AUR, but it seems that TSC is not listed in the AUR anymore. Appearently the maintainer gave it up.

[2022-09-04 07:52] #704 closed, assigned to nobody

[2022-09-04 11:33] ghost commented on #704
I was thinking that maybe @xet7 would be interested.

[2022-09-04 11:53] ghost commented on #705
What you need to do for this, it's simply to make github deb releases( github api) and don't change the format so that it can scrape the version number. The tool, has a function for github releases. If that ever breaks, the deb-get project will fix it. It will be harder to try and scrape the website (regex fun).

All that this tool does, is fetch the debs that upstream is providing. You just need

[2022-09-04 13:13] ghost commented on #706
gridwars didn't use any assets from geometry wars, he still got an unpleasant email.
Nitendo has a reputation of doing dumb shit with it's lawyers...

Yea sure, low level stuff are either very stable, either people will create wrappers for them. These are not a problem. (for example, there's a project to implement opengl on top of vulcan)

for the original gridwars binary, these are the dependenci

[2022-09-04 13:53] xet7 commented on #703
@pirate486743186 @Quintus

I have updated most Debian bullseye .deb packages today 04.09.2022 (2022-09-04):
- amd64
- i386
- arm64
- s390x

This link shows newest at top:
https://ftp.secretchronicles.org/releases/?sort=time&order=desc

I will later add ppc64le, and also Ubuntu 22.04 and Raspberry Pi OS packages, etc.

[2022-09-04 13:54] xet7 commented on #703
I will also later update website with those new md5 and sha256 hashes, that are already here:
https://ftp.secretchronicles.org/releases/?sort=time&order=desc

[2022-09-04 21:04] xet7 commented on #703
Released.

News In English:
https://secretchronicles.org/en/news/2022/09/04/tsc-for-jammy-and-bullseye-many-cpu-platforms-available/

News In Finnish:
https://secretchronicles.org/fi/news/2022/09/04/tsc-for-jammy-and-bullseye-many-cpu-platforms-available/

[2022-09-04 21:04] #703 closed, assigned to xet7

[2022-11-16 11:47] xet7 opened #707 "When the player character loses a life, the score resets to 0 ?"
Someone asked at email:

@Quintus Do you know about this?