[2015-04-14 19:08] Quintus opened #412 "New Nightfall music"
Probably a story music, by wansti. Available from his website:

* https://discarded-ideas.org/music
* Direct link: https://discarded-ideas.org/sites/discarded-ideas.org/files/music/windstille-nightfall.ogg

Licensed as CC-BY-SA 3.0.

Valete,
Quintus

[2015-04-14 19:08] Quintus commented on #97
Cf. #411 and #412.

Valete,
Quintus

[2015-04-14 22:44] DarkAceZ commented on #412
Yeah, that would work nicely for story music.

[2015-04-15 01:57] datahead8888 commented on #332
@Quintus - @Giby said he thinks the existing French translation is good enough for release-2.0.0
I can pull it from Transifex later when I get a chance.  Let me know if you (or anyone on the team) have any concerns with it going into the release.  He's had French translations out there for a while; he just can't test them himself, since he cannot build the game on his machine.

[2015-04-15 03:43] datahead8888 commented on #412
By story music you mean tutorial level music, correct?
The tutorial probably will have to introduce the story concepts.
@danfun64 - do you have any thoughts on this song?

[2015-04-15 16:23] Danfun64 commented on #412
It sounds too supertux-esque.
TSC's soundtrack as a whole seems less synthesized than supertux's. The only way that song could possibly work is as a remix.

[2015-04-15 16:55] datahead8888 commented on #412
My thought is that TSC is trying new styles out and that Super Tux as a game will eventually need a new composer other than just wansti.  Thus this will become less of a problem over time.

You're not the first person to bring up this concern, so we should probably not add this until there is more team discussion and hopefully some sort of agreement as to what we should do.

[2015-04-15 19:47] Quintus commented on #332
I’m fine with that. Just be sure to set the copyright notice correctly.

Vale,
Quintus

[2015-04-16 09:46] giby commented on #332
Hi,

So I cannot go further for I would need to play the game to see them in context, and I cannot install on OSX.
For the copyright, I could make it better… it would actually just need some setup, no time for that curently

[2015-04-16 11:08] #410 closed

[2015-04-18 18:01] kirbyfan64 opened #413 "Bug when loading tower_1"
If I try to go to level `tower_1`, TSC crashes and says the level filename is empty.

Also, when I finished the level before, the yellow dots showing the levels on the world map *disappeared*.

[2015-04-18 18:03] DarkAceZ commented on #413
Duplicate of #410 and has been fixed in devel.

[2015-04-18 18:03] #413 closed

[2015-04-18 18:06] kirbyfan64 opened #414 "Screen left in a horrible state if the game crashes"
If the game crashes (i.e. an exception is thrown), it leaves the screen how TSC set it. In my case, it left the screen an 1024x768 instead of my normal res, 1388x768. I'm guessing a catch block should be added in the main loop that resets the resolution to how it originally was.

Also, using `(void)` as the argument list (such as in `Init_Game`) isn't useful in C++.

[2015-04-18 18:29] kirbyfan64 opened #415 "Segfault after the first level in world 2 finishes"
I'm on HEAD. When I play level 2 and complete it, I get a segfault. Not sure if in affects anything, but I had *just* grabbed the ice berry (not quite sure what it's called) hidden in the windows at the end of the level.

[2015-04-20 00:47] datahead8888 commented on #332
Sorry guys...I may virtually have no time for TSC until Wednesday of next week...

[2015-04-21 08:11] Quintus commented on #414
This is legacy code. The codebase stems from over 10 years ago! Back then it was required for some compilers to indicate empty argument lists with `void`.

As for the main problem: I have noticed this also, but as part of our move to SFML this problem will probably resolve by itself.

Vale,
Quintus

[2015-04-21 08:13] Quintus commented on #415
Hmmm. I’m mainly working on the SFML stuff currently, but this might be something to look into. Can anyone try to reproduce?

Vale,
Quintus

[2015-04-21 09:15] Luiji commented on #409
We could be lazy and name her Alex, too. ;)

Alexander. Alexandra. One of those wonderful names with a version for both genders.

[2015-04-21 09:54] Luiji commented on #53
Note to self: remove italics commands from headings because they don't work within `code blocks`.

[2015-04-21 12:55] DarkAceZ commented on #53
Do the different ground types spawn different particle effects? (like when running/jumping on them)

[2015-04-21 14:29] datahead8888 commented on #53
I seem to remember people saying they did not want the .settings files in an xml format because it might make it a bit harder to manipulate them with scripts.

I understand the desire to have everything in xml rather than have some data in xml and some data not in xml, but I think it's worth talking some more before switching everything over.

[2015-04-21 15:38] Quintus commented on #53
Yes. Set it to `ice` and you’ll slide on it.

Vale,
Quintus

[2015-04-22 02:53] Luiji commented on #53
@Quintus I'll keep that in mind!

[2015-04-22 09:45] Quintus opened #416 "Gravity handling"
Currently, in TSC each object decides itself:

1. How quickly it falls (value of `m_gravity_max`), and
2. How fast it can fall down at maximum (exact implementation of `Update_Falling()`).

This leads to each object living in a separate universe with different physics. There should be one single gravity factor on each object (simulation of mass if you want), from which by means of some formula we

[2015-04-22 09:54] Quintus commented on #416
Actually, the above description of the current state of TSC is not exactly correct. Let me try again after a short sourcecode review.

The interesting method is `Update_Falling()` only for the level player, other objects use `Update_Gravity()` instead. Both use `m_gravity_max` as the means to figure out the maximum falling velocity. The falling velocity (TSC does not use acceleration for gravity e

[2015-04-22 09:57] Quintus commented on #416
For clarity, in my SFML branch I will replace the magic number with an ordinary member variable to make things easier to read.

Vale,
Quintus

[2015-05-04 06:34] pww71 commented on #30
Work to do a good job, must first sharpen his tools.
Here are some examples that can make you understand.
Hi
My English is not good and could you help me check this document error
Welcome to my space:
http://sourceforge.net/p/pwwhashmap/discussion/general/

Title:       The core of the core of the big data solutions -- Map
Author:      pengwenwei
Email:       wenwei19710430@yahoo.com
Language:

[2015-05-10 12:24] sauer2 commented on #415
I can't reproduce it.

[2015-05-10 20:06] Quintus commented on #415
Between major releases SFML should be stable. Have a look at the
Changelog for version 2.3:

  http://www.sfml-dev.org/changelog.php#sfml-2.3

Version 2.3 brings some new features and a number of bugfixes. SFML also
dropped a dependency (libsndfile), which is always something nice.

Updating thus should be flawless.

Vale,
Quintus

[2015-05-13 19:06] Quintus opened #418 "Image sets for the player"
I’m not sure why @brianvanderburg2 didn’t create `.imgset` files for the player, so here’s an issue to ask him :-). And ideally of course, add `.imgset` files for the player. The graphics in question are in the `pixmaps/alex` subdirectories.

Valete,
Quintus

[2015-05-14 22:35] kirbyfan64 opened #419 "My song screwed up!"
I just grabbed the latest version...and was playing...and heard NOTHING!!! Then I closed it and saw in my terminal:

    Last known SDL Error : Not an Ogg Vorbis audio stream

@datahead8888 was right when it crashed VLC...but I can't reproduce this at all outside of the game!

VLC says nothing.
ffmpeg says nothing.
libav says nothing.

Then I saw this in the ffmpeg docs (I used ffmpeg to trim the

[2015-05-18 06:02] datahead8888 opened #421 "Visual Studio Build Support..."
I'd be interested in getting TSC to build in Microsoft Visual Studio.

Aside from finding it useful myself, I think it might help bring some of the Windows programmers on board for the project.  We would probably target the express edition of Visual Studio.

Users would use cmake to generate a Visual Studio .sln solution file.  They could then build the application there.

This task may end up run

[2015-05-18 15:25] #419 closed

[2015-05-18 15:27] Quintus commented on #421
I leave this to those using MSVC and Windows. I can’t really be of much help here.

Vale,
Quintus

[2015-05-18 23:24] Luiji opened #422 "Visible error messages"
#419 shows something annoying about TSC right now: non-fatal warnings are printed to the console, which almost always only the developers have access to. We should have a graphical method of displaying these in-game so people don't have to restart the game in a terminal and inspect logs.

I wouldn't like a message box because if somebody's fine with e.g. broken audio they won't want to click "Cont

[2015-05-19 19:38] Quintus commented on #97
I am quite happy that @datahead8888 has noticed that ALL THE SONGS HAVE BEEN REPLACED. As far as I can see, we have no more Mario remixes remaining in the game. @kirbyfan64 had the last piece we needed.

If anyone still finds one, please mention it now. Otherwise I’m going to close this ticket.

Valete,
Quintus

[2015-05-21 06:52] Quintus commented on #422
Actually, the game occasionally _does_ display errors to the user using a method of the HUD class. You can try this for example by corrupting a savegame file and then trying to load it. It will print an error message both to the console and show one to the user. The one on the console is more detailed, but that’s probably correct.

Vale,
Quintus

[2015-05-21 10:33] xet7 commented on #396
Ok it seems that everybody has published their status. Closing #396.

[2015-05-21 10:33] #396 closed

[2015-05-21 17:52] datahead8888 commented on #97
I'd be interested in seeing the tutorial music replaced, since we removed the Mario-music version.  This is logged in task #355.  It is not, however, required for the release or even this task.  It's just something we can do if we know of a replacement, such as wantsi's music.

[2015-05-28 07:01] Quintus commented on #97
Great. That means we can close this issue now. Btw, thanks @xet7 for fixing the level music :heart:

Valete,
Quintus

[2015-05-28 07:01] #97 closed

[2015-05-28 07:31] Quintus commented on #406
I tried my hand on minifying the existing pipes (both the normal and the small ones) for the map, but it turns out that either will look bad on the map, because the size is so small that the outlines blur. It is required to design the pipes specifically for the map with thicker outlines and different lengths. While certainly possible, I have my doubts that this will be done anytime soon.

Suggesti

[2015-05-28 07:36] Quintus commented on #406
Here is a screenshot with the blue pipes replaced:

![pipes](http://team.secretchronicles.de/~quintus/stuff/pipes.png)

Valete,
Quintus

[2015-05-28 08:41] datahead8888 commented on #406
It certainly looks less Nintendo-ish.  @sydneyjd  - what do you think?

[2015-05-28 09:48] Quintus commented on #406
I should probably just have continued with my work. Have a look at how it looks with all the pipes replaced:

![All pipes replaced](http://team.secretchronicles.de/~quintus/stuff/pipes2.png)

Valete,
Quintus

[2015-05-28 09:51] Quintus commented on #406
This is now in `release-2.0.0` for anyone to try out. Actually I don’t think it looks bad anymore if you have all the pipes replaced.

Valete,
Quintus

[2015-05-28 09:54] Quintus opened #423 "Remove pipes from world map"
Even with ticket #406 closed soon, we ought to remove the pipes from the world maps entirely. It is not our style anymore, and while they may be used on special occasions, they should not be used to plaster the entire map with them, which just looks like Mario.

For this to work out properly, we’re going to need a lot more worldmap decoration than we have now. The state of the world map assets in

[2015-05-28 10:12] Quintus opened #424 "World 3 is broken"
Alex is placed on the wrong waypoint on entering.

Valete,
Quintus

[2015-05-28 10:26] Quintus commented on #406
The current state is releasable, so I remove the “Blocker” label. Before closing I want some more opinions, though.

[2015-05-28 10:39] #424 closed

[2015-05-28 11:19] sydneyjd commented on #406
No, they don't look bad at all.
I would have tried the pipes without the line, but these are fine also.

[2015-05-28 12:19] DarkAceZ commented on #406
They look nice, but the last segment that goes into the ground would look better if it didn't have the black outline. The black outline on the bottom there kind of takes away from the illusion of the pipe going into the ground.
Also, I wonder how they'd look if they were just a little bit bigger, or wider at least.

[2015-05-29 03:34] Luiji commented on #423
I agree. I was about to comment on #406 that the amount of pipes currently on-screen doesn't really match the levels. I don't think it even matched SMC, since the style's always been a bit more natural looking (in my opinion).

[2015-05-29 04:01] datahead8888 commented on #423
Eventually there won't be many pipes in levels at all.  We will only have them in levels such as factories were they seem natural.  Otherwise, we'd have things like logs, teleporters, etc.  Thus this will make sense for the map.  We may consider waiting until the levels have had their pipes removed, however.

[2015-05-29 04:06] datahead8888 commented on #423
Also...

At this link @Bugsbane suggests that the quality of most existing map graphics is poor:
http://forum.secretchronicles.de/topics/53

Bugsbane said:

I think it's also worth evaluating what style we want on the world map before any major revision effort is done.  We don't have to continue looking like SMC, either.  This probably won't go anywhere until we have more artists on the team again

[2015-05-29 07:10] datahead8888 commented on #406
As long as the pipes do not look Nintendo-ish and as long as they look reasonable, I propose we just go ahead and release as-is.  We seem to be reasonably at that point in my opinion.  We can always touch these up in a later release (if we haven't stripped them out yet).

We desperately need more contributors, which a release will help bring.  Even my recruiting efforts on forum sites will not be

[2015-05-30 09:07] datahead8888 commented on #421
I started playing around with this.  Currently I am blocked by a PkgConfig error.
[code]
This seems to be the main site:
http://www.freedesktop.org/wiki/Software/pkg-config/
--If necessary, I can start looking into a source build for pkg-config, but it will slow down this task a bit.

This discussion seems to talk about prebuilt binaries, but it sounds like it requires MinGW.  Is this the best way

[2015-05-30 20:38] Quintus commented on #421
pkg-config is such a small piece of software that you can just download and compile it yourself. To my knowledge it does not even have other dependencies than a C runtime. Just be sure to set the default search path compilation option for it to something where you actually place your libraries.

Vale,
Quintus

[2015-05-31 19:36] brianvanderburg2 commented on #418
I've created some image sets for the player and push them in a branch called vanderburg_player_imgset.  There are still other issues, some perhaps quite major:

* Loading the images with Add_Image_Set.  This is quite easy.  I've already changed the code, just haven't committed or pushed it yet. However, from looking at the original code that adds the images, it looks like the image positions for e

[2015-05-31 19:41] Quintus commented on #406
@DarkAceZ Yes, improvements are always possible. See #423 in this regard, or feel free to open another issue.

I close this now as the current state is releasable.

Valete,
Quintus

[2015-05-31 19:41] #406 closed

[2015-05-31 19:46] Quintus commented on #418
Okay, thank you for the info @brianvanderburg2 :-). In my ongoing effort to port stuff to SFML the code loading the graphics in `cLevel_Player` has to be revised anyway, so I take the opportunity and adapt it to use the same interface as every other sprite does also. Unifying this will keep future effort low anyway.

Vale,
Quintus

[2015-05-31 19:50] brianvanderburg2 opened #425 "Ideas for improvements to image sets."
I have also been having some optimizing questions with my image set code.  It stores the sets by name, which means each change has to do string comparisons to look up, which can be costly.  I thought about a change where Add_Image_Set would return an index, and Set_Image_Set would take an index.  It would internally use a std::vector instead of std::map.  In order to preserve compatibility, overlo

[2015-05-31 19:59] brianvanderburg2 commented on #425
An example code may look like this:

[code]

[2015-05-31 19:59] brianvanderburg2 commented on #418
Okay.  I also had some other ideas about image sets in #425

[2015-05-31 20:12] brianvanderburg2 opened #426 "Class name consistency"
There is inconsistency in many class names and file names, whether or not underscores are used, case, etc.

* cMovingSprite
* cMoving_Platform
* cImageSet
* etc

I personally don't see why underscores are used when CamelCase is being used but at some point it would be ideal to pick and and adapt the rest for consistency.  Maybe a policy should be defined for nested/related structures as well:

*cI

[2015-06-01 00:49] datahead8888 opened #427 "C++ Unit Testing Framework..."
This has been discussed for a long time, and it's time to make a task for it.
This is a task to make a unit testing framework that tests different modules of TSC, each with a pass/fail status.
Tasks:
- Choose a unit testing API
- Decide what modules to test (For now)
  - Quintus has suggested file loading / saving
    - Game saves / loads
    - Level/World saving/loading
    - Campaign Loading

[2015-06-01 00:56] datahead8888 commented on #415
This was a bug in the devel branch (and not the release-2.0.0 branch), correct?

[2015-06-01 21:21] Luiji commented on #421
@Quintus pkg-config depends on glib. For this reason many people install pkg-config-lite during bootstrapping functions. http://sourceforge.net/projects/pkgconfiglite

Personally I find it excessive for a tool like pkg-config to require glib when it does such a simple function.

[2015-06-01 21:25] Luiji commented on #426
The inconsistencies result in the age of the code base and the transition from SMC coding styles to TSC coding styles. Personally I agree with you in all regards, except that I don't think *any* class should use the c prefix (though I won't start up a vote on it -- simply not worth it).

I'd wait to correct these things until the branches get in a more stable state (e.g. there are less of them in

[2015-06-01 23:11] datahead8888 commented on #421
Yes, I remember reading that it needs glib to compile.  If pkg-config-lite lets me build TSC from source, I will just use that instead.  Thanks, Luiji.

[2015-06-02 05:44] datahead8888 commented on #426
I agree.  Prefixing everything with c seems funky.  I think we could just use CamelCase for everything (nested or unnested).  If we need them to be different we could make nonnested classes start with a capital letter and nested not start with a capital letter (ie. NonNestedClass and nestedClass).  @Quintus, what do you think?

Yes, we might wait until the SFML port is done before renaming classes

[2015-06-02 14:06] Quintus commented on #421
Luiji Maryo <notifications@github.com> writes:

Wat O_o. You are right. A tool so small like pkg-config should be
standalone and not have another dependency. I probably misread "glib" as
"glibc" in my package manager’s info, because I could hardly imagine
such a dependency on pkg-config.

Thanks for the link, I need to check it out.

Vale,
Quintus

[2015-06-02 14:14] Quintus commented on #426
I think you are right. The “c” prefix has its origins in the old SMC
code base, and it was superflous already there due to the
underscores. During my work with the old SMC codebase I came to the
conclusion the “c” was used to mark real C++ classes, whereas it was
left out for old plain C-style structs. Since I took up development it
got probably more inconsistent.

Also, some classes use underscor

[2015-06-07 04:14] datahead8888 commented on #421
pkgconfiglite worked quite well (and came with the binary).  I'll post back if I get stumped again later.  Thanks for the help.

[2015-06-07 11:59] datahead8888 commented on #332
PR #428 has been filed with the latest changes as of now.
I will see if it's possible to post screenshots of the French text in-game later (if someone can explain how to change the language).  Otherwise we can just merge it into devel and open a new PR if more French changes are made.

[2015-06-08 07:09] datahead8888 commented on #290
I realized the information in this ticket is non-conclusive right now.  This bug stopped *occurring* in the game when we restored the pipes to their original size.  However, the original bug that causes rewarps should happen in theory if the commit that changes the size of pipes originally is restored again.  Thus this ticket represents the underlying problem.  It might become more of an issue whe

[2015-06-08 12:29] datahead8888 commented on #332
Screenshots are now attached to the PR.

[2015-06-08 12:37] datahead8888 opened #429 "Game does not change language through dropdown until it is restarted..."
If you change the language using the in-game dropdown, you must restart the game to make it take effect.
This is a task to make the change take effect without restarting the game if possible.  If it is not possible, we could also make the dropdown initiate (or request) a game restart.

Steps to reproduce:
* Press escape to view the main game menu
* Selection "Options"
* Under tab "Game" you will f

[2015-06-08 12:42] datahead8888 commented on #79
@Quintus, did you suggest making a common class from which both Larry and Doom Larry inherit, or did you suggest having the doom larry class inherit from the regular larry class?

[2015-06-08 16:50] Quintus commented on #79
datahead8888 <notifications@github.com> writes:

I think the DoomLarry class should inherit from the Larry class, because
if you make a Larry class from which you have an OrdinaryLarry and a
DoomLarry derived, the OrdinaryLarry class would serve no purpose,
because it doesn’t specialise on the Larry common class in any way.

Graphically, this is what I recommend:

[code]

And this isn’t useful:

[

[2015-06-08 21:18] datahead8888 commented on #79
If we had both OrdinaryLarry and DoomLarry inherit from a Larry class, it would probably have to be an abstract class that eliminated common code between the other two.  I like the idea of having DoomLarry inherit from the regular Larry class, though, since it implies Doom Larries are overriding the normal Larry behavior (and doing something evil :P ).

[2015-06-09 02:05] datahead8888 opened #430 "Disregard...erroneous ticket..."
This was posted in error.  I have removed the details.

[2015-06-09 02:07] datahead8888 commented on #430
I am sorry.  I filed this in the wrong repository.  I would really like to delete this.

[2015-06-09 02:08] #430 closed

[2015-06-09 11:45] ardvark71 opened #431 "Alex doesn't die when falling into a bottomless area..."
Hi all...

As I've mentioned here at the TSC forum...

http://forum.secretchronicles.de/topics/254?page=1#p1207

Since installing Beta 8, a couple times when I've fallen off a cliff or a ledge into a bottomless area, Maryo doesn't die. Instead, he seems to drop below the bottom of the screen (and out of site) and I'm able to make him go right or left a short distance. While I'm able to shoot proje

[2015-06-10 04:38] datahead8888 commented on #431
@ardvark71, at what position were you on the screen before falling in each of the pictures?  If it's not feasible to get a picture that shows this, can you describe it?

What level and world are each of the screenshots from?

It could still be an opportunity with the camera or level design, but we'll know once someone reproduces it.

[2015-06-10 07:19] ardvark71 commented on #431
Hi Datahead...

I was able to reproduce the events just a few minutes ago in the same locations. They are both in World 2, the top screenshot (forest) is in "lvl_10" and the bottom one (pipes) is in "dj_kirby_1."

In the top screenshot, I fell off in the bottomless area just a hair left of what is shown in the screenshot but I could walk to the area that is shown.

In the bottom screenshot, I fell

[2015-06-10 11:42] DarkAceZ commented on #431
I believe I've run into this several times as well as @Quintus ... Still not sure what causes it, though.
It's a long shot, but perhaps it's caused by G-O-D mode? Were you using it at all in these game sessions? (hold the buttons 'G' 'O' 'D' while in-game to trigger funky GOD mode)

Only certain people have this access, which I think is a little strange on github's part. At least the issue starter

[2015-06-10 16:05] ardvark71 commented on #431
Hi AceZ...

No, I've used this mode before on Super Maryo Chronicles and I definately was not using it when these events happened. Actually, I've not used it once in Dr. M.

Thanks for adding the bug label, much appreciated. :-)

Regards...

[2015-06-10 16:28] Quintus commented on #431
I can confirm this bug exists, I have experienced it previously as well (even before beta 8 if I remember correctly). Last time I wanted to pin it down I was unable to reproduce it at will. Can anyone of you try to build a definitive guide to make this bug appear that works almost always? Please be as specific as you can, ideally with a step-by-step guide.

Yet another reason for switching off to

[2015-06-10 17:16] ardvark71 commented on #431
Hi Quintus...

You should be able to duplicate it especially on the second map, "dj_kirby_1," right where I indicated on the screenshot. Just fall off right to the left of the pipe that has the two sawblades directly to the right of it. :-)

Thanks!

[2015-06-10 20:34] sauer2 commented on #431
I had this bug too some months ago.

It probably happens after you get piped into another level.

Am 10.06.2015 um 19:16 schrieb ardvark71:

[2015-06-10 21:12] sydneyjd commented on #431
I noticed this bug in beta 7, but i thought it only showed up when i played around with GOD mode. aparently i was wrong.

[2015-06-11 02:47] datahead8888 commented on #19
I was just thinking on this.  In Super Mario Bros. 3, the magic whistles are completely hidden with no tracking, and many players never know about them until they read a strategy guide.  In this case it makes sense, since the warp whistles cause such a drastic change in the game (almost  cheating).

By contrast, alternate level exits expose major portions of content that the player will not be abl

[2015-06-11 08:49] datahead8888 commented on #19
Rereading the above discussion, I see the point about secret areas being used to denote secret exits (by placing a secret area marker over a secret exit).  I also understand that some alternate exits may in no way be hidden.

My concern with this approach is that many level creators will not read published level standards and will simply dump secret exits into levels, without even realizing they m

[2015-06-11 14:38] Quintus commented on #431
I can’t get it to reproduce. I play dj_kirby_1 until I come to the passage with the two stacked saws. I then let me fall off to the left of that pipe that has the saws attached to its right, and I get killed.

I need some more reliable reproduction info. Please, you all help me here?

Valete,
Quintus

[2015-06-11 16:07] sauer2 commented on #431
Did you get warped there from another level?

Am 11.06.2015 um 16:38 schrieb Marvin Gülker:

[2015-06-12 02:01] datahead8888 commented on #19
Actually, if we just go with the original idea of using color to denote the number of waypoints for levels, it should in theory be obvious how many exits there are in a level (or denote how many exits there are otherwise, if we allow more than 4 exits).  With this approach, it would be obvious where unexplored paths are, and it would not require stats tracking as we have discussed with the secret

[2015-06-12 14:27] datahead8888 commented on #431
I reproduced the bug in dj_kirby_1.
I consistently died when falling into pits in the level.  At this point I was saving my game and reloading each time, trying to reproduce it.  I then played dj_kirby_1_sub from the menu, beat that level, and then loaded my save point from dj_kirby_1.  At that point, jumping into a pit, the bug occurred.  I was able to produce this with the pit between any of the

[2015-06-12 17:00] datahead8888 opened #432 "Factory tileset..."
As @DarkAceZ pointed out in IRC, we have a factory music theme but no factory tile set.

We do have tasks for furbot (#108), compactors (#110), and conveyor belts (#109).  We need a general tileset, though.

[2015-06-12 18:47] Quintus commented on #431
O_o What a strange bug!

I can second what @datahead8888 said, and thereby validify @sauer2’s statement. To reproduce:

1. Start TSC
2. In the menu, select `dj_kirby_1_sub`.
3. Finish the level by entering the pipe on the left.
4. You are taken  back to the menu. Now load `dj_kirby_1`.
5. Play until you find any abyss.
6. Ensure you have God mode disabled. Jump into the abyss.
7. You do not die. I

[2015-06-12 19:04] Quintus commented on #431
If you have linking problems compiling older commits, use this CMakeLists.txt instead: http://team.secretchronicles.de/~quintus/stuff/CMakeLists.txt

Vale,
Quintus

[2015-06-12 19:51] Quintus commented on #431
`$ git bisect` found the problematic commit.

[code]

So now for fixing.

Valete,
Quintus

[2015-06-12 19:56] Quintus commented on #431
I won’t do this for now as I’m working on the SFML stuff. With the faulty commit being pointed out, fixing this should be easy.

Valete,
Quintus

[2015-06-12 21:35] Quintus commented on #415
We don’t know. @kirbyfan64, please add some more info!

Valete,
Quintus

[2015-06-12 21:37] Quintus commented on #332
#428 has been merged.

Valete,
Quintus

[2015-06-12 21:53] Quintus commented on #19
I can see the point of not tracking secret areas at all as @sydneyjd pointed out. It’s an effect of surprise when you read later that there are such secret zones. Thus, I’d not be strictly against to not track secret areas at all as well now.

Both that approach and the Supertux one seem fine. What about a compromise: We divide the terminology into "bonus areas" and "secret areas", where "bonus ar

[2015-06-12 22:27] datahead8888 commented on #332
@giby had said there was more work to do in the French translation.  We had decided the current file should be merged, since it was an improvement and so that other French speakers would gain visibility too it.  I think we might consider reopening this and leaving it open until giby translates 100% of the file.

[2015-06-13 06:36] Quintus commented on #332
datahead8888 <notifications@github.com> writes:

Okay, I’m fine with that.

Valete,
Quintus

[2015-06-13 13:47] datahead8888 commented on #332
I have reopened it.  I will follow up with giby.  He is pretty busy with his PhD, so it will probably take some time before he finishes it.

[2015-06-13 20:51] kirbyfan64 commented on #415
@Quintus Sorry! Haven't been playing games lately. Too busy fixing segfaults in my own programs...

I'm on the `release-2.0.0` branch, but I don't know if I was when this issue came up. I need to try again.

[2015-06-13 23:13] datahead8888 commented on #415
@kirbyfan64 - okay, let us know.

Also, let us know if you'd like to try a coding task or two some time :)  We're always looking for programmers.

[2015-06-14 04:18] datahead8888 opened #433 "Specifying More Detailed Contributor Info in the Credits..."
In authors.txt (the file used for the credits) is simply lists all people in broad categories.
It does not show the major role FluXy once had, that Quintus is the project leader, or that Luiji is the assistant project leader.  They are just "coders".

@Quintus said he changed it this way so that it would be easier to parse by the rake file that builds the credits cpp file.  We thus have two consid

[2015-06-14 11:09] Quintus commented on #433
I am fine with more info in the credits file. It should be doable by simply adjusting the way the `Rakfile` generates the `credits.cpp` file from it.

Valete,
Quintus

[2015-06-14 11:11] Quintus opened #434 "Port LevelPlayer to SFML"
Hi everyone,

this is the first of a series of issues I’ll open with regard to the SFML port. This one is the first, because basically all other issues depend on it.

I apologise that the issues will be opened infrequently when I come about them, but it’s hard to foresee what things are all needed.

This issue refers to implementing the levelplayer, `cLevel_Player`. Without it, you can’t really do

[2015-06-14 11:17] Quintus opened #435 "Port Music system to SFML"
The music system needs to be ported from SDL_music to SFML’s Audio module.

Cf. http://www.sfml-dev.org/tutorials/2.3/audio-sounds.php

Valete,
Quintus

[2015-06-14 11:18] Quintus opened #436 "Port Sound system to SFML"
The sound system needs to be ported from SDL to SFML.

See also http://www.sfml-dev.org/tutorials/2.3/audio-sounds.php

Valete,
Quintus

[2015-06-14 11:22] Quintus opened #437 "Port particle system to SFML"
The `cParticle_Emitter` class needs to be ported from raw OpenGL2 to SFML, probably utilising its vertex array features. There’s an [example on the SFML tutorial pages](http://www.sfml-dev.org/tutorials/2.3/graphics-vertex-array.php#example-particle-system).

Valete,
Quintus

[2015-06-14 11:26] Quintus opened #438 "Implement main menu for the SFML port"
Currently, the only things that work on the main menu are "Start" and "Quit", and the former only starts a debug level. Until #434 is done, that hould stay like it is, but afterwards it should be targetted.

Valete,
Quintus

[2015-06-14 11:28] datahead8888 commented on #431
This is now marked as blocker, since we have determined we cannot release until this issue is fixed.

[2015-06-14 11:30] Quintus opened #439 "Implement in-game menu for SFML"
A new scene should be added for the in-game menu that pops up when you press `Esc`. Due to the scene structure on the SFML port, reusing the menu scene for this might not be possible. Cf. #407.

Valete,
Quintus

[2015-06-14 14:07] sauer2 commented on #437
Can you refactor it in a way that it doesn't allocate the memory for
every single particle on its own?

Am 14.06.2015 um 13:22 schrieb Marvin Gülker:

[2015-06-14 14:35] datahead8888 commented on #437
You mean that it is running new and delete on each particle to spawn and destroy them rather than maintaining a pool of available particles, correct?

[2015-06-14 14:43] sauer2 commented on #437
Correct.

Am 14.06.2015 um 16:35 schrieb datahead8888:

[2015-06-14 14:45] datahead8888 commented on #437
The priority is getting it ported to SFML.  If this is easy to do and doesn't pose a risk, I don't have a problem with it unless someone else raises concerns.

I'm not sure if I'll have time to work on this or not yet; otherwise it will fall on Quintus/Luiji or whoever else helps out with the SFML port.  I will be very tied up through June 24.

[2015-06-14 14:52] Quintus opened #440 "New font for the game"
We should use a font that makes our game more unique. Currently, we just use plain old _DejaVu Sans_ for in-game text, and _DejaVu Sans Mono_ for the script editor. The latter can probably stay as-is, but for the ingame text I’d rather have something more interesting.

There’s a large list of fonts available, and there’s also the possibility to develop one font specifically for our game. For creat

[2015-06-15 02:22] Luiji commented on #432
I personally would love some factory level sets. I'd get into level design just to help populate a map.

[2015-06-15 05:20] ardvark71 commented on #431
Thank you all for looking in to this and to Quintus (and possibly others) for ascertaining the exact issue and, Lord willing, creating a solution. :-)

Regards...

[2015-06-18 16:40] #431 closed

[2015-06-18 18:46] ardvark71 commented on #431
Awesome, perhaps I can test this in a later release! Thanks! :-)

[2015-06-18 20:54] ardvark71 opened #441 "Changing the name of "funky god mode"..."
Hi all...

As requested here...

http://forum.secretchronicles.de/topics/256

I thought by changing the name of this, it would make the game more family friendly and, perhaps, more agreeable to Christian families/players. :-)

Perhaps a name like "super mode" or something similar to that.

Thanks! :-)

[2015-06-19 23:47] datahead8888 commented on #441
Yes, this can be viewed as pagan.  We have to be a bit careful, however - even the presence of magic is viewed as unacceptable in a game - some people view the Lord of the Rings as pagan.  If you think about it, though, all of the Mario games have magic at some level.  It is not possible to account for everything.  We certainly should be paying attention to this feedback, though, since TSC and Sup

[2015-06-20 03:33] ardvark71 commented on #441
Hi datahead8888...

Thank you for your thoughts and the invite! :-)

Regards...

[2015-06-20 17:05] datahead8888 commented on #337
We still need the SVG from Bugsbane if we use his version and need to be sure everyone is in agreement as to which version we use.  Thus no one needs to be assigned to this task for now.  We should discuss this in our next team meeting, unless we reach Bugsbane before then and come to a decision through the tracker.

[2015-06-20 17:07] datahead8888 commented on #298
No one needs to be assigned to this task for now, until we have a general team meeting to make a decision on this.

[2015-06-20 17:17] datahead8888 commented on #82
To my knowledge, @sauer2 implemented a change for this ticket a while back.

There is some related discussion about whether or not we made one of the levels too easy with these changes in: http://forum.secretchronicles.de/topics/256

We need to decide whether to add back any spike balls or whether to remove spike balls from some more levels.  Once any such changes are done (probably in devel if we

[2015-06-20 17:24] datahead8888 commented on #75
Related tasks: #56 and #58 - these are tasks to get the current set of user levels and maps into the server data repository.

I thought about closing those tasks and marking them as being superceded by this one.  However, this task may end up closed as soon as the server app is installed, and collecting all levels/worlds is something that will still need to be done.  I am open to other views on th

[2015-06-20 19:23] datahead8888 commented on #11
SFML is now intended as the replacement for SDL.  This task is now superceded by #105

[2015-06-20 19:23] #11 closed

[2015-06-20 19:27] datahead8888 commented on #105
This task has morphed into the SFML Port's master task.  I have changed the title to be more meaningful.  #55 (the OpenGL upgrade) and #11 (The SDL upgrade) have both been superceded by this task.

[2015-06-21 09:07] Quintus commented on #75
datahead8888 <notifications@github.com> writes:

I would suggest to close all of these tasks, create a new repository
under the Secretchronicles organisation for the server application that
for now only contains a small placeholder README, and re-open a task
regarding import of existing levels on that new repository.

Vale,
Quintus

[2015-06-21 09:57] datahead8888 commented on #75
This probably makes sense, but where is the repository for the server application?

[2015-06-21 09:59] datahead8888 commented on #75
However, this task probably has to stay open until the game is integrated with the server application.

[2015-06-21 10:10] Quintus commented on #75
Currently there is none. This is why I suggested creating a new one and adding only a placeholder README.

Vale,
Quintus

[2015-06-21 10:44] datahead8888 commented on #75
Do you think it is best not to add the code that you wrote for this earlier to it?  If not, do you want to do a complete rewrite and commit that instead?

[2015-06-21 10:46] datahead8888 commented on #75
Nevermind, it is at https://github.com/Quintus/smc-addon-website/tree/master/public, sorry.

[2015-06-22 22:53] Bugsbane commented on #337
Sorry I don't have time for much more right now:

"I give full permission for the secret Chronicles project, as found at http://GitHub.com/Secretchronicles to use any artwork (png's/jpg's/sketches/.svg files) created by me (including the SVG file linked to below), that I post on this projects sub pages (issues, files area etc.), past, present and future until further notice, under a creative commo

[2015-06-22 23:37] Bugsbane commented on #298
My take on it with "mouths instead of eyes" as I've talked about before to lose to SMB look, while keeping the friendly fun, "everything is alive" feel.

http://duruz.com/smiley-hedges.svg

[2015-06-23 07:31] Quintus commented on #298
Okay, I have downloaded it and stored it permanently on alexandria: http://team.secretchronicles.de/~quintus/store/smiley-hedges.svg

Thank you @Bugsbane! It’d be nice if you also answered @ardvark71’s questions over on the forum also: http://forum.secretchronicles.de/topics/256

I like your mouthed hill, but as this issue was a very heated discussion I’d like to see what the other ones participat

[2015-06-23 07:35] Quintus commented on #337
I stored it on alexandria: http://team.secretchronicles.de/~quintus/store/green-button.svg

Thank you for your hard and patient work for the game. It is great to have a skilled artist like you :-)

Vale,
Quintus

[2015-06-23 08:23] ardvark71 commented on #298
Hi all..

http://duruz.com/smiley-hedges.svg <--- I love it, too! You have my vote with this one! :-)

Regards...

[2015-06-24 16:20] Bugsbane commented on #298
I totally understand. If you with something else, that's fine. I just had a few minutes to spare - just enough to mock that up, but not enough so read pages of debate, so I thought I'd just post it, and "let the chips fall where they may" to use an English idiom (it means to accept whatever happens afterwards).

I posted a reply in the forum too, although I'm unlikely to see the replies until I ne

[2015-06-27 06:17] datahead8888 commented on #56
Superceded by https://github.com/Secretchronicles/server/issues/1

[2015-06-27 06:17] #56 closed

[2015-06-27 06:20] datahead8888 commented on #58
Superceded by: https://github.com/Secretchronicles/server/issues/2

[2015-06-27 06:20] #58 closed

[2015-06-27 06:23] datahead8888 commented on #75
The other 2 tickets are closed, and the server repository is created with a read me file.

[2015-06-27 15:52] datahead8888 commented on #246
The site scrape can be viewed at:
http://team.secretchronicles.de/~datahead/MyWebSites/index.html

We will probably want to make a new site scrape, run from the Alexandria server later.  Also note this one may have some dead linkes in it if you look hard enough.

I propose we close this task and open a new one for the Alexandria up-to-date scrape in the website repo.  We can worry about what direc

[2015-06-27 16:03] #246 closed

[2015-06-28 17:23] Bugsbane commented on #337
Do we need frames for it being pushed down, or will that be done in code? Using frames is probably quicker to do, but you could have it looking a lot smoother is there was code along the lines off "Lower button if it has a weighted object on it, otherwise make it slowly rise again." By "the button" I'm referring to only the green part, not the metal base. I can easily group the button and the base

[2015-06-28 17:34] Bugsbane commented on #333
Has this been replaced already? I noticed there are already some different,  rather nice looking vines in /pixmaps/ground/jungle_1/

[2015-06-28 17:39] Bugsbane commented on #236
Just an idea, for how we could fix a lot of these very quickly:

1. if I come up with a generic selection of mouths - say 6 - which wouldn't take long at all. Most I could rip from things I've already made.
2. We just open up the SVG's for everything with eyes, delete them and paste in one of the mouths. Possibly choose a new color to match.
3. Profit! :D

Yes it wouldn't be perfect, but it would

[2015-06-28 17:43] Bugsbane commented on #228
This has been done if I'm not mistaken. When I last played the game it didn't sound like Mario coins any more... Should it be marked as closed?

[2015-06-28 17:52] datahead8888 commented on #236
We might need to come to a decision on #298 before redoing all the hills.  Whatever gets decided on the hedge ticket is probably going to set a rule or partial rule.

We really need to get a team meeting scheduled soon to discuss stuff like this and bring it all to resolution.  We also need to decide on the story, which means I'm going to need to finish reading danfun64's drafts -- I've just been

[2015-06-28 17:54] datahead8888 commented on #298
I'm honestly a little hesitant to put mouths on hills, but I might be able to be convinced to change my mind.  Mouths work really well on the blocks, but I'm not sure on hills.  I'd like to discuss it with Sydney later when there's some time.

[2015-06-28 18:00] datahead8888 commented on #118
How does scripting.cpp make use of the cTimer class generally (mrb_timer.cpp)?  I was reading through it, and I'm guessing I was missing an abstraction or configuration earlier.

[2015-06-28 18:30] Bugsbane commented on #228
Here's a basic attempt. Hey, I'm more of a graphics than a sound guy, but at least this one's legal. :)
[Fruit power up sound - OGG](http://crowdfundingdojo.com/temp/chime-chomp.ogg)

I can supply an audacity AUP file for sources if desired (really we should collect these, just as we collect Inkscape SVG's for graphics)

[2015-06-28 18:45] Bugsbane commented on #161
Agreed on using svgz. We really do need to have an easy way of finding the svg file that made up a particular png though. Imagine if every time you wanted to make an edit to the code, and all of the files were organized into folders based on who wrote them, and most of them, usally all in one big folder, and most of them were missing. That's basically what we have now with art assets, and it heavi

[2015-06-28 18:47] Bugsbane commented on #298
Sure. I'd say, all we can do is try it, and see if we like how it looks (before committing). Until then, we're just imagining if it would work or not.

[2015-06-28 18:54] Quintus commented on #118
datahead8888 <notifications@github.com> writes:

There’s a large comment in mrb_timer.cpp starting at line 102 (in
“devel”) that explains the entire mechanism. If this leaves open any
questions, please ask. Beware the comment might not be entirely
up-to-date, but the general mechanism shouldn’t have changed. Fix
outdated info when you come over it.

The important methods in scripting.cpp are
cMRub

[2015-06-28 18:56] Quintus commented on #236
As I indicated, I’m not opposed to the mouths idea. I don’t remember
anything like this in other games, and it looks fairly nice.

Valete,
Quintus

[2015-06-28 19:05] Quintus commented on #337
There’s no C++ code for the switches. They’re entirely controlled by
scripting, including change of the graphic when stumped on. TSC provides
a rudimentary default implementation in the SSL
(<http://www.secretchronicles.de/docs/2.0.0-beta8/ssl/Std/Switch.html>),
but a level writer is free to code all the logic himself instead. Thus,
no changes in C++ code are required. The SSL implementation howev

[2015-06-28 19:29] datahead8888 commented on #298
Good point :)

[2015-06-28 19:45] Bugsbane commented on #333
While it's not a fix for Mario also having vines, just replacing pixmaps/ground/green_1/kplant.png with pixmaps/ground/jungle_1/vine_middle.png, as well as replacing pixmaps/ground/green_1/kplant_head.png with pixmaps/ground/jungle_1/vine_middle.png is a 10 second change that still works, and gets things looking *less* like Mario. I suggest looking at this screenshot at full size:

![newvine](http

[2015-06-28 19:49] kirbyfan64 commented on #333
As a replacement, how about using ladders? They're not Mario-esque at all; I've seen them used in places from Kirby to Final Fantasy.

If you want something more unique, you could use some kind of rope or a pole with horizontal sticks in front (for climbing).

[2015-06-28 19:52] Bugsbane commented on #337
You just made my head explode.

Ahhhh.... no.

Is it possible that my head could have exploded a second time?

This part I get. SO how many frames do you need? Just up and down, or multiple inbetween frames (how many)?

[2015-06-28 20:04] kirbyfan64 commented on #337
@Bugsbane You don't know Ruby, do you? :)

[2015-06-28 20:09] Bugsbane commented on #337
@kirbyfan64 Sure! That's those red rocks that come out of the ground, right? Why do you ask? ;P

[2015-06-28 20:13] datahead8888 commented on #337
I'm a programmer, and I don't really know Ruby very well either :)

@Quintus, if we add more frames, yes, it could be done through scripting now, but it might make sense to add some sort of C++ support eventually.

[2015-06-28 20:13] Bugsbane commented on #333
I think ladders would work all right. I mainly suggested this as a quick interim hack, to be swapped out when *someone* (*Bugsbane whistles and looks around the room for any other artist*) creates a ladder graphic. IMO, this is a perfect Junior (artist) job.

Funny you should suggest that. I was actually thinking the same. I think it would be less obvious that it was for climbing than a ladder, bu

[2015-06-28 20:17] datahead8888 commented on #333
I think vines are fine, but:
1) They should look different than Mario games
2) They probably should not shoot out of blocks

Thus shooting ladders out of blocks you hit with your head is a good idea.  Vines could then be static objects that add variety elsewhere in levels.  We might think about what other climbable objects would work in the game, but they will not be a priority for de-Marioization

[2015-06-28 20:23] Bugsbane commented on #103
It would be good to update this with which items are still outstanding, and which are closed.

From my quick survey, it seems that the only ones left undone are:
#77  - Replace turtle boss with something based on army
#228 - Replace fruit collection sounds (I've posted a possible draft here)
#236 - Hills replacements (although if this is necessary as they've had the eyes removed already, I'm not s

[2015-06-28 20:25] Bugsbane commented on #333
I'm inclined to agree with keeping vines already in the game, but replacing ones coming out of blocks. The only issue is that currently both use the same tileset unless I'm mistaken, so this will need some code change as well as graphics.

[2015-06-28 20:29] datahead8888 commented on #333
We could just add "Feature" to this ticket to signify the need for coding.

@Bugsbane and @kirbyfan64 - join us in IRC - #secretchronicles on freenode.net

[2015-06-28 21:30] Bugsbane commented on #333
Test with a ladder:
![2](https://cloud.githubusercontent.com/assets/401733/8398414/526b15a4-1dbb-11e5-9d1c-f17ee6bd670e.png)

[2015-06-28 22:06] datahead8888 commented on #333
This ticket has been marked "Feature" to signify the code change needed for having ladders come out of boxes and vines that are only static.

[2015-06-28 22:19] datahead8888 commented on #103
I'm definitely looking forward to the new turtle boss replacement :)

[2015-06-28 23:11] Bugsbane commented on #333
(Ladder svg)[http://duruz.com/ladder.svg) if someone wouldn't mind committing it (it needs to replace /pixmap/ground/green_1/kplant.png from memory)

[2015-06-29 00:20] datahead8888 commented on #161
We really should look at organizing the svg's based on content type and not author.

Perhaps we could have a separate folder that contains a hierarchy of links pointing to these content-organized-svg's.  This would allow people to browse by author if they wished.  It would have to be maintained, however.

[2015-06-29 04:34] datahead8888 commented on #228
Honestly, I have a bit of trouble seeing this in the game for power ups, but it depends on what type of sound theme we're going for.  I'm open to other views, though.

[2015-06-29 06:07] Bugsbane commented on #79
Ladies(?) and Gents,

I present to you, Doom / Evil Larry:
![action](https://cloud.githubusercontent.com/assets/401733/8401814/7195d2c4-1e02-11e5-99aa-4055ebfb4dd3.png)

And [here](http://duruz.com/evil-Larry.tar.gz) is a tar.gz of the frames.

[2015-06-29 06:19] Bugsbane commented on #228
Yeah, I don't love it that much myself. I figured I'd give it a shot, even if just to spur conversation about what it should be.

[2015-06-29 06:22] datahead8888 commented on #228
Even if it doesn't get used for power ups, it can certainly be used somewhere in the game.  Thanks for submitting this, either way :)

[2015-06-29 06:58] datahead8888 commented on #193
Bugsbane posted these revisions:
http://duruz.com/larry.tar.gz

TO DO: Upload to Alexandria server.

Licensing statement: https://github.com/Secretchronicles/TSC/issues/337
"I give full permission for the secret Chronicles project, as found at http://GitHub.com/Secretchronicles to use any artwork (png's/jpg's/sketches/.svg files) created by me (including the SVG file linked to below), that I post

[2015-06-29 07:35] Bugsbane commented on #193
I give full permission for the secret Chronicles project, as found at http://GitHub.com/Secretchronicles to use any artwork (png's/jpg's/sketches/.svg files) created by me (including the SVG file linked to above), that I post on this projects sub pages (issues, files area etc.), past, present and future until further notice, under a creative commons CC-BY 4.0 license.

[2015-06-29 07:44] Bugsbane commented on #161
Most of the time what I really need, is to be able to find the SVG that was used to make a specific PNG pixmap. What would speed that up would be SVG's with the same file name (barring file extension) in an identical folder structure, rather than just throwing all the SVG's together in some other folder structure that has logic, but doesn't match the use case .

For example, the SVG that made /pix

[2015-06-29 08:15] Bugsbane commented on #337
Up and down frames as well as the SVG:
At [this](http://duruz.com/power-switch.tar.gz) link.

I give full permission for the secret Chronicles project, as found at http://GitHub.com/Secretchronicles to use any artwork (png's/jpg's/sketches/.svg files) created by me (including the SVG file linked to above), that I post on this projects sub pages (issues, files area etc.), past, present and future u

[2015-06-29 09:07] Bugsbane commented on #264
[Alex frames download link](http://duruz.com/alex.tar.gz)

Alex frames with the "M"'s removed. I didn't do the ice frames as there's no M visible there, or the FLying Alex frames, as to my knowledge this is a feature that isn't implemented in the game anyway (and by the time it is, we may have different character graphics).

![walk_right_2_holding](https://cloud.githubusercontent.com/assets/401733

[2015-06-29 17:13] Quintus commented on #337
Bugsbane <notifications@github.com> writes:

Fairly enough :-). Okay, from the beginning: TSC comes with a scripting
engine that allows the level author to diverge from the standard TSC
gameplay. datahead used this to create a draw bridge, and I often use it
for switches. If you play the tutorial level, you’ll see sauer2 used it
for showing messages to the user. In one of the new “quintus_*” level

[2015-06-29 17:21] Quintus commented on #161
Bugsbane <notifications@github.com> writes:

I fully agree with this. We should just reorganise the drafts in such a
way that the folder structure mirrors the folder structure under
data/pixmaps. That way it’ſ easy to find the target SVG if available. Still,
the drafts should go into a separate repository to reduce the size of
the main repository, especially when we start adding music/sound source

[2015-06-29 19:32] datahead8888 commented on #161
Yes, maintaining a separate folder structure based on authors with links to the main entries organized by content type would probably be too tedious to maintain.  People can use search tools if they want to find an author's works.

[2015-06-29 22:57] Bugsbane commented on #337
Seems to me that if there's no need of any specific number, that two, just like what we already had, is probably simplest. If we don't actually need more, then we can just close this with the two frames I've already posted.

[2015-06-30 01:01] datahead8888 commented on #193
@Bugsbane - your posting in #337 was enough for licensing, but I went ahead and linked to it because it was hard for me to find.
If you just make this same posting at: http://forum.secretchronicles.de/topics/227
...it will guarantee no one gets confused in the future.

These graphics changes are uploaded into the new "NewLarries" branch in github.
A video of the new Larry sprites in action is at:

[2015-07-02 02:31] datahead8888 commented on #79
Bugsbane's graphics for Doom Larry are now committed in the NewLarries branch, which has been pushed to github.  I will do another commit later for the settings files that also attributes Bugsbane as the author.

[2015-07-02 03:22] datahead8888 commented on #193
@Quintus - what explosion sprites do we need in order to have a "proper" explosion animation, or do we still need additional explosion sprites?

Might it be possible instead to build a particle emitter with 4 particles, where each is 1/4th of the Larry body, each being flung out in a different direction during an explosion?

[2015-07-02 05:03] Bugsbane commented on #193
...it will guarantee no one gets confused in the future.

Done

Not sure, but I'd love it if we used the "action.png" frame, a 1/2 second before he explodes. Especially with DoomLarry, I designed these specifically with the idea in mind that this would be his "I'm getting ready to explode!" expression.

[2015-07-02 06:05] datahead8888 commented on #79
The basic purpose of having Doom Larries is so that, if they explode, they will kill Alex in one hit.

What if we did either of the following:
* Fireballs destroy regular Larries.  What if they only caused Doom Larries to begin their count down?
* Doom Larries might move slightly faster than regular Larries

We also might consider using a bit different sound effect when Doom Larries explode, if we

[2015-07-02 13:04] Quintus commented on #79
Look for sounds on freesound.org, they have quite a lot of them.

This seems irrational. If the ordinary larry directly explodes, the doom larry should also, as it is an even more dangerous version of the ordinary larry. I realize that the player might experience a surprise if he throws lots of fireballs around, but he’ll be more careful next time.

I’d be fine with this. Recently, I noticed furba

[2015-07-02 13:10] Quintus commented on #193
You’d have to cut the image into pieces and add the pieces as separate graphics to do that.

I’d support that. However, what is in question here is the time shortly _after_ the explosion, where currently just a lot of small clouds are emitted by a particle emitter. I think it’d be good if we had three or four sprites that just consist of larry being blown into pieces. This could then be combined w

[2015-07-02 13:11] Quintus commented on #337
Okay. Then I’ll at your button when I find time again.

Vale,
Quintus

[2015-07-02 13:13] Quintus commented on #161
I guess it’s pretty easy to write a script that validates the presence of the metadata. I can code one up if this is desired.

Vale,
Quintus

[2015-07-02 13:18] Quintus commented on #264
I copied to to alexandria: http://team.secretchronicles.de/~quintus/store/alex.tar.gz

Thank you again, Bugsbane. Any chance we can get SVG versions of him? I know, currently there are none, but for future modifications it’d be good if there were. OTOH, I realise that this ticket is about replacing them altogether, so it’d be probably work in vain...

Vale,
Quintus

[2015-07-02 13:22] Quintus commented on #333
Cooooooool. @Luiji, could you please add Bugsbane’s graphics to the repository in the `devel` branch? I’m busy with university, and datahead is on the doom larries currently.

Vale,
Quintus

[2015-07-02 13:24] Quintus commented on #228
@Luiji, @brianvanderburg2 I’m busy with university stuff. Could you two review these and help @datahead8888?

Valete,
Quintus

[2015-07-02 13:40] kirbyfan64 commented on #161
@Quintus Well, if you can't, I can try, but I need to know what language to write it in!

[2015-07-02 16:08] Quintus commented on #161
As we use Ruby for most of our scripting needs, this would probably be the language of choice. Use the REXML library from Ruby’s standard library and target the metadata nodes with an XPath to check if they’re there. One could even extract the text and see if it is a CC license...

Vale,
Quintus

[2015-07-02 16:30] datahead8888 commented on #161
@Quintus - are you thinking this new script would be part of the build system in order to give warnings (ie invoked from the CMake system)?

[2015-07-02 17:45] Quintus commented on #161
datahead8888 <notifications@github.com> writes:

I’d just define a task in the Rakefile so that you can at any time just
issue

  $ rake checksvgs

and it would print the names of those files that do not adhere to the
standards. Making it part of the buildsystem is overkill in my opinion.

Vale,
Quintus

[2015-07-02 21:27] Bugsbane commented on #264
Not really. I don't think there were ever SVG versions of him. From what I heard the originals were bitmap. We could try running the bitmaps though Inkscape's tracing feature. That usually gets a pretty close aproximation, but there are usually small differences, especially on shapes with pointy ends (like the shading on the right side of Alex's face in the image above).

TO make these new frames,

[2015-07-02 21:28] Bugsbane commented on #264
On a side note, this is a task I don't really have time for now, but would really enjoy doing when I do have some time.

[2015-07-02 21:31] Bugsbane commented on #333
I do think it's important though that we implement what Datahead said about not just replacing all vines with ladders, but specifically the ones growing out of boxes.

For places where level designers have specifically chosen to add a vine, turning it into a ladder changes the whole visual look of the ladder, and we're better of using the pre-existing jungle vine graphics from comment https://gith

[2015-07-02 21:48] datahead8888 commented on #264
I would suggest finalizing the next story draft first so that we have a better idea of the character background of Alex.  I need to review some story documents submitted by another person (danfun64), and then we need a team meeting to make a decision.  We also will want your feedback on the story around that time, @Bugsbane, and you certainly will have a lot of say in the new appearance of Alex.

[2015-07-02 22:14] datahead8888 commented on #79
The idea was that Doom Larries are strong and withstand the fireballs a little better, but you are correct this would make them less difficult for the player.

I think you had said this was a bit buggy for the furballs.  We definitely need some more jumping (and flying) enemies, however.  It won't be interesting to have every single enemy just be a walker.

[2015-07-03 11:24] Quintus commented on #333
Bugsbane <notifications@github.com> writes:

The graphics used for both are the exact same. The boxes are just
implemented by scripting code using those graphics, so if you only want
to change one of the graphics, it’ll require editing the level’s script
code.

That’ſ only a fact. I do think that the idea is pretty good to resolve
the issue exactly like that: Replace the old static Mario vines wit

[2015-07-03 23:38] datahead8888 commented on #193
Making the Larry split into four pieces and shoot out in four directions is just one possible idea.  Making other particles shoot out throughout the screen is yet another.

If someone is able to generate the explosion sprites, I'd be glad to add them with my changes in my branch.  I understand, though, that de-Marioization efforts are more important.

[2015-07-04 07:44] datahead8888 commented on #79
This is what they will look like in game:
![doom_larries](https://cloud.githubusercontent.com/assets/6478551/8507008/f6cad4a8-21fe-11e5-8ed5-f6b786dfb73a.png)

[2015-07-04 14:44] Quintus commented on #79
You could also adjust the particle emitters used for the explosion of a
doom larry. I’d suggest to include some fire particles so it looks a
little different if an ordinary larry or a doom larry explodes.

Vale,
Quintus

[2015-07-04 21:14] datahead8888 commented on #333
Quintus has since suggested changing the required Ruby file for vines that come out of boxes.  I can edit this comment later when I dig the name of the file out of IRC logs.  I'm just updating it for now, since I was telling xet7 what tasks are available.

[2015-07-07 22:05] Luiji commented on #441
If we dedicate ourselves to this level of censorship for Christian families we'll have a lot of difficulty with creative freedom in this game. In addition, if we serve to Christian families, which other denominations should we be concerned about? I don't know enough about every religion to make this game acceptable to everyone. Personally, I wouldn't change anything without direct complaint from a

[2015-07-07 22:19] Luiji commented on #75
I may actually be more helpful with this project, since this is much more within my domain. Especially since Sequel is what I use standard. :)

[2015-07-07 22:55] datahead8888 commented on #75
@Luiji - if you are able to help code the new server app, it will definitely help us move forward.

The game of course needs UI changes to pull levels/images from the server repository.  We would have probably waited for the SFGUI/CEGUI changes to be done first, but we might want to think about whether or not we should make an exception here if the server changes get coded.

[2015-07-08 01:01] Luiji commented on #228
@Quintus Bookmarked.

[2015-07-08 09:02] Quintus commented on #75
The server implementation is completely independant from any UI in TSC. The application and the server will speak over a standardized protocol, probably something like a RESTful HTTP API. It will use libcurl or a similar thing to do that, such that the interface does not depend in any way on the server application.

@Luiji, I’m currently in university exam phase again, so it’d be nice if you could

[2015-07-08 15:12] datahead8888 commented on #75
I just meant that the game can't make use of the server app until the C++ UI changes are made.  Yes, the server can be written before then and could be access through a web application in the meantime.  I might suggest SOAP over Rest, though.

[2015-07-08 16:51] Quintus commented on #75
datahead8888 <notifications@github.com> writes:

Most importantly, tests can be written for it.

Aaaaaaah!

[2015-07-08 23:28] Luiji commented on #75
@datahead8888:

That's technically impossible. SOAP directly contradicts a number of fundamental ideas in REST. You can't have both.

I'd also like you to compare.

# SOAP Example

(from Wikipedia)

[code]

# REST Example

[code]

That's not a joke. That's seriously how terrible SOAP is and why no reasonable person ever used it except when pressured by buzzword-obsessed executives, or when there w

[2015-07-09 09:20] Quintus commented on #75
Luiji Maryo <notifications@github.com> writes:

I think he meant “over” as in “I think X is better than Y”, i.e. the
“over” is part of the verb “prefer” and not meant as stacked protocols.

However,

I absolutely second this. I will not work voluntaryly on any SOAP-based
service. I’d rather code my own protocol from scratch. But with REST, we
have a sane HTTP-based alternative, so I think that’s w

[2015-07-10 17:34] Bugsbane commented on #441
I'm not a Christian, but personally it seems like a small and easy enough change that has little impact on the game itself to warrant concern.

So here are my suggestions:
Funky Allah mode
Funky Ganesha mode
Funky Torah mode
Funky wicca more
Funky Gaia mode
Funky Zeus mode
Funky Thor mode

All kidding aside though, the part before the suggestions*was* serious. We could just call it something simpl

[2015-07-10 17:36] Bugsbane commented on #441
On and I forgot... "Funky Xenu mode" :P

[2015-07-10 17:39] Bugsbane commented on #79
They look a little big to me. Personally I'd like to see them come up to Alex's chin, rather than being the same size

[2015-07-10 17:42] Bugsbane commented on #264
So, is there any way of getting notified of meetings without having to be signed up to get every post to the mailing list?

[2015-07-10 17:59] datahead8888 commented on #264
Meetings are posted at: http://www.secretchronicles.de/en/ when scheduled.

Obviously you would have to have seen a notice to know of the meeting.  We might be able to try to email you individually if you privately give us your email.  Otherwise, we could see if @Quintus has any other thoughts on good ways to communicate with you.

[2015-07-10 18:01] datahead8888 commented on #264
Meetings are posted at: http://www.secretchronicles.de/en/ when scheduled.

Obviously you would have to have seen a notice to know of the meeting. We might be able to try to email you individually if you privately give us your email. Otherwise, we could see if @Quintus has any other thoughts on good ways to communicate with you. Might a meetings email list or critical announcements list be another

[2015-07-10 18:04] Bugsbane commented on #264
Some kind of events mailing list would be fine.I just want to keep my inbox clear, so I avoid mailing lists usually as most of the messages aren't usually personally relevant. Team meetings and version launches is have no problem with though.

[2015-07-10 18:06] datahead8888 commented on #79
Alex was not large (ie having eaten a size berry) in this screenshot.  We would also have to adjust the gray Larries if we make this change.

[2015-07-10 18:09] Bugsbane commented on #79
Ah yes. I hadn't considered that asked was small. As long as they're smaller than big Alex, is say we're fine.

[2015-07-10 18:14] Quintus commented on #264
Bugsbane <notifications@github.com> writes:

I recommend filtering your mail directly on the mail server. I am
subscribed to about 10 mailinglists, and without email filtering I would
get overwhelmed, but this way they’re all nicely sorted into the correct
folders before I even see them. I can then decide which ML to view and
which not to view; for example I ignore most of the traffic on the MinGW

[2015-07-10 18:22] sauer2 commented on #441
On 10.07.2015 19:34, Bugsbane wrote:

In this, that's true.

But in general, I don't even see the problem.

The bunch of funky nutcases that is offended by remotely religious
sounding terms like "funky god mode" wouldn't probably use a devils
machine aka computer anyway, much less let their children play games on it.

[2015-07-10 20:46] sydneyjd commented on #264
I for one can say that filters are an awesome email feature also. It
sorts them into specific folders based on what i have set up. Sometimes
i get 20 emails, and they all get stuck where i want them, to, as
Quintus said, look at ( or not look at) based on their needs, and so
they don't clog my inbox.

-Sydney

[2015-07-10 22:59] ardvark71 commented on #441
Hi sauer2...

A nutcase? That's ok, I've been called a lot worse! :-D

Really for me, it's an irreverent use of the name of God. It's treating something that is Holy and Pure and treating it as if was common or like mud. Kind of like how a lot of people will swear using Jesus's name, using as a curse word. Here's an article that explains this in more detail...

http://www.redlandbaptist.org/sermon

[2015-07-10 23:11] JoshDreamland commented on #441
Personally, I'd be more inclined to see the name changed if not for the sheer number of games and engines that use the phrase "god mode." The subtle distinction is the capitalization of the word "God." The word appears capitalized in biblical text as a proper noun, along with "Lord" and "Father," and even pronouns which are made proper nouns, such as "He"/"Him." In English text, "god" doesn't refe

[2015-07-10 23:15] sauer2 commented on #441
No offense, I still don't think it is a worse problem than bowing to the
whim of religious groups. Even if they are not a small minority.
Especially then, because why draw a line. Popularity doesn't mean
legitimation.

I don't care so much for this particular case, but remember: If you go
that way, next thing that could happen is have Scientologists/church of
whatever to show up and claim offense

[2015-07-10 23:25] kirbyfan64 commented on #441
I think the difference is that this is a really easy fix...

[2015-07-10 23:52] sauer2 commented on #441
Nonetheless: You all might want to put up a policy if such issues arise
in future.

On 11.07.2015 01:25, Ryan Gonzalez wrote:

[2015-07-11 04:43] datahead8888 commented on #441
I had suggested changing it in order to make our own mark, but Luiji has brought up a good point that SMC is still part of our heritage.  There is no right or wrong answer here.

As JoshDreamland said, I've also seen "god mode" in another game before, which means FluXy or whoever coded this feature was just following conventions.

sauer2, no, we cannot make special exceptions for all sorts of requ

[2015-07-11 23:15] Luiji commented on #441
@datahead8888 It's actually a common name in gaming. [1] One of the reasons I like it is somebody might guess it randomly. I'd even like to make it work in the pause menu, since that's where most people try cheat codes.

[1] http://www.urbandictionary.com/define.php?term=god+mode&defid=836842 (def. 1)

[2015-07-12 00:53] Bugsbane commented on #441
Minor change. No impact on gameplay. 10 seconds to implement. Very important to a certain demographic of users. I just don't see why this is an issue of debate at all.

The only argument's I've seen against this are that it would be kow-towing to religious pressure, or that it's somehow dishonoring the game's heritage.

When the change doesn't impact anything meaningful to the gameplay, or nature

[2015-07-12 01:11] Bugsbane commented on #264
I have a much simpler and more effective (for me) solution. I don't subscribe to mailing lists. No folders. No setup. No ballooning volumes of storage space. Faster and easier than any of the proposed solutions.

I <3 my RSS, so this is perfect, as long as the news goes up at least a couple of days beforehand as I don't read my feeds every day.

[2015-07-12 02:04] Bugsbane commented on #281
I submit that this would be fine for levels based around more technology, but that it would be inconsistent and out of place with the levels that are more natural environments (eg the current hills, jungle, snow levels etc).

I think the idea of teleporters could still work. I'd just prefer that we tried to not make it look overly high-tech. That said, Mario really never had the market cornered on

[2015-07-12 07:11] datahead8888 commented on #397
Superceded by: https://github.com/Secretchronicles/main-website/issues/11

[2015-07-12 07:11] #397 closed

[2015-07-12 07:17] datahead8888 commented on #194
Superceded by: https://github.com/Secretchronicles/main-website/issues/12

[2015-07-12 07:17] #194 closed

[2015-07-12 12:05] Luiji commented on #441
I find it inane to try and remove the usage of the word god from everywhere you can. I think @Bugsbane is right that this is a minor change but I think he's wrong that this shouldn't be debated. Changing every tiny little thing for everyone is, in my opinion, bad policy.

At the same time, I'd feel hypocritical trying to shove my opinion down everybody else's throat and fighting for such a minor t

[2015-07-12 19:07] Bugsbane commented on #441
Personally I'd go for F U N K and Y. :-)

[2015-07-12 19:11] Bugsbane commented on #441
By the way, I'm not arguing that anything is beyond debate. I'm just not seeing any great benefit to NOT changing it, while for some of our users there is a great benefit to changing it. Also I disagree that making this one small, simple change is equivalent to "Changing every tiny little thing for everyone". The debate has now taken up probably 100 times the time that would have been needed to cr

[2015-07-12 22:02] datahead8888 commented on #441
We had someone complain again and again until we enforced certain coding conventions, which are now called upon in every code review.  Thus this issue can actually be larger than just a question as to whether or not we yield to religious groups.  I'm not saying Bugsbane or advark have done anything wrong here; I'm just saying it's a policy consideration for other issues in the future.

I don't hav

[2015-07-13 00:19] Bugsbane commented on #441
Anyway, at this point I feel like I've made my points, and I feel like we've probably heard all of the counterarguments. I'm prepared to listen to anything anyone wants to add, but I agree that it's probably down to a vote at this point.

[2015-07-13 12:46] Quintus commented on #441
Who of you all had the idea to start a religious argument in the tracker while I am doing my exams so I can’t intervene and stop it?

This issue’s discussion has entered the highly complicated area of social issues that do not have a technical relation. If we aren’t careful enough, we’re going to end up like this: https://github.com/opal/opal/issues/941 — nobody of us wants that.

As has been poin

[2015-07-14 20:13] Luiji commented on #441
@Quintus You have no idea how many times I've rewritten every post I've made in an attempt to avoid this becoming a religious argument instead of just a policy argument. ;) This topic has taken way to many brain cells just out of total fear of what happens if I express myself the wrong way. Also damn that Opal topic... *shudders*

@Bugsbane My point is not that changing this is equivalent to "Chan

[2015-07-14 20:45] kirbyfan64 commented on #441
@Luigi It can be called...

...

TOP DOG MODE!

[2015-07-15 00:34] datahead8888 commented on #441
@Quintus - some discussion is needed any time we are going to take a vote so that we can each decide how we will vote.  You are correct that it's time to just take a vote here, though.

[2015-07-16 17:53] sydneyjd commented on #441
Im sorry for taking so long to answer, but here is my view.
Im personally fine with "Funky God mode" or "GOD" mode, mainly because its short, and for Christians(me for one) its impossible to get away from people refering to gods as invincible, so in a way GOD mode makes sense.
But then again, i do know what angle @ardvark71 is coming from, and he does have a good point.
If we had to change it i wo

[2015-07-17 02:47] Luiji commented on #441
@sydneyjd I'm cool with Underdog Mode. :)

[2015-07-18 00:26] Luiji commented on #333
Aren't vine-boxes a bit too Mario-y?

[2015-07-18 01:44] datahead8888 commented on #333
@Luiji - you are correct - this change would be to make ladders come out of those boxes instead of vines.

The change probably is really simple and is just Ruby - thus it would be a good one to get someone other than the usual programmers working on in order to get them involved with TSC coding.

[2015-07-18 19:56] Luiji commented on #333
@datahead8888 I'll try to get this commit today.

[2015-07-19 02:44] datahead8888 commented on #333
Thanks, Luiji.  I haven't been able to find much TSC time the last couple weeks myself with some stuff that came up.

[2015-07-19 06:10] Luiji commented on #333
I'm having some trouble getting the TSC environment working again (did some system changes recently that seem to have broken CEGUI...) so I won't be able to get this together right away.

[2015-07-19 07:22] datahead8888 commented on #333
Are you using the devel branch?  Post your errors so everyone can see and maybe help.

[2015-07-20 03:14] Luiji commented on #333
@datahead8888 I don't have any non-committed changes. In fact, I didn't have a checkout. It's building the new checkout that's not working, and that's because my local copy of CEGUI isn't working. I'll get it figured out (as I've done before) but I need to dedicate more time to this task than I initially expected.

[2015-07-20 04:17] datahead8888 opened #443 "Make Crates be Destroyed by Exploding Larries..."
I discussed this with Quintus in IRC.  The idea is to allow crates to be destroyed when Larries explode.  This could also make chain reactions more interesting.  Quintus suggested using a wood particle effect when a crate is destroyed.

I may or may not get this done with my Doom Larry changes, so I am creating a task.

[2015-07-20 20:28] Luiji commented on #333
Got TSC development environment working again and am installing Inkscape.

[2015-07-20 22:19] Luiji commented on #333
I need a bit of help now. I've got everything ready, but I don't know the policy for how to update graphics. Should I simply overwrite kplant/kplant_head with the new graphics? Should I add these new graphics and delete the old ones, while `sed`ing the level files? Should I add an alias to the source code so that old levels files don't need editing?

[2015-07-21 06:35] Quintus commented on #333
Luiji Maryo <notifications@github.com> writes:

There isn’t really a policy in this regard, we have done both in the
past (turtle graphics for example were overwritten, the moon graphic was
deleted and cookie got a new file name). I think that if a graphic isn’t
just an improved version of something (with more detail or so), it
should receive its own new filename and compatibility code should be
a

[2015-07-21 06:56] datahead8888 commented on #333
Don't forget to make the old static vines show up as jungle vines as we discussed above.  This is a little bit long of a discussion to read through, so I just thought I'd put out a reminder.  Ladders would be for boxes then.

That issue is not done.  We are still waiting until Bugsbane gets a chance to redo the turtle boss graphics.

[2015-07-21 07:04] Quintus commented on #333
My bad. That was the wrong issue, I meant issue #60, and it should be closed.

Vale,
Quintus

[2015-07-21 14:18] datahead8888 commented on #60
@brianvanderburg2 - is this task closable, or does it need to stay open until some renaming is done for the turtle boss, once we have graphics?

[2015-07-25 19:35] Quintus opened #444 "Convert invisible game objects to SFML I"
Hi everyone,

this is a task to convert all the invisible game objects (enemy stoppers, level exits, etc.) except particle emitters over to the SFML port. This is a rather easy task and I’d appreciate it if someone else than me could do it. @Luiji, @datahead8888, @brianvanderburg2? Please work off the `sfml_level_loading` branch in a new branch.

I’ve created a live example by converting enemy sto

[2015-07-25 19:37] Quintus opened #445 "Load level backgrounds in SFML port"
The SFML port currently does not load level backgrounds. This should be added.

Valete,
Quintus

[2015-07-25 19:38] Quintus commented on #434
Currently, in the `sfml_level_loading` branch, you can move left and right, and you can jump, but the jump actually throws you upwards way too high. And because no massivity is implemented yet, you can move through everything and can’t land on anything.

Valete,
Quintus

[2015-08-01 15:13] muammar opened #446 "FIXED_DATA_DIR=/some/dir and BINARY_DIR=/some/dir does not override default paths"
I am packaging tsc to be uploaded in Debian. I have configured TSC using the following `cmake` command:

`cmake -DCMAKE_INSTALL_PREFIX=/usr -DFIXED_DATA_DIR=/usr/share/games -DBINARY_DIR=/usr/games`

Then, I proceed to do:

`make`
` make  DESTDIR=$(CURDIR)/debian/tmp/ install`

Which  results in the following:

[code]

Correct me if I am wrong, but with the options I passed the `data` should have

[2015-08-01 15:36] Luiji commented on #446
Based on the contents of `CMakeLists.txt` that *should've* worked. It's rather weird it didn't. When FIXED_DATA_DIR is not empty, it sets sharedir to FIXED_DATA_DIR. It then unsets binary_dir, then if BINARY_DIR is set (case-sensitive) binary_dir gets set to BINARY_DIR. In both cases, they get set to defaults otherwise. It then prints out these paths so you can review them.

Finally, the installat

[2015-08-01 15:40] Luiji commented on #333
Agh, something came up and then I forgot about this. I should really get that old GNOME sticky notes program up again. Wasn't it called something like Tomboy or something weird? (Looked it up, it's indeed called Tomboy.)

Anyway, I'll get back onto this.

[2015-08-01 16:18] Quintus commented on #446
Indeed, with FIXED_DATA_DIR specified like that it should have installed stuff below `usr/share/games`. This looks like a bug to me, just as @Luiji has pointed out. @muammar, could you please post the full output of the `cmake` command? I’m especially interested in the path configuration section.

In the meantime, I’ll try to reproduce this.

Valete,
Quintus

[2015-08-01 16:29] muammar commented on #446
@Quintus, the path are not overridden as you may see in the log below:

[code]

I made other tests without any success.

[2015-08-01 16:29] Luiji commented on #333
I made it so that the ladder head is climbable instead of passive because it works better in that context. Whereas the vine head is a flower, the ladder head is more ladder, just with a cap.

All that should be left is going through levels and seeing which instances of vine we want to replace with ladder, since @datahead8888 indicated that we're leaving vines for some instances, just not boxes.

[2015-08-01 16:29] Quintus commented on #446
Okay, with

[code]

I get this:

[code]

Which is the expected outcome (as opposed to what @muammar got). This was generated from commit a174b9f7573c6b6454c8ac4c66f56088d7044faf, which is the RC1 tag.

For background on the meaning of `FIXED_DATA_DIR`: The “data” that is in question on this variable is what the game needs to run: levels, campaigns, graphics, etc. It does not refer to extra files t

[2015-08-01 16:33] Quintus commented on #446
@muammar, there must be something wrong with your build setup. Look at how it calls cmake (I broke the line so it fits into the width of the issue tracker):

[code]

This command neither includes `-DCMAKE_INSTALL_PREFIX`, nor `-DCMAKE_BINARY_DIR`. Please re-check your setup.

Vale,
Quintus

[2015-08-01 16:35] Quintus commented on #446
Orrmg, my bad. `-DCMAKE_INSTALL_PREFIX=…` is there. I meant `-DFIXED_DATA_DIR=…`. Typing too fast today :-)

Vale,
Quintus

[2015-08-01 16:36] muammar commented on #446
@Quintus  I found the problem. It is CDBS in Debian that broke this... Executing `cmake` directly from the `build` directory override paths correctly.

[2015-08-01 16:38] Quintus commented on #446
Okay. Thank you for your effort in any case, it is appreciated :-)

Can this issue now be closed?

Vale,
Quintus

[2015-08-01 16:41] muammar commented on #446
I will close it.

[2015-08-01 16:41] #446 closed

[2015-08-01 17:35] muammar opened #447 "Allow tsc to be built using external mruby"
In debian, there exist already a mruby package:

[code]

I understand the motivation on having `mruby` compiled statically, but in order to upload tsc in debian, the src has to be able to compile using the `mruby` package.

Thanks.

[2015-08-01 21:26] Quintus commented on #447
@Luiji @datahead8888 Do you think this should go into the 2.0.0 release (causing RC2 by classifying it as a critical bug)? Or should it only be applied to `devel` for the next version?

Valete,
Quintus

[2015-08-01 21:30] Quintus commented on #415
@kirbyfan64 Is this issue still present in RC1?

Vale,
Quintus

[2015-08-01 21:32] Quintus commented on #408
No response from OP, closing. Please reopen if this issue is still present in some form.

Vale,
Quintus

[2015-08-01 21:32] #408 closed

[2015-08-01 21:40] Quintus commented on #157
Just a quick heads-up. We should watch how TSC behaves with non-ASCII pathnames after the 2.0.0 release. If everything goes well, we ought to close this.

Valete,
Quintus

[2015-08-01 21:40] Quintus commented on #79
@datahead8888 State of this? Maybe you want to remove the “needs info” label?

Vale,
Quintus

[2015-08-01 21:41] Quintus commented on #39
@DarkAceZ Does this still exist?

Vale,
Quintus

[2015-08-02 07:50] Quintus commented on #447
@muammar mruby can be built in a lot of different configurations, especially not all features it provides are applicable to every project. If mruby is compiled with an mruby that has features enabled which are not enabled in [the version we ship](https://github.com/Secretchronicles/TSC/blob/v2.0.0-rc1/tsc/mruby_tsc_build_config.rb), we can’t support the resulting executable. So unless Debian has a

[2015-08-02 10:15] muammar commented on #447
@Quintus  I understand the point  on compiling an own version. I think I have to send a mail to the mailing list (maybe in debian mentors), to see what can be done in this situation.

[2015-08-02 12:13] datahead8888 commented on #447
It sounds like muamar's suggestion to follow up with the Debian people is a logical choice.  If we're forced to change something to make the game publishable in Debian (and are able to do so), I would agree we have to call this a critical bug and make a new release candidate.  Per Quintus's analysis above, though, it sounds like it might be a bit of a mess to try to build mruby differently.  @Luij

[2015-08-02 12:29] muammar commented on #447
@datahead8888 I think that tsc should also be capable of being compiled with the cegui libraries available in the debian archive. I am sure of that. With mruby is different, because there is also a debian policy about ruby packages (that I have to read).

For the moments, I can clone the repo and make a `pull request ` in github adding the `debian` directory needed to make debian packages while th

[2015-08-02 12:51] datahead8888 commented on #79
In the NewLarries branch you can currently create and save Doom Larries in levels, and they kill Alex in one hit.  They are also spawnable through scripts.

The remaining work is to find and add a special Doom Larry explosion sound effect (if anyone else happens to find one let me know) and then remove disused code.  I was not sure if special code needed to be added for a Doom Larry explosion scri

[2015-08-02 13:16] Quintus commented on #447
This isn’t true. On @Akien’s request, this was made optional. CEGUI is only automatically downloaded and compiled in statically if it is not found on the compilation system.

We even have a hard dependency on the json GEM for mruby, because it gets used for serialising and restoring the data a level script writer saves in the `save` event of a level. Without this, the `save` and `load` event would

[2015-08-02 13:18] Quintus commented on #447
Indeed it’d be nice to have @Akien in this discussion as he’s the packager for Mageia. @Akien, how did you cope with the mruby dependency?

Vale,
Quintus

[2015-08-02 13:27] muammar commented on #447
@Quintus thanks for clarifying this.

I had no idea. Thanks for the information.  In any case, I have asked what to do in the debian mailing list.

It is ok for me to do a `pull request`. I will work on that. I am interested to know how @Akien tackle this in Mageia.

[2015-08-02 20:08] brianvanderburg2 commented on #60
Perhaps it should stay open as it is still related to the turtle to army rename.  Once the graphics are available, a new branch/pull request can be used for the changes to the turtle->army boss.

[2015-08-04 18:31] datahead8888 commented on #79
Here are some explosion sound effects I came across:
http://opengameart.org/content/action-shooter-soundset-wwvi
*big_explosion.ogg
*synthetic_thunder_short.ogg
*volcano_eruption.ogg

If we find one we like, we might be able to use it for the Doom Larry explosion sound and/or the Larry explosion sound.

[2015-08-04 19:12] sauer2 commented on #79
Hmm, those are very long. I mean, it's not like those walking bomb dudes
are missile warheads.
How about bombexplosion.ogg or rocket_explosion.ogg instead? At least
for normal Larry.

Partially related: https://github.com/Secretchronicles/TSC/issues/402

Am 04.08.2015 um 20:31 schrieb datahead8888:

[2015-08-04 20:01] datahead8888 commented on #79
The Doom Larries will kill Alex in one hit, while the others do not.  Thus a bigger than normal explosion sound effect might make sense.  We'll have to see how the length sounds in-game, though.

[2015-08-05 15:08] muammar commented on #447
Getting back to this. I got a reply in the [debian mailing list](https://lists.debian.org/debian-mentors/2015/08/msg00018.html). In summary, changes made to mruby has to be included either in upstream or in the debian distributed version (by submitting a bug report in the debian tracking system to request changes to the maintainers). Regarding the extensions, they have to be packaged (I can do thi

[2015-08-05 16:03] Quintus commented on #447
This won’t happen due to mruby’s policy, which is simplified this: Keep the core super-small, and have everything else be an unsupported (= community-supported) 3rd-party extension. Things like the JSON extension thus will never go into upstream mruby. I don’t have too much experience in Lua, but I’d expect that Lua’s core API is not exendable in the way the mruby core API is.

The procedure of in

[2015-08-08 19:32] Quintus commented on #447
@muammar we are two days in front of the final release. If you tell us what you are planning, we can decide whether it’s useful to delay the release and make changes to our codebase to ease packaging for you.

Vale,
Quintus

[2015-08-09 00:16] kirbyfan64 commented on #355
If this isn't being worked on yet, I can try to do it tomorrow (I know you guys are releasing soon...).

[2015-08-09 09:42] datahead8888 commented on #355
I think something adventurous, kind of like from a motion picture might work for this.  You might look again through the drafts that Danfun64 and I published in #68.  Hopefully once I'm finished with school, I'll have time to follow up on the story again.

[2015-08-09 18:34] muammar commented on #447
@Quintus  I prepared the `pull request` you can check it at [https://github.com/Secretchronicles/TSC/pull/448] (https://github.com/Secretchronicles/TSC/pull/448). I think the final release should not be delayed. To get everything done to introduce `tsc` in debian, I think it will take a while.

[2015-08-09 19:33] Quintus commented on #447
Okay. Thank you for your effort!

Vale,
Quintus

[2015-08-09 19:39] kirbyfan64 commented on #355
*sigh* Unfortunately, due to FL Studio/VST-related issues, as well as my brain not working correctly right now, this will *not* be ready today. Sorry... :(

[2015-08-09 20:05] datahead8888 commented on #355
No problem - take as long as you need.

[2015-08-12 16:10] Quintus commented on #434
@Luiji, I have a little problem with the physics system. I don’t remember changing any of the factors involved, but somehow the jumping physics behave much more aggressive than in OpenGL TSC in my `sfml_level_loading` branch. Also, strangely it drastically slows down if you enable debug mode (probably due to all the rectangles, but as the “speedfactor” is part of the velocity calculations a lower

[2015-08-15 10:43] Quintus commented on #434
I just found there’s a constant value `speedfactor_fps` in `global_game.hpp` that is used by some code, but I don’t use it in the new SFML framerate code. That might be the culprit.

Vale,
Quintus

[2015-08-15 11:53] datahead8888 commented on #278
It looks to me like up and right/left may not work properly together.  It seems that if you hold up and one of these other keys, you stop moving right or left, which makes it more difficult to control Alex.  I am using an XBox 360 controller in my laptop.

[2015-08-15 12:41] datahead8888 opened #449 "New Battle Theme for Bonus Levels..."
As brought up with @kirbyfan64 in http://forum.secretchronicles.de/topics/262 it might be helpful to have a new battle or challenge theme for bonus sub levels (bonus areas with scripting logic).

[2015-08-15 12:42] datahead8888 opened #450 "New Bonus Area Music..."
As alluded to in http://forum.secretchronicles.de/topics/262 it might be useful to have a new bonus area music track.

cc @kirbyfan64

[2015-08-15 21:10] kirbyfan64 commented on #449
Out of curiosity, what would this sound like?

(I'm *technically* working on the tutorial song, which is fine for the first 5 measures, after which it keeps turning into a battle-sounding theme...)

[2015-08-16 03:31] datahead8888 commented on #449
It would probably sound like a "fun" song much like many of our level land music tracks but also have enough force and movement to show some competition going on.

The hammer brothers theme from Super Mario Bros. 3 accomplishes this, though obviously we need to come up with our own melodies to be original.

[2015-08-16 14:40] Quintus commented on #449
@kirbyfan64 Many thanks you are still with us :-). When 2.0.0 is released very soon, there will be more time again to focus on assets.

On topic, I agree that we need some more theme-specific songs. Currently each level just uses what the author thought it fit, but we ought to set up a policy for certain levels and/or areas so that a uniform impression is created. A song specifically crafted for t

[2015-08-16 22:40] datahead8888 commented on #449
We need to create an overarching set of level design guidelines, actually.  I'd suggest generally making them somewhat loose and not overbearing, while still encouraging some level of consistency and integration with story and sections of the game.

[2015-08-20 14:53] datahead8888 commented on #278
To clarify, the issue with holding directional keys together would be the worst when you are trying to catch a rope hanging over a pit.  This might be one of the reasons people keep having trouble with the Rokko pit in my Desert Break In level.

[2015-08-21 06:20] sss123next opened #451 "conflict with system installed ogre"
cmake --no-warn-unused-cli -C /var/tmp/paludis/games-arcade-tsc-scm/work/tsc-scm_build/gentoo_common_config.cmake -G Unix Makefiles -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Gentoo -DCMAKE_INSTALL_DO_STRIP=OFF -DCMAKE_USER_MAKE_RULES_OVERRIDE=/var/tmp/paludis/games-arcade-tsc-scm/work/tsc-scm_build/gentoo_rules.cmake -DCMAKE_TOOLCHAIN_FILE=/var/tmp/paludis/games-arcade-tsc-scm/work/tsc-scm_bu

[2015-08-25 16:08] Quintus commented on #451
This is an issue with the CEGUI subcompilation task; the error is not thrown by our compilation process, but by CEGUI’s. There are two possibilities for you:

1. Complain to the CEGUI devs at https://bitbucket.org/cegui/cegui/; but note that this may have been fixed in newer versions of CEGUI, which we can’t use yet (but plan to in the future).
2. Compile CEGUI 0.7.9 by hand prior to installing TS

[2015-08-25 16:09] #451 closed

[2015-09-04 17:29] gepavlo opened #452 "tsc crashes in 1st world 1st lvl"
Hi, I have Windows 8.1 and intel core 2duo@3.17 Ghz CPU, AMD RADEON 7770 GPU, 8 GB DDR3 RAM but when I start the game, it crashes at first level of the first world. It shows the map and Maryo in it but when I press ENTER the game crashes and the program stops working.
Thanks.

[2015-09-04 17:37] kirbyfan64 commented on #452
When you say "crashes", do you mean "it instantly closes"? Does anything get printing to the screen?

[2015-09-04 17:38] gepavlo commented on #452
![untitled](https://cloud.githubusercontent.com/assets/14129671/9690416/e6fb2b96-5344-11e5-9b3d-f0daa1d482a3.jpg)

[2015-09-04 17:50] gepavlo commented on #452
I managed to see this screen only on the rc1 version where the screen freezes for some time when you enter a stage in the map and after 20 seconds the game continues as normal. Then I pressed PrtScn and took this image.

[2015-09-26 11:09] JohnTheTreeman commented on #452
I experience the exact same problem. Win7 64bit

[2015-09-26 14:49] kirbyfan64 commented on #452
Well, it seems "normal" that it freezes for several seconds when loading the level, but I'm still not sure about the crash. Smells like a segfault to me.

[2015-09-27 09:17] akien-mga opened #456 "Man page installs to erroneous path"
In the 2.0.0 release, the man page installs in ```${CMAKE_INSTALL_PREFIX}/man/man6/tsc.6```, which corresponds usually to ```/usr/man/man6/tsc.6```.

But man pages should be in ```/usr/**share**/man/```, so this patch needs to be apply to CMakeLists.txt:
[code]

I can of course do a PR but I'm too lazy to clone the likely quite big repo just for that :p

Ah or I could do this via the GitHub editor

[2015-09-27 09:20] akien-mga commented on #456
Nevermind, it has been fixed in devel already.

[2015-09-27 09:20] #456 closed

[2015-09-27 09:47] akien-mga opened #457 "Force UTF-8 encoding in gem files"
When trying to build 2.0.0 on Mageia's buildsystem, I ran into this issue:
[code]

Full build log: http://pkgsubmit.mageia.org/uploads/failure/cauldron/core/release/20150927093845.akien.valstar.31482/log/tsc-2.0.0-1.mga6/build.0.20150927093906.log

According to this stackoverflow topic [1], it could be fixed either on my side by forcing en_US.UTF-8 on Mageia's buildsystem (I guess right now it mig

[2015-09-27 09:54] akien-mga commented on #457
Actually my title might be wrong as I don't see any "gem" file in the source; I'm not familiar with ruby at all so :p

For the reference, the error was with:
ruby-2.0.0.p645
ruby-rake-10.3.1

[2015-09-29 22:21] Luiji commented on #452
@gepavlo Can you please start the version of TSC that's crashing from the Command Prompt and screenshot it after the crash? That way we can get the message for what's actually crashing. The screenshot you gave shows a normal session, though the freeze isn't normal.

I, sadly, don't know how to launch TSC from the command prompt on Windows. I know you can start the command prompt with Windows Key +

[2015-09-30 16:32] datahead8888 commented on #452
@gepavlo, sorry for the slow response from the developers.  Some of us have been unavailable for a while for various reasons.  How consistently was the game crashing when you entered the first level on the map?  Did you do anything else like save your game?

If the game is pausing for a while when you enter a level, this is due to poor level loading time.  It probably still needs to be optimized.

[2015-10-04 06:37] datahead8888 commented on #79
@sauer2, I found that bombexplosion.ogg sounds like a rock making a thud.  For the rocket one, I found rocket_exhaust.ogg, but this one sounds more like a rocket streaming overhead.

I've set it to big_explosion.ogg for Doom Larry and left it as the existing thunder sound effect for regular Larries.  We can always change it with another commit if there is disagreement.

[2015-10-04 06:40] datahead8888 commented on #452
Here is a related post about the crash: http://forum.secretchronicles.de/topics/285
This posting also contains a video of the crash happening.

Lastly, I propose we mark this issue as "Blocker", since we need to fix it before the next release.  The game is unstable with crashes happening this frequently.

[2015-10-04 06:52] datahead8888 opened #458 "Review new level background and map images..."
@Bugsbane, @sydneyjd, @BodhiPeace

We have new artwork in the forums that needs to be reviewed.

Level background submission - http://forum.secretchronicles.de/topics/307
Map graphics submission - http://forum.secretchronicles.de/topics/305

We would like to get an artist to view these, especially in light of the WIP style guide at http://wiki.secretchronicles.de/StyleGuide

[2015-10-04 09:29] Bugsbane commented on #458
Regarding the first one, i love them as works of art in their own right, and i think the general concept is heading in the right direction. There area couple of things that would be good to resolve to get it fitting in with the other artwork and to balance the level of visual dominance for a background object:

First, the combination of the size and high contrast on the stripes makes these draw a

[2015-10-04 16:47] datahead8888 commented on #458
@Bugsbane, is there a better way to reach you?  We had @'ed you on the forum, but to my recollection, you said the email addresses you associated with the forum and/or github are not ones you check.  Thus I'll probably need to repaste these suggestions to the other forum to make them seen, and by this point the people in that discussion may not be checking as frequently and may take a long time to

[2015-10-05 18:52] Bugsbane commented on #458
I've replied on the forums and updated my email. I'm still not likely to be on the forums much, as I'm extremely busy, but I'll try to help out on graphics related discussions where possible.

[2015-10-05 22:32] datahead8888 opened #459 "Create Linux executables for download on website..."
We were recently asked in IRC if we had Linux executables for download.  I don't think all Linux users want to download from source.  We ought to consider making Linux executables available for common variants of Linux such as Ubuntu, Debian, etc.

We also might consider coordinating this with our efforts to get TSC into other Linux distributions.  Perhaps users can then test these installation pa

[2015-10-05 22:34] kirbyfan64 commented on #459
This is more complicated than it sounds, since different Linux distros tend to shove shared libraries in different locations...

[2015-10-05 22:41] datahead8888 commented on #459
Creating different installation packages for Linux repositories takes a lot of work in general, but we need this to get the game in front of people.  It would be useful, however, to start posting these packages on our website for now for usage and evaluation, though.  It will also make it easier on users who aren't comfortable with building by source.

[2015-10-06 00:39] sauer2 commented on #459
Has static linking been considered in the past?

Am 06.10.2015 um 00:34 schrieb Ryan Gonzalez:

[2015-10-06 04:05] datahead8888 commented on #79
PR #460 is filed for these changes.

[2015-10-06 04:08] datahead8888 commented on #437
I tentatively have started this task, analysis for now.

[2015-10-06 05:16] akien-mga commented on #459
As a distro packagers, I'm not really fond of third-party packages, as they are pretty hard to get right regarding the names of dependencies, etc., or the install locations that would be expected on the target systems (it's OK for Debian/Ubuntu which are quite similar, but sadly the RPM distros use different naming conventions for their libraries). Also a binary package built against a given share

[2015-10-06 05:23] datahead8888 commented on #459
In this context, what do you mean by a third party package?  Do you think it's feasible to have the same type of installation format per Linux distribution on both our website and (eventually) the corresponding Linux application repositories?  This would allow beta testers to test submissions to the Linux repositories by downloading them from our website.

[2015-10-06 05:29] akien-mga commented on #459
By third party package I mean RPM and DEB packages which have been created by upstream (TSC) and not by the target distro packagers. Those packages usually don't respect all packaging policies of the target platform (as it's virtually impossible to handle this properly).

What I propose is more a simple tarball that the players would unarchive in their home directory and play from there, no instal

[2015-10-06 05:32] datahead8888 commented on #459
If it is the responsibility of the target distro packagers to make the packages and test them, you are correct there is no point posting packages for people to test on our website.  The simplest solution for installation is thus preferable.

Also, regarding the crash bug, I was only making a suggestion about not publishing to (other) Linux repositories.  This needs to be decided by the team as a w

[2015-10-06 05:51] datahead8888 commented on #459
cc @AMDmi3

[2015-10-06 10:22] Luiji commented on #459
My advice for creating a third-party package is putting everything we need into `/opt/tsc/<version>` with the exception of a desktop shortcut installed into `/usr/share/applications`. Of course, if we did it right, TSC could be installed anywhere on the system and we could provide a nice shell script installer to ask people where they want it installed, or if they just want to extract it in the cu

[2015-10-06 13:01] AMDmi3 commented on #459
I'm strictly against any third party packages. As upstream, you'll waste precious time, only cover a small subset of target systems, and the resulting package will still have quite high probability of breaking on specific distros or new versions thereof. As a user, I'll never run untrusted binary code myself, and I also don't want unreliable product which could break with the next system update (a

[2015-10-06 13:19] akien-mga commented on #459
Same here. I think my proposal to make binaries with bundled shared libraries in a RPATH, with everything in a tarball to be used directly in the user $HOME, would be a good compromise. It's still third party binary code of course, so users should use it at their own risk; but in the case of TSC having to build CEGUI 0.7.9 really makes it hard for end users to build from source themselves.

So I t

[2015-10-06 13:34] datahead8888 commented on #459
Quintus, to my recollection, found a bug in CEGUI itself that was blocking this upgrade at the time (radians / degres issues if I remember right).  We have seriously talked about the possibility of migrating to SFGUI as an API instead of using CEGUI.  That choice isn't possible without SFML being in place, which SFGUI requires.  Thus the decision was made to do the SFML port first (which resolved

[2015-10-06 14:00] datahead8888 commented on #337
Quintus, are you still working on this task?  Will it likely be deferred until the SFML port (major priority) is completed?

[2015-10-06 15:59] Quintus commented on #337
datahead8888 <notifications@github.com> writes:

It is likely that I focus on the SFML stuff exclusively first. However,
adding this graphic should really not be difficult. Feel free to
unassign me.

Vale,
Quintus

[2015-10-06 17:22] Quintus commented on #452
Needless to say, I can’t reproduce this on Linux, and I know of people who reported 2.0.0 working fine on Windows. Thus, it must be something you have in common. I’ll make a guess completely out of nothing: @gepavio, do you have a username with special characters in it (i.e. non-ascii chars such as é, ö, î or whatever)?

@kirbyfan64 is correct, this appears to be a segfault or an exception. I can’

[2015-10-06 17:25] Quintus commented on #452
Typos for the world. @gepavlo, do you have a username with special characters in it (i.e. non-ascii chars such as é, ö, î or whatever)?

Vale,
Quintus

[2015-10-06 17:28] Quintus commented on #452
Also, @gepavlo, can you start the game from the command prompt and post the output the window contains *after* the crash? See @Luiji’s instructions. Also, @JohnTheTreeman, please do the same (and report whether you have a non-ascii username).

Valete,
Quintus

[2015-10-06 17:34] Quintus commented on #224
@georgerbr any chance you get your native windows build documented? @dlpenguinlover state of your efforts?

I ask because it appears there is a probably windows-specific bug at #452, and GDB appears to not work on crosscompiled binaries, so I need a native build.

Valete,
Quintus

[2015-10-06 17:39] Quintus commented on #452
Also, please do not use screenshots of the commandprompt window. You can copy from the window by utilising the Shift key to my knowledge. Paste that here into a code block.

Valete,
Quintus

[2015-10-06 17:49] Quintus commented on #457
This looks weird. The rakefile is explicitely set up to use UTF-8, and should do that independently from your environment. @akien-mga, could you please apply this patch to the Rakefile and then try again?

[code]

There shouldn’t be any difference, but I want to be sure.

Vale,
Quintus

[2015-10-06 18:04] akien-mga commented on #457
The patch does not apply, and I guess that gives us the culprit: tsc/Rakefile in 2.0.0 does not specify the encoding.
https://github.com/Secretchronicles/TSC/blob/c3106816c6d07e70bd3689acb69d40a75e0f7f55/tsc/Rakefile#L22

[2015-10-06 18:14] akien-mga commented on #457
Actually even after patching tsc/Rakefile to force the encoding as in the devel branch, I still get an error at the same place (the actually error being slightly different, but I don't know if it's due to the patch or just that the build job was run on a node with a different number of CPUs): http://pkgsubmit.mageia.org/uploads/failure/cauldron/core/release/20151006180613.akien.valstar.24994/log/t

[2015-10-06 18:18] Quintus commented on #457
Ah yes. The patch was against `devel`, apologies.

For the second issue, it is very similar. Try this patch additionally:

[code]

Vale,
Quintus

[2015-10-06 18:26] akien-mga commented on #457
Thanks, to be on the safe side I patched all File.open(), and it works: http://svnweb.mageia.org/packages/cauldron/tsc/current/SOURCES/tsc-2.0.0-issue457-utf8-rakefile.patch?revision=886619&view=markup

[2015-10-06 18:27] akien-mga commented on #457
Now it seems to be failing because somehow -std=c++11 is not specified, but that's a separate issue :)

[2015-10-06 18:29] Quintus commented on #457
Okay thanks, I will apply your patch to `devel` then.

Vale,
Quintus

[2015-10-06 18:35] Quintus commented on #457
Actually it appears `devel` has this completely resolved already by commit 405f866991409eddda1d90a092957b34e7b19b8d. So there is no need to apply your patch. Thank you anyway :-)

Vale,
Quintus

[2015-10-06 18:35] #457 closed

[2015-10-06 18:39] Quintus commented on #457
@akien-mga For completeness: #417 is very closely related.

Vale,
Quintus

[2015-10-06 18:39] akien-mga commented on #457
Indeed, thanks. Hijacking this issue for a small unrelated question (I don't feel it's worth opening a new ticket): TSC did not build for me against gcc 5.2.1 and threw tons of errors about the need to specify -std=c++11. Is this something that would be relevant to do directly in your CMakeLists.txt?

[2015-10-06 18:41] Quintus commented on #457
2.0.0 should not require C++11. Other than that, this would be done in the CMakeLists.txt by setting

[code]

, yes.

Vale,
Quintus

[2015-10-06 18:53] akien-mga commented on #457
Ok, then it's a problem specific to the buildsystem I'm using where all libs have been updated to the new gcc 5 ABI and built with C++11, so some low-level dependencies of TSC seem to complain (note: heavy!): http://pkgsubmit.mageia.org/uploads/failure/cauldron/core/release/20151006182145.akien.valstar.27056/log/tsc-2.0.0-1.mga6/build.0.20151006182207.log

[2015-10-06 18:53] akien-mga commented on #457
Nothing to change on your side though, as you said. I just fixed it for me by passing -DCMAKE_CXX_FLAGS="-std=c++11" to the cmake call.

[2015-10-07 07:18] Quintus commented on #337
@Bugsbane can we have blue and red versions of the switch as well so we can directly replace all switches in [this directory](https://github.com/Secretchronicles/TSC/tree/devel/tsc/data/pixmaps/ground/underground/pow)?

Vale,
Quintus

[2015-10-07 07:36] Quintus commented on #337
Also, please export at a larger size, like 128x128px like the blue pow switch we currently have.

Here’s how it looks in-game, with the old blue switch on the right side:

![5](https://cloud.githubusercontent.com/assets/156358/10331587/d4930752-6cd6-11e5-8d57-0b52513517dc.png)

What does everyone think?

Valete,
Quintus

[2015-10-07 12:01] sauer2 commented on #337
Looks pretty good! However, are you sure everyone would recognize this
as switch at once? It doesn't stand out that much...

Am 07.10.2015 um 09:36 schrieb Marvin Gülker:

[2015-10-07 12:07] Quintus commented on #337
In the image above I think this is a result of the green background behind the green switch. You’d probably use another color in that situation; also I think there’s a switch in the tutorial level that makes people familiar with its functionality (if there isn’t, please add one :-)).

Vale,
Quintus

[2015-10-07 12:43] Quintus commented on #161
With regard to the original post, I suggest the following procedure:

1. Wait for the SFML port to be finished and merged into `devel`. I don’t like redoing large parts of the repository and then merging in a really large branch. I have a certain respect for the number of conflicts this may cause.
2. Clone the current TSC repository into a new repository named “TSC-graphics” or so.
3. Delete the `

[2015-10-07 12:52] Quintus commented on #441
To bring this insane issue to a conclusion, is everybody fine with me calling for a formal team vote on it? Everybody can then vote whatever he thinks is best, and we’ll just go with the majority result.

To make the vote a useful one, please give useful, nonsatirical alternative names that I can include in the voting statement so that we don’t have to go voting again when the decision falls in fa

[2015-10-07 12:55] Quintus commented on #415
No reply from OP, closing.

Vale,
Quintus

[2015-10-07 12:55] #415 closed

[2015-10-07 13:02] Quintus commented on #392
The decision was made for CC-BY as the goal license, but we can’t accelerate the process of people contributing new assets. In the meantime, the old assets will be kept. If people contribute properly licensed replacements, we’ll have to decide on whether an existing assets should be removed in favour of the new asset.

Valete,
Quintus

[2015-10-07 13:02] #392 closed

[2015-10-07 13:03] Quintus commented on #233
Is this still relevant?

Vale,
Quintus

[2015-10-07 13:08] Quintus commented on #39
No reply from OP, and I can’t reproduce. Closing.

Vale,
Quintus

[2015-10-07 13:57] kirbyfan64 commented on #415
Sorry. I don't know what I did, but I can't figure out how to do it again.

[2015-10-07 13:57] georgerbr commented on #224
I'm working on building with Visual Studio 2013, which has a much bigger installed base on Windows than Qt Creator + MinGW.

I'll let you know when I get this done.

[2015-10-07 16:22] sauer2 commented on #337
Sounds reasonable.

Unless someone changed the tutorial, the switch should be still in there.

Am 07.10.2015 um 14:07 schrieb Marvin Gülker:

[2015-10-07 16:24] sauer2 commented on #441
Am 07.10.2015 um 14:52 schrieb Marvin Gülker:

Sure.

[2015-10-07 17:49] datahead8888 commented on #233
This may still yield benefits if someone reviewed the iPhone port work for possible feature code, and it could be worthwhile to contact the old team members on that port to see if they are interested in our project.  Thus the task is still valid.  Eventually, if we have not used their code yet, our code will become incompatible with theirs, but this isn't as likely to be a problem until we get to

[2015-10-07 17:59] datahead8888 commented on #224
@georgerbr, the task for Visual Studio is #421.  It might be better to log your findings there, since this task has generally been focused on using open source tools for Windows builds.  I have abandoned the Visual Studio task for the time being, since I've been focused on other things.

[2015-10-07 18:07] Bugsbane commented on #441
Bring it.

[2015-10-07 18:13] Bugsbane commented on #392
Is this referring to the code, the media assets (sprites, music etc) or both?

[2015-10-07 18:16] Bugsbane commented on #337
I agree with both statements. Maybe offering a couple of different colors (red, yellow, blue) may help. It would be quick and easy enough to do.

[2015-10-07 18:26] Bugsbane commented on #161
Music and sfx too, please, not just pixmaps. ;) Maybe call it TSC-media-assets?

[2015-10-07 19:23] Quintus commented on #392
Only assets. The decision I refer to is the same we have been discussing since very long, so nothing changed in this regard. We can’t change the code license anyway, because we are bound by FluXy’s GPL license as long as we have code fragments by him (which are still many).

Vale,
Quintus

[2015-10-07 19:27] Quintus commented on #337
Take a look at what [I wrote above](https://github.com/Secretchronicles/TSC/issues/337#issuecomment-146098945) — I asked you for exactly these :-)

Beware that it needs to be distinguishable from the "on" switch. You’d then have to make that one taller also (maybe try to match the dimensions of the existing pow switch?).

Vale,
Quintus

[2015-10-07 19:36] Quintus commented on #161
@datahead8888 suggested in IRC to use the more brutal hammer and rewrite Git history directly as follows:

1. Clone the repository three times
2. In the first clone, remove the draft files recursively from the Git history
3. In the second clone, remove the code files recursively from the Git history
4. Forcepush the first clone over the current TSC repository
5. Use the second clone to create the

[2015-10-08 05:30] datahead8888 commented on #421
@georgebr, do you think you might be willing to post the steps you followed if you get TSC compiling in Visual Studio?  Visual Studio has a large user base, so this would help us recruit more programmers.

[2015-10-08 05:31] datahead8888 commented on #421
@georgerbr, do you think you might be willing to post the steps you followed if you get TSC compiling in Visual Studio?  Visual Studio has a large user base, so this would help us recruit more programmers.

[2015-10-08 05:59] Bugsbane commented on #337
Yes, I'm just talking about making the taller image, taller again, so it would actually be more distinguishable. Actually, if we wanted to mark junior jobs for artists, making this taller and changing colors would definitely be one, otherwise I can just do it.

[2015-10-08 09:12] Quintus commented on #337
I’d be fine with this. Sounds like something for @sydneyjd then :-)

Vale,
Quintus

[2015-10-08 12:14] sydneyjd commented on #441
Im still stuck on underdog mode. ;p Would we have copywrite issues,etc if we used it?

[2015-10-08 13:21] Quintus commented on #441
None I am aware of.

So I think the following choices are possible:

* Funky God Mode
* Funky god mode
* God Mode
* God mode
* Dog Mode
* Underdog Mode

If no more suggestions are made until the weekend, I’ll issue a vote. Until then, please feel free to make further naming suggestions.

Vale,
Quintus

[2015-10-08 13:34] sydneyjd commented on #441
Another thought is Invincible Mode.

[2015-10-08 13:51] georgerbr commented on #421
Sure, it's just that it's a lot of work because of the sheer number of required libraries.

[2015-10-08 15:43] Quintus opened #461 "Make camera respect level borders"
The camera is not working properly yet. The current implementation uses SFML’s views, which works quite nicely, however, it doesn’t respect level borders yet. That needs to be added.

Vale,
Quintus

[2015-10-08 18:57] datahead8888 commented on #441
Omega Mode is another one, if we change the name

[2015-10-08 19:47] ardvark71 commented on #441
I like sydneyjd's suggestion, "Invincible Mode." :-)

[2015-10-08 21:07] DarkAceZ commented on #39
Sorry, been busy.
Finally got to retest this on a newer version of TSC - it's still there.

The warp has to go across a level, or the glitch does not happen.
Just grab a star, and while invincible, go through the warp. You will have lost your powers, but the music will continue to play until its end.

Example: https://www.youtube.com/watch?v=BB31nsoBxy8

[2015-10-08 21:35] Quintus commented on #39
I did exactly that, and the problem did not occur.

I will watch your video later, I don’t have time right now.

Vale,
Quintus

[2015-10-09 18:57] Quintus commented on #224
I managed to build TSC on Windows **natively**. However, it only works with shared libraries (DLLs), not with all dependencies being linked in statically. Maybe someone more experienced in Windows development than I can figure this out.

As the build system, I used [MSYS2](http://sourceforge.net/projects/msys2/). MSYS2 is is a fork of MSYS, and instead of the original MinGW toolchain it uses the M

[2015-10-09 19:00] Quintus commented on #224
[Here’s the SDL_mixer PKGBUILD](http://team.secretchronicles.de/~quintus/stuff/sdl_mixer-msys2/PKGBUILD). I want to submit this to MSYS2 itself when I’ve improved it, but it is enough for us for now.

Valete,
Quintus

[2015-10-09 19:04] Quintus commented on #224
Also: The CEGUI PKGBUILD above builds the static version. That’s wrong, you need the shared version. Change `--enable-static --disable-shared` in the PKGBUILD to the exact opposite.

Valete,
Quintus

[2015-10-09 19:40] datahead8888 commented on #421
@georgerbr, Quintus has posted PKGBUILD's for the CEGUI and SDL_mixer.  I understand you should be able to use these to build these dependencies, possibly saving some work.  You might find this helpful to get TSC building in Visual Studio.  See #224.

[2015-10-09 22:08] datahead8888 commented on #79
There seems to be a pre-existing bug in which Larries do not give points at all.  I inherited this bug when writing Doom Larry.  I intend to fix it for both types of Larries.

[2015-10-09 22:11] datahead8888 commented on #264
Does anyone have a little time to get M'less Alex added to the devel branch?  I'm tied up with another task at the moment, but I wanted to make sure the team was aware this one wasn't committed yet.

[2015-10-10 00:45] georgerbr commented on #421
Hi @datahead8888,
I had already managed to build all libraries.
The problem now is with the TSC executable. It compiles and links fine, but crashes on startup. I'll try and investigate further.

[2015-10-10 00:49] datahead8888 commented on #421
Thanks, @georgerbr.  Quintus has been having some difficulty with his Windows build using open source tools.  If you are able to get the Visual Studio build working, let us know and give us a copy of the executable.  This would help us fix #452, which is a critical issue.

[2015-10-10 00:53] datahead8888 commented on #224
I am marking this high priority, since it would help us debug #452

[2015-10-10 01:03] georgerbr commented on #224
I have put together a dependency package for Windows (uncompressed size is ~700 MB). I tried to use the same versions as MXE. Here's a summary:

- Boost 1.53: built from source, with Boost's built-in build system
- CEGUI 0.7.9: built from source, with Qbs
- CEGUI dependencies (from 0.8): built from source, with CMake
- glibmm 2.32, libsigc++2.3.1, and libxml++ 2.36.0: built from source, with Qbs
-

[2015-10-10 07:16] Bugsbane commented on #441
I like both invincible move and omega mode. If I had to choose, is choose the former.

Not such a big fan of dog mode and similar, because really, what do dogs have to do with what the mode actually does? Nothing. It's really not clear at all.

[2015-10-10 09:27] Quintus commented on #421
You are experienced the same as me then. I managed to compile and link TSC with GCC also, but it crashes on startup (CEGUI exception). Glad to see the behaviour is at least consistent across compilers.

Note for readers: @georgerbr accidentally posted the Visual Studio information [in the wrong ticket](https://github.com/Secretchronicles/TSC/issues/224#issuecomment-147019202). Please continue VS-s

[2015-10-10 09:28] Quintus commented on #224
VS-specific stuff please goes into ticket #421, MinGW-specific stuff here. I change the title accordingly.

Vale,
Quintus

[2015-10-10 10:15] Quintus commented on #224
So, here are the detailed instructions for setting up MSYS 2 I promised. If you follow these instructions, you’ll get an environment that will allow you build CEGUI and TSC natively on Windows.

## Installing MSYS2

First, you need to install a proper decompression tool like [7Zip](http://www.7-zip.org) that can cope with more advanced compression formats than ZIP.

Next you have to install [MSYS2

[2015-10-10 12:08] Quintus commented on #224
You are lucky, here’s a PKGBUILD for SILLY, including the necessary patch to get it built with a recent version of libPNG (patch taken from ArchLinux): https://gist.github.com/Quintus/b10a0bee9714cae1a11c

CEGUI’s build system detects SILLY and builds the necessary image codec for it. You’ll need to adapt the CEGUI PKGBUILD to depend on the SILLY package if you want to use that, though. Also don’t

[2015-10-10 12:49] Quintus opened #462 "CEGUI crashes on Windows native build"
As has been noted by both me and @georgerbr in #224 and #421, CEGUI crashes TSC right after startup on a Windows native build with the following output:

[code]

This blocks resolution of #452, because it prevents us from debugging. It must be fixed first.

Valete,
Quintus

[2015-10-10 12:57] Quintus commented on #462
I can provide some further investigation info. For one thing, it does not depend on the TGA image codec as I originally suspected. I built SILLY and rebuilt CEGUI with SILLY as a supported image codec module (it recognised it). The same issue occurs after recompiling TSC with linking in SILLY instead of TGA, the message just says that SILLY failed to load the image instead of TGA. I don’t think th

[2015-10-10 13:00] Quintus commented on #462
If it wasn’t clear from the above: The problem occurs both on the MSYS2 build and on the MSVC built. From that follows that we are not looking at a compiler-specific thing.

Vale,
Quintus

[2015-10-10 13:03] Quintus commented on #452
Until #462 is resolved, this issue is blocked as it is impossible to debug. The other issue must be resolved first. I’m thus unassigning myself.

Valete,
Quintus

[2015-10-10 13:52] sydneyjd commented on #441
Maybe its more of an American term, but im not sure. Back in the 1960 a
Show called 'UnderDog' Was made about a superhero dog.

[2015-10-10 13:54] Quintus commented on #441
That’d made more for a subtile reminiscence than for a copyright infringement :-)

Vale,
Quintus

[2015-10-10 14:10] Quintus commented on #441
Read “dog” reversed. :-)

Vale,
Quintus

[2015-10-10 15:33] Quintus opened #463 "Drop custom toolchain file in favour of MXE’s owns"
It appears MXE now [ships their own toolchain file](http://mxe.cc/#tutorial-5b) for CMake crosscompilation, and having glanced over it, it can replace ours completely. There’s only one little problem: While they fix the `pkg-config` detection problem, they don’t do that for `makensis`. That’s a bug in MXE that we ought to report upstream. I will do that once we have got the Windows stuff figured o

[2015-10-10 15:57] Quintus commented on #452
I revoke what I said above. I just found that GDB understands the debugging symbols of the crosscompiler of the current version of MXE, which means I can now — **finally** — properly debug the Windows built of TSC.

I’m a bit too exhausted right now to investigate this bug, though. Maybe later.

You can find the updated crosscompilation instructions in the INSTALL.md file in the `devel` branch (th

[2015-10-10 17:09] Quintus commented on #452
Okay. I have a Windows built of 2.0.0-final now, and it has debugging symbols, and my GDB can read them. However, I still cannot reproduce the issue, even on Windows. I need more reproduction information. Please give me more details:

* Do you have a username with non-ascii characters?
* Do you have a 32-bit or 64-bit OS? (I can only test with a 32 bit one)
* Does your TSC installation path have s

[2015-10-10 17:22] datahead8888 commented on #441
For Under Dog mode - I don't really think we should name our invincible mode off of a specific super hero.

As for dog mode, most people will be confused by this and not realized it's a reversal of the letters in "god".

[2015-10-10 17:22] Quintus commented on #452
Okay, the binary from secretchronicles.de crashes for me as well

[2015-10-10 18:01] Quintus commented on #441
Cat mode

cat mode

cat(1) mode

[2015-10-10 19:28] datahead8888 opened #464 "Make Played Music and Sound Effects Configurable Through Config Files..."
Much as @brianvanderburg2 made animations configurable through .imgset files, we might consider making music and sound effects configurable through config files.  This will allow existing music/sound to be changed without making code changes.  It also opens the door for usage with programs like https://github.com/Secretchronicles/Settingseditor to edit the music.

We might consider allowing the us

[2015-10-10 19:30] Quintus commented on #464
Errm, what? The music/sound stuff never required code changes.

Apart from that, I repeat what I said to Brian earlier. TSC is not a game engine. We have an identity to maintain.

Vale,
Quintus

[2015-10-10 19:53] Quintus commented on #452
@kirbyfan64 @JohnTheTreeman @gepavlo I think I traced it down to a bad binary, probably got corrupt during upload or moving between my computers. I recompiled 2.0.0 with the same settings as before (just used a newer crosscompiler) and I was unable to reproduce the crash with the resulting binary. So, could you three please uninstall what you have right now and instead install this program: http:/

[2015-10-10 19:53] georgerbr commented on #224
These are all for MinGW.

[2015-10-10 19:56] Quintus commented on #224
I am sorry, I was with my thoughts elsewhere. I will fix my comment in the other ticket.

[2015-10-10 20:02] datahead8888 commented on #464
Changing a file name referenced by the code does, but, no, swapping a file does not.

As for personal adjustment of music, this is really not any different than the other packaging features.  In most cases, people would just do it on their personal computers.

It's a valid point for discussion.  I'm not really fond of large numbers of config files myself generally.  I like messing with code, not c

[2015-10-11 06:54] Quintus commented on #441
[code]

[2015-10-11 06:57] Quintus commented on #441
The problem I have with “Invincible Mode” is that this might be confused with the effect the lemon powerup has, which basically is an “invincible effect” also. I’d thus rather go with “Omega Mode” I think, which I think is a pretty cool name.

Vale,
Quintus

[2015-10-11 07:02] JohnTheTreeman commented on #337
Hi, this is my idea of a switch. Colors can be changed. =D

![pow_v03](https://cloud.githubusercontent.com/assets/14848980/10415358/8c8c0396-6ff6-11e5-9657-2850525503a4.png)

[2015-10-11 22:36] datahead8888 commented on #337
@JohnTheTreeman - the main characteristic of the Nintendo-like switches is the letter P.  I think we'd be best off not having any letter on the switch.  We've gone through enormous efforts to stop being a Mario-NIntendo clone, so I don't think letters are worth the risk.

Multiple types of switches might be an interesting idea to discuss, but if they require programming changes, they will have to

[2015-10-12 07:29] Quintus commented on #337
datahead8888 <notifications@github.com> writes:

Since all switches are scripted, and script is written by the level
writer, no C++ code changes are necessary.

Vale,
Quintus

[2015-10-13 04:06] Bugsbane commented on #337
Love the look of @JohnTheTreeman's switches (better than mine). My only requests would be:

1. Dropping the S, although for different reasons, namely internationalization. Ideally, someone with the language set to Korean / Chinese / Japanese etc, won't be faced with a game full of characters from some foreign language.

2. The standard width non-black, outline as in the style guide.

3. A brighter

[2015-10-13 04:13] Bugsbane commented on #441
Ok. I'm convinced. My vote is for Omega Mode.

[2015-10-13 06:32] gepavlo commented on #452
This version works fine for me. Thanks

[2015-10-13 09:40] Quintus commented on #452
Glad to hear that. I replaced the faulty binary on our FTP server and wrote a news article for the website. The website’s front and download pages will show the information tomorrow.

Valete,
Quintus

[2015-10-13 09:40] #452 closed

[2015-10-13 09:52] Quintus commented on #441
Beware :-)

:-)

[2015-10-13 13:57] sydneyjd commented on #337
Wow, these look nice!

[2015-10-13 20:58] datahead8888 commented on #337
@Bugsbane, it's not unusual here in the US to see Asian symbols in either Japanese anime or something like the Matrix movie.  I don't think we should put a ban on all letters in graphics.  In this case, though, I think we should not use the "S" because we need to be significantly different than Nintendo's "P" graphic.

[2015-10-13 23:22] georgerbr commented on #421
I worked on this for the last 4 days. and coudn't get it to work.
I used prebuilt components from a number of sources, and it crashed. I recompiled **ALL** libraries bar SDL, with both dynamic and static linking, and it crashed.

So I'll put Visual Studio aside and work on my MinGW dependency package instead.

[2015-10-14 00:09] datahead8888 commented on #421
@georgerbr - do you think your trouble was related to issue #462?

[2015-10-14 00:48] georgerbr commented on #421
No, the crash is in `glibmm` (an `std::bad_alloc`). CEGUI works fine.

[2015-10-14 03:41] datahead8888 commented on #421
You might post details at http://forum.secretchronicles.de/forums/10 to see if anyone on the team has insight.

The development forum also mirrors to the mailing list.

[2015-10-14 03:47] datahead8888 commented on #79
The scoring issue is fixed.  The PR cited above is ready for review again.

[2015-10-14 08:59] Quintus commented on #421
Mh. A crash in glibmm might indicate a bug in it. If you are after it, you could try to isolate the problem and file a bug report against glibmm. I don’t think the GNOME devs do much testing with MSVC.

Vale,
Quintus

[2015-10-14 09:00] Quintus commented on #337
I completely agree with what datahead outlined here. I don’t think we ought to ban all letters from the game, but in this particular case, I think we are better off without one due to the Nintento Pow switch similarity.

Valete,
Quintus

[2015-10-14 11:28] #79 closed

[2015-10-14 20:00] Bugsbane commented on #337
How much meaning would it convey in TSC though? How does having non-understandable characters add to TSC's visual identity specifically?

In the Matrix, the entire point of the film was that it was a reality made of code, and the characters were a) fictional an b) showing the key plot point (the underling code) of that reality.

Also it's easy to not feel marginalized as part of a large, dominant

[2015-10-14 20:02] Bugsbane commented on #441
Ok... My vote *will be* for Omega Mode on the 25'th ;)

[2015-10-14 20:12] datahead8888 commented on #337
If the graphic contains instructions that the player has to read in order to proceed, it needs to be translatable in order to function.  This, with our current features, is probably not feasible.  Otherwise, simple letters/symbols/characters or possibly even words that are not game play instructions can still convey an image and impression.

Honestly, this is a very subjective argument; we cannot

[2015-10-14 20:14] datahead8888 commented on #441
At least I know my suggestion (if we rename it) was popular :P

[2015-10-14 20:20] Bugsbane commented on #441
Maybe we should cash in on your popularity, and change it to "datahead mode"... ;P

[2015-10-14 20:22] datahead8888 commented on #441
There's nothing wrong with being happy if a suggestion is considered...

[2015-10-14 21:00] JohnTheTreeman commented on #337
I'll update the switch soon and post some alternatives to the "S" too.

[2015-10-14 21:04] ardvark71 commented on #441
Who all is allowed to vote on this? I didn't really understand this from the notice.

[2015-10-14 21:07] kirbyfan64 commented on #337
You could always try using a down arrow on the switch or something like that.

[2015-10-14 21:55] Bugsbane commented on #441
Absolutely! I didn't intend to imply otherwise. Apologies if it came across that way.

[2015-10-15 06:32] datahead8888 commented on #337
@Bugsbane, there's quite a bit of artwork in the forums you might want to review when you get a chance.  Also, if you get a chance to finish the style guide draft, it will help ensure artists have a common reference.  We can ask JohnTheTreeMan, skarfester, and Sydney for there feedback on it, too.

[2015-10-15 09:19] Quintus commented on #441
Quote from the notice:

The document is available [here](https://github.com/Secretchronicles/documents/blob/master/votingrules/votingrules-2015-08-15.pdf), and the members of the Secretchronicles GitHub organisation are listed [here on GitHub](https://github.com/orgs/Secretchronicles/people). The reasoning behind this is to have a definitive set of people that can vote which can easily determined

[2015-10-15 09:33] Quintus commented on #337
Please, don’t try to settle all conflicts directly by calling for a vote. I don’t want that votes become our normal measure of action, and this is laid down in the voting rules itself:

There must be discussion and serious attempts of finding compromises before we resort to voting. Voting is not a measure to escape from the need of discussion, but the last resort in ending a discussion that does n

[2015-10-15 09:39] ardvark71 commented on #441
Hi Quintus...

Thank you for clarifying that. :-)

Regards...

[2015-10-15 18:23] datahead8888 commented on #337
I did not mean to say we should vote as of yet for this issue but just meant to say that we may disagree in a manner similar to the god mode ticket.  Votes for issues are not normally preferable.

[2015-10-15 18:52] sydneyjd commented on #337
Im fine with Omega mode also.

[2015-10-15 19:02] kirbyfan64 commented on #337
@sydneyjd Wrong issue. :)

[2015-10-15 19:07] sydneyjd commented on #337
LOL, shoot. Clicked the wrong email to respond to. :p

[2015-10-15 19:10] sydneyjd commented on #441
I like with Omega mode, and it fits, because the lemon *is* invincible mode. Do we really have to do a vote?

[2015-10-15 19:17] datahead8888 commented on #337
Would everyone be fine if I removed the last 3 omega mode comments (and this one or answers to this question?)

[2015-10-15 19:18] datahead8888 commented on #441
As I said, I don't think god mode had to be changed, but I am fine with just going ahead and changing it to omega mode here.

[2015-10-16 04:44] Bugsbane commented on #337
Maybe we should put it to  vote? ;P Seriously though, please do, assuming @kirbyfan64 and @sydneyjd are ok with it.

[2015-10-16 16:30] Quintus commented on #337
No, no! We need to vote first whether we want to vote on the topic!

SCNR

[2015-10-16 16:33] Quintus commented on #441
I still want to keep the current naming, and you can’t know how the people are going to vote that are not yet active in this issue. So the answer is yes. Also, after the vote announcement is out, you can’t stop the voting process anymore without the proponent agreeing, which is me :-P

Vale,
Quintus

[2015-10-16 16:34] kirbyfan64 commented on #337
You can vote on whether or not you can vote on whether or not you can vote on...

[2015-10-16 21:55] datahead8888 commented on #452
In future releases, we'll need to be careful to compile release candidates in release mode so that people test the same version of the release that we intend to use.  The md5 checksum can be given to all testers, and we can then check this checksum on the server when posting the executable for download.

[2015-10-17 04:32] DarkAceZ commented on #39
Is it possible that this is a pulseaudio issue or something bigger, then?

[2015-10-17 04:45] datahead8888 commented on #39
I can give this a try later, though could you post the level in the forum?

[2015-10-17 09:36] Quintus commented on #452
This is not possible, because the executable needs to be recompiled when the version number is changed from e.g. 2.0.0-RC1 to 2.0.0. The version number is shown in the game on the start menu and in the output of `tsc --version`.

Vale,
Quintus

[2015-10-18 04:47] datahead8888 commented on #39
I just reproduced the bug using the devel branch in Ubuntu 12 Linux.
I used the set of levels he posted at: http://forum.secretchronicles.de/topics/338

I took the lemon, then entered the pipe while invincible.  Upon warping to a different level file, the music kept playing, but Alex was no longer invincible.  Regardless of what we decide to have it do in this case, this is inconsistent behavior.

[2015-10-18 09:22] Quintus commented on #452
datahead8888 <notifications@github.com> writes:

This is not possible. The release candidate has a version like
2.0.0-RC1, which is reflected in the game both in the start menu
(bottom-right corner) and the output of `tsc --version`. Doing the final
release implies removing `-RC1` from the version number, which in turn
requires recompilation of the executable so it shows the correct version
string

[2015-10-19 19:21] Quintus opened #465 "Port powerups to SFML"
Okay. Be warned, this is the first of a large number of SFML porting tasks that I am going to open.

Powerups need to be ported to SFML.

Vale,
Quintus

[2015-10-19 19:21] Quintus opened #466 "Port moving platforms to SFML"
Moving platforms need to be ported.

[2015-10-19 19:23] Quintus opened #467 "Port falling platforms to SFML"
Falling platforms need to be ported.

[2015-10-19 19:24] Quintus opened #468 "Port Sound Special Element to SFML"
The sound special element (the thing that plays sounds when you come near) needs to be ported to SFML.

[2015-10-19 19:33] Quintus opened #469 "Port pathes to SFML"
The abstract pathes (as used for platforms or camera movements) need porting. This should be fairly easy as there is nothing really lowlevel in these...

[2015-10-19 19:33] Quintus opened #470 "Port global effects to SFML"
There’s a legacy element “global effect” that needs to be adapted for SFML. It’s a particle emitter in reality now, though.

[2015-10-19 19:34] Quintus opened #471 "Port balls to SFML"
The fire and ice balls for SFML!

[2015-10-19 19:37] Quintus opened #472 "Port lava to SFML"
Lava needs porting also.

[2015-10-19 19:37] Quintus opened #473 "Port crates to SFML"
Moveable crates are not yet ported to SFML.

[2015-10-19 19:48] Quintus commented on #468
Depends on #436.

[2015-10-20 15:36] Quintus opened #474 "Port HUD to SFML"
There is no HUD in the SFML port currently. The HUD (Head-up Display) is the assembly of informative elements on the top of the screen, in case you wonder.

Vale,
Quintus

[2015-10-20 15:42] Quintus opened #475 "Add transitions to scene system in SFML port"
The current SFML port has switched to a scene-based model, but it does not allow for smooth camera transitions. The scene will just blink over to the next scene when a new scene is pushed onto the stack. That’s visually not outright appealing, and the current SDL/OpenGL one combo uses a variety of camera transitions (like a powerup growing over all the screen for example).

Valete,
Quintus

[2015-10-20 15:49] Quintus commented on #436
@Luiji @datahead8888 @brianvanderburg2 this is one of the more important SFML porting issues, since a lot of objects in TSC emit sounds in some way or another. It would make porting of these objects smoother if a working sound system was in place. Please give a thought as to whether you want to tackle this issue.

The current audio system resides in the `src/audio` directory, but as it is closely

[2015-10-20 15:56] kirbyfan64 commented on #436
Ooooh, if I did this, could I add support for making songs loop without the intros?

[2015-10-20 16:31] Quintus commented on #436
If you know how to tell SFML this, then yes. However, it is required that it also works with the current system, because we don’t want to do heavy systematic changes (besides SFML itself) in the SFML port. So if you want to tackle this, my suggestion is to first implement the basic system as we have it now. In a second step (and probably second PR) you expand the API of the sound system to support

[2015-10-20 16:35] Quintus opened #476 "Port screenshooting to SFML"
The screenshooting facility needs to be ported in the SFML port. SFML supports off-screen drawing to a render texture, and it should be possible to get a PNG out of that texture again. See [this SFML documentation section](http://www.sfml-dev.org/tutorials/2.3/graphics-draw.php#off-screen-drawing) for a tutorial on off-screen drawing.

Valete,
Quintus

[2015-10-20 16:35] Quintus commented on #476
The screenshooting facility is currently in `video.cpp`.

[2015-10-20 20:29] datahead8888 commented on #436
One of the folks in the sfml room suggested first converting all sfml while keeping legacy OpenGL intact and then tackling the legacy OpenGL.  I'm not immediately sure if this differs from the current strategy, but it might make sense to at least knock off all the SDL conversion tasks first, regardless.

Are we still planning the list of tasks, or will we start assigning to tasks?

@kirbyfan64 we

[2015-10-20 21:01] Quintus commented on #436
datahead8888 <notifications@github.com> writes:

We have surprisingly tiny amounts of raw OpenGL in our code. There is
much, much more SDL code. When I ported the contents of video.cpp
(sprite loading, manipulation, and rendering) to SFML’s sprite system, I
ported most of the raw OpenGL already. The part that currently has the
most legacy OpenGL that is still unported are for sure the particle
emi

[2015-10-20 23:44] datahead8888 commented on #436
@kirbyfan64 - if you do this SFML conversion task, it should give you plenty of experience with the code for when you do the new feature for allowing intros (or endings) to be separated from a loopable portion of a song.  If you start this task, let us know, so that no one else does duplicated work.

[2015-10-21 03:09] datahead8888 commented on #313
If we implement factories like this, we also could consider setting up an object pool system for some types of objects in order to reuse objects rather than delete/create them every time.  It's actually the exact same thing sauer2 suggested for particle systems (it's common for them due to the high overhead of creating tons of particles).

[2015-10-21 03:11] datahead8888 commented on #449
Submission by kirbyfan64: http://forum.secretchronicles.de/topics/339

[2015-10-21 07:00] datahead8888 commented on #438
We also need to implement mouse interaction on the menu again.

[2015-10-21 11:17] Quintus commented on #313
datahead8888 <notifications@github.com> writes:

I might note that in the SFML port there is a texture manager that
caches instances of sf::Texture so that not every sprite needs to load
the image file from the disk again. You ask it for a texture, and if it
is there already, you get a reference. If it isn’t it is loaded from
disk and then you get the reference.

Vale,
Quintus

[2015-10-21 15:54] kirbyfan64 commented on #436
So, this would basically be changing the source inside the `audio` directory to use SFML instead of SDL, right? I can definitely do that!

[2015-10-21 18:36] Quintus commented on #436
Ryan Gonzalez <notifications@github.com> writes:

Yes.

Okay, so nobody else will work on this for now. When you are done with
your changes, please submit a PR (either by mail to the ML or with
GitHub’s web interface, depending on whether you prefer to work on
GitHub or not).

Vale,
Quintus

[2015-10-21 18:40] kirbyfan64 commented on #436
Slight oddity: SFML has no support for fading. I'll leave that for last!

Also, is the only purpose of channels in SDL mixer just like a global list of currently playing songs? Again, SFML doesn't have that concept.

[2015-10-21 22:56] datahead8888 commented on #332
@giby, have you had much time to work on the French translation?

[2015-10-21 23:00] datahead8888 commented on #441
I seem to remember there being discussion about having two votes: one on whether or not to change god mode and another one what name to use if we change it.  Did we decide to only hold one vote for all decisions altogether?

I saw a reference to "kid" mode in the SFML port code.  What is planned for this?

[2015-10-22 00:12] datahead8888 commented on #436
Per http://stackoverflow.com/questions/5498474/c-sfml-1-6-smooth-sound-fading-effects you might look into SetVolume() and SetAttenuation() functions within the API.  It looks like you may have to drive the fading logic yourself, though.

This webpage seems to indicate that SFML supports channels:
http://www.sfml-dev.org/tutorials/1.6/audio-sound.php

My experience is pretty limited with SFML at th

[2015-10-22 07:06] datahead8888 opened #477 "Speed Factor Issues in SFML Port Branch..."
In the feature-sfml-port branch, if you load one of the two test levels and jump, you will jump sky high.
Quintus said he believes this may be an issue with the usage of the m_speedfactor variable.  This variable is calculated in scene_manager.cpp in method Play().

The equivalent speed factor code in the devel branch is in framerate.cpp, in method Update().

The jumping code in question in the sf

[2015-10-22 07:06] datahead8888 commented on #477
I will look at this a little.  If I end up working on another task, I will unassign myself.

[2015-10-22 07:55] Quintus commented on #441
datahead8888 <notifications@github.com> writes:

Quote from the announcement:

Reasoning is that a formal voting procedure is a heavy operation. Each
vote needs at least two weeks of preparation time (between vote
announcement and CfV). If you wanted to do two votes you would thus at
least need four weeks.

This is a rather unknown second cheat in TSC, and has nothing to do with
the SFML port (it

[2015-10-22 10:04] datahead8888 commented on #477
I've run some tests and drawn some conclusions.  I agree there is an issue with the speed factor:
* The SFML port version uses seconds for elapsed time (m_game_clock.restart().asSeconds()) while devel uses milliseconds (SDL_GetTicks())
* The SFML port version changes the speed factor once each second while the version in devel appears to change it every physics iteration
* There are additional min

[2015-10-22 10:58] datahead8888 commented on #441
I think it would be reasonable to announce two votes at once and only wait two weeks for them together.  However, in this case, adding the second vote would require us to wait two weeks from the point at which we changed the voting for this issue, which would drag this out.

[2015-10-22 11:06] datahead8888 commented on #356
We never got a license confirmation on the two songs (title and credits).  They were then removed from the game.  All the other stuff involving fruit graphics licensing is done.  Do we want to keep this ticket open?

If we want a task for the title / credits themes (probably to be obtained through the contest), it would probably be clearer just to make a new task for that, since this was a legal l

[2015-10-22 15:29] Quintus commented on #441
Of course it is possible to have multiple votes running at once, but in this case the second one would depend on the result of the first one. So I thought merging them was the simplest approach.

Vale,
Quintus

[2015-10-22 15:30] Quintus commented on #356
I agree. We can close this.

Valete,
Quintus

[2015-10-22 19:26] #356 closed

[2015-10-22 20:16] datahead8888 commented on #441
I misunderstood you before.  Yes, it is simpler this way, but two votes can allow people to express an opinion both ways in such a case.  It is too late to change this vote now, however.  I failed to notice the change myself anyways.

[2015-10-22 22:20] datahead8888 opened #478 "Mac Build Support..."
This is a task to make TSC compile on Mac build environments.

We didn't actually have a task in the tracker, so I am creating one for this.

This is a link to the work that @Tobbi started on this, though he said he could not test them:

https://github.com/tobbi/TSC/commit/e96208941961bd61e6b3a203ab6008d168a3efce

Additional Mac CMake discussion:
http://forum.secretchronicles.de/topics/299

If any

[2015-10-23 00:37] datahead8888 commented on #477
It seems my first assumption above was incorrect.  There does not appear to be an issue with seconds versus milliseconds -- the code in devel divides the milliseconds for the elapsed ticks by a factor of 1000.

The speed factor algorithm in the feature-sfml-port branch, however is different than in devel.  In addition to calculating the speed factor once each second instead of each physics update

[2015-10-23 17:36] Quintus commented on #477
Since the main loop was one of the very first things to be ported, I think this was before I added my `// OLD` comments everywhere. If there was a removal of code, this was unintentional and I meant to port it later over, but then simply forgot about it (now you see what these `// OLD` comments are good for).

There are a *lot* of magic numbers in the TSC code currently, and I remember having fidd

[2015-10-23 17:41] Quintus commented on #436
You should take a day to read [the tutorials](http://www.sfml-dev.org/tutorials/2.3/). SFML’s API is so easy that I managed to get up and running with it in one day. The API reference also is very well done (a really nice example of a good API reference!).

Vale,
Quintus

[2015-10-23 17:43] Quintus commented on #436
This is an SFML 1.6 tutorial! Do not use that without knowing what you do. The current version is SFML 2.3.2, which is a breaking major release later! The audio stuff is now split over multiple tutorials, see the link I posted above.

Vale,
Quintus

[2015-10-23 19:30] Quintus commented on #477
I forgot to mention that I extracted the speed factor calculation into its own method now for better overview (and use in TSC’s awful mini mainloops). Apart from that extraction nothing happened to the speedfactor code in `feature-sfml-port`.

Vale,
Quintus

[2015-10-23 23:40] datahead8888 commented on #436
@Quintus, do you think think SFML supports multiple sound channels?  This was @kirbyfan64 's question.  He may start work again before I read through all the tutorials.

What do you think on fading?

[2015-10-23 23:54] kirbyfan64 commented on #436
I think I may not need channels at all, simply because of the way the SFML API was designed. It is indeed much better than SDL!

[2015-10-23 23:57] datahead8888 commented on #477
@Quintus, did you temporarily change any other code to compensate for the speed issues or know of anything else that might be causing the jumping issues?  My tests yesterday seemed to indicate that forcing the speed value to be the same between the feature-sfml-port and devel branches does not fix the issue.  We should probably first get jumping to behave correctly in a temporary test before decid

[2015-10-23 23:59] datahead8888 commented on #436
@kirbyfan64 do we need channels in order to retain stereo sound?

[2015-10-24 21:31] kirbyfan64 commented on #436
Heads up: this may take a bit longer than I thought, since SFML's API, although MUCH better than SDL's mixer crud, is SUPER different. I had to change more than I realized!

[2015-10-25 05:56] brianvanderburg2 commented on #436
I'd like to help but probably will not be able to.  I still need to check out the branch, read some SFML documentation, brush up on some things.  Hopefully I'll get some time, even if only a few lines here or there or some comments/discussion.  Working 1 hr from home and on mandatory overtime, plus school, plus self-study for CCNP, plus real life is taking up all my time and more for the time bein

[2015-10-25 06:09] brianvanderburg2 commented on #464
One feature it could support with such things may be some dynamic sound effects.  For example, something like PlaySound("thunder") may reference a configuration which uses thunder sounds and picks one randomly perhaps with a certain probability, much like the image set animation branching feature.  But outside of such corner cases, I don't really see the need for it.

As a personal preference for

[2015-10-25 07:47] Quintus commented on #477
No, what I mentioned was all. I just live with it in testing currently.

It might be a problem with the gravity system as indicated. I have no other ideas, though.

Okay.

Okay.

Vale,
Quintus

[2015-10-25 07:53] Quintus commented on #436
I can’t infer that from the SFML documentation. I fear you simply have to test it by creating multiple instances of `sf::Music` and trying to play them simultaneously. Alternatively, you can join our IRC channel, because since recently we have an SFML dev in there (expl0iter). Same goes for you, @kirbyfan64 :-)

Valete,
Quintus

[2015-10-25 19:42] Quintus commented on #441
[code]

[2015-10-25 19:54] sauer2 commented on #441
Option 6

[2015-10-26 00:37] datahead8888 opened #479 "Ability to Exit a Level Once Started..."
As suggested by souliaq in http://forum.secretchronicles.de/topics/277 we should add a way to exit a level that has already been started.  We would probably only allow exiting of levels that were beaten, but this can be discussed.

[2015-10-26 09:39] Bugsbane commented on #441
Just to reiterate, my vote is for option 6 "Omega Mode" (btw, I'm listed as part of the organization here on GitHub, but my name isn't in your comment above @Quintus )

[2015-10-26 10:30] datahead8888 commented on #477
I have written fixes for two issues I've found regarding the speed factor.  They are at https://github.com/Secretchronicles/TSC/commit/a7966fe9a6f315a3cf8bb3d83f0b1aa0ac660f27
I found:
* In actor.cpp in method Update_Position(), it did not account for the current time elapsed (represented through the speed factor) when applying a position change based on velocity.
* In scene_manager.cpp it only ca

[2015-10-26 10:40] datahead8888 commented on #477
However, I'll need to find the equivalent of m_col_pos.m_x if I rewrite the Update_Position_Rect method.

[2015-10-26 11:52] Quintus commented on #441
Bugsbane <notifications@github.com> writes:

It appears your membership is not set to be “public”, i.e. it can only
be seen by people who are members of the organisation themselves. When I
made the list I was not logged in into GitHub, so I didn’t see it. It’d
be a good idea to publicise it then (go to the organisation page and
change your visibility setting to “public”). It’s not a problem that y

[2015-10-26 12:12] datahead8888 commented on #436
@kirbyfan64 -

The 2.3 SFML documentation does talk about channels: http://www.sfml-dev.org/tutorials/2.3/audio-sounds.php

[code]

In audio.cpp in branch devel, in the constructor, I see this line:
[code]

This suggests that we need the channels in order to properly support stereo sound.  I'm not sure to what extent we're currently using stereo, but it would make sense to set the code up for it.

[2015-10-26 12:18] datahead8888 commented on #441
Does Arik Burns (@Aakburns) have the same status?  I seem to remember you saying he was not public either.  We could send him an email both about this vote and about the github public issue.  We also might invite him to join the mailing list if he is not already a member.

[2015-10-26 12:45] Quintus commented on #477
Very nice, this looks good. The jumping in the minimal levels works fine now. If you edit the XML of `lvl_2.tsclvl` and set a higher Y position for the level player (decrease Y, mind negative value and remember to run `make install` afterwards) you will find it also works fine in that level now. Great work!

However, what did you do with the start menu? It expands/shrinks the menu points now much

[2015-10-26 12:48] Quintus commented on #441
Just log out of GitHub and view [the organisation page](https://github.com/orgs/Secretchronicles/people). Then log in and view the same page. You’ll immediately notice who is not set as public.

Vale,
Quintus

[2015-10-26 13:21] sydneyjd commented on #441
I vote :
Option 6: Omega Mode

[2015-10-26 14:04] Quintus commented on #441
For those who didn’t notice: Voting happens in parallel also [on the mailinglist](http://lists.secretchronicles.de/tsc-devel/2015/10/0000075.html). I just say this so you aren’t surprised if there are more votes in the final results than you might expect from this ticket’s discussion.

Valete,
Quintus

[2015-10-26 23:30] datahead8888 opened #480 "SFML Port - Incorrect Sprite Shown for Alex When He Faces Left..."
In branch feature-smfl-port, if you face left in the game, the wrong sprite shows for Alex.

See also: http://forum.secretchronicles.de/topics/353

[2015-10-28 13:53] DarkAceZ commented on #441
Option 6 sounds the best.

[2015-10-29 03:29] datahead8888 commented on #464
Does the packaging system currently allow the song file played for each track to be configured through a package?  If it does not do this but does allow configuring of the images, I think this should be added for consistency.  This, however, would be a different task, since this task was about using config files to set up default music files rather than just C++ code.

[2015-10-29 03:59] datahead8888 commented on #477
Yes, after doing this I was able to hop my way through the level.  Jumping still has issues (or hacks if some of the functionality is intended for now), however.

I made no changes to the start menu.  If, however, you wrote your code to work while we had speed issues, I would expect it to break when the those main speed factor issues were fixed.  Otherwise, this is yet another issue to look into.

[2015-10-29 04:10] datahead8888 commented on #477
Also:
* Falling down a pit does not kill Alex

[2015-10-29 14:50] Quintus commented on #477
Yes, that’s true. We’re going to have to adapt the menu to the “correct” calculation of the speedfactor now.

menu/menu.cpp and menu/menu_data.cpp. Beware the in-memory XML.

As said, I will take a look at this, probably this weekend. In the meantime you could fix the timing for the start menu in menu_scene.cpp :-)

Jumping code is not ported over completely yet AFAIK, and this is probably the res

[2015-10-30 06:54] datahead8888 commented on #477
Done with commit id 9381b3070e8bc491a753f1bdd61930f79c0bd0b1 in the sfml_speedfactor_fix  branch

I probably missed it after being tired out after working on the speedfactor fixes some days back.

I assume this is part of #434 if code is completely missing; otherwise it should be a new bug ticket.  Perhaps this ticket should be retitled as "speed factor issues".

If confirmed as a bug, we might wa

[2015-10-30 11:33] Quintus commented on #477
Thanks. I just tested it, works like a charme. :-)

Let me verify against the code before filing a new ticket.

Agreed. Feel free to file one.

They’re set to “half-massive”, not “massive”. Jumping through them is allowed. However, what does not work yet (because not yet ported) is standing on a half-massive object.

Vale,
Quintus

[2015-10-31 13:48] Quintus commented on #477
Okay I have a new finding there. The issue directly correlates with the sliding problem. If you have a game run that contains the side-sliding problem, you also can do double jumps in the air. If however you have a game run that doesn’t contain the side-sliding problem, you also can’t do double jumps in the air. There is an issue with the keyboard handling I infer from that (maybe keydown/keyup ev

[2015-11-02 02:32] kirbyfan64 commented on #436
Status update: although there were some delays (*cough* schoolwork *cough*), it's going well. I ended up removing some completely unused APIs that would be hard to port to SFML.

Sorry about the delays. Hopefully I'll be finished by the weekend!

[2015-11-02 05:30] datahead8888 commented on #436
Thanks @kirbyfan64 - we really appreciate the help on the SFML port.  I definitely know the feeling with schoolwork burning up time.

[2015-11-03 19:46] Quintus commented on #441
[code]

[2015-11-03 19:52] kirbyfan64 commented on #441
Short version:

Omega Mode is the new name.

[2015-11-03 20:01] datahead8888 commented on #441
Once someone codes the change and commits it to devel.  It probably would be best to include this in the next release given that we just voted on it.

[2015-11-03 23:16] datahead8888 commented on #337
@JohnTheTreeman, have you had any time to look at this one?  Knocking off a major Mario-ism will be a big win for us.

[2015-11-04 19:55] Quintus opened #481 "[Vote 2 Result] Rename “Funky God Mode” to ”Omega Mode”"
By means of a majority voting the team decided to rename “Funky God Mode” to “Omega Mode”. This ticket is a reminder to actually do this so we won’t forget about it.

Cf. #441

[[Voting results](http://lists.secretchronicles.de/tsc-devel/2015/11/0000002.html)]

Valete,
Quintus

[2015-11-04 19:55] Quintus commented on #441
Superseded by #481.

Valete,
Quintus

[2015-11-04 19:55] #441 closed

[2015-11-04 21:22] datahead8888 commented on #264
Thanks for committing them, Quintus.

[2015-11-05 10:37] Quintus opened #482 "Fix outline of old blue hills"
Hi everyone,

with the recent addition of skarfester’s blue hill graphics we now have two types of blue hills: His new ones and the old ones by FluXy, who look a little out of place now due to their thick outline. I’m referring to these graphics:

* https://github.com/Secretchronicles/TSC/blob/8dafa8f429529bf1bc699b0fb1346ca508dc11ba/tsc/data/pixmaps/world/objects/hill/blue_big.png
* https://githu

[2015-11-05 21:02] datahead8888 opened #483 "Allow World Map Animations..."
As discussed at http://forum.secretchronicles.de/topics/305 it would be great to be able to have animations for sprites in the world map.

To quote Quintus:
[code]

[2015-11-06 03:39] datahead8888 commented on #378
Is this still a bug in the devel branch?  I know Quintus and Brian Vanderburg implemented an overhaul (with bug fixes) for saving.  Much of the discussion was about whether this could be moved to release-2.0, but now devel is all we care about.

[2015-11-06 16:45] brianvanderburg2 commented on #483
I may take a look at this and see what can be done whenever I get some free time.  For now just some ideas and thoughts.

* overworld_loader.cpp:214 loads the sprites, calling sprite.cpp:318
* sprite.cpp:318 creates the sprite from the attributes, checks the image attribute, if it ends in ".png" it just uses Set_Image, otherwise it uses Add_Image_Set/Set_Image_Set.  This would allow for a sprite i

[2015-11-06 16:55] brianvanderburg2 commented on #483
I just tested this by editing world 1's world.xml and setting some sprite to use an enemy .imgset file "enemy/larry/grey/walk.imgset".  It seems to work correctly.

[2015-11-07 20:18] datahead8888 commented on #483
Could you post it in a PR so that we can try it out?  Be sure to include testing instructions or worlds/levels as needed.

[2015-11-07 20:47] brianvanderburg2 commented on #483
Pull request here: #484

There isn't any changes to code needed, it just requires manually editing the world XML files.  Currently neither the level editor or world editor that I'm aware of have a way to show imgset items in the editor.  I don't know anything about the editor code so don't know how to change that.

[2015-11-07 22:33] kirbyfan64 commented on #436
Well, here's what I have so far: https://github.com/kirbyfan64/TSC/tree/sfml_audio. The diff is [HUGE](https://github.com/Secretchronicles/TSC/compare/devel...kirbyfan64:sfml_audio)!! I ended up removing a lot of code related to initializing, which SFML handles automatically.

Now, there's a slight issue. If one removes the cursor from the window, the music plays normally, but all the sprites free

[2015-11-10 17:52] datahead8888 opened #486 "Level Music Volume Setting..."
As discussed in IRC, we might consider allowing the volume to be set for each song for each level.

Logs from today's discussion (whole day) - http://chatlogs.secretchronicles.de/htmllogs/2015-11-10.log.html

[2015-11-22 21:39] Quintus commented on #483
Very cool. Now we only need a to add a UI element in the editor that supports animated graphics...

Vale,
Quintus

[2015-11-29 22:03] Quintus opened #489 "Remove cVideo::Downscale_Image() in its current form"
TSC is not an image processing library. [This function](https://github.com/Secretchronicles/TSC/blob/6a476461703c62d684a0e097a8e915f21af7d627/tsc/src/video/video.cpp#L1580-L1643) thus should be removed and replaced by a call to libPNG or a similar library. Implementing image pixel processing ourselves is definitely out of scope for TSC.

Valete,
Quintus

[2015-11-30 11:39] datahead8888 commented on #489
Would this increase our dependency count?  A lot of people have complained already about how tough it is to build TSC.  The code is borrowed from Jonathan Dummer anyways, so it's not like anyone wrote this from scratch in the first place.

[2015-12-01 11:07] Quintus commented on #489
datahead8888 <notifications@github.com> writes:

No. We already depend on libPNG.

Vale,
Quintus

--
#!/sbin/quintus
Blog: http://www.guelkerdev.de

GnuPG key: F1D8799FBCC8BC4F

[2015-12-02 05:00] datahead8888 commented on #489
Then I would agree here.

I don't think we should make a blanket policy.  For things commonly dealt with by libPNG, yes, but it is possible someone may come along eventually and want to do something cutting edge.  It should be evaluated on a case by case basis.  This applies to a lot of algorithms beyond image processing.

[2015-12-03 09:18] #434 closed

[2015-12-03 09:18] #438 closed

[2015-12-03 09:18] #439 closed

[2015-12-03 09:18] #444 closed

[2015-12-03 09:18] #445 closed

[2015-12-03 09:18] #461 closed

[2015-12-03 09:18] #465 closed

[2015-12-03 09:18] #466 closed

[2015-12-03 09:18] #467 closed

[2015-12-03 09:18] #469 closed

[2015-12-03 09:18] #470 closed

[2015-12-03 09:18] #471 closed

[2015-12-03 09:18] #472 closed

[2015-12-03 09:18] #473 closed

[2015-12-03 09:18] #475 closed

[2015-12-03 09:18] #477 closed

[2015-12-03 09:18] #480 closed

[2015-12-03 09:20] Quintus opened #490 "Port input system to SFML"
Transition the SDL-based input-system to SFML.

Sub-tasks: #491 #493

[2015-12-03 09:23] Quintus commented on #105
Following @datahead8888’s more sensible approach to porting TSC to SFML, the main work on this task (and its subtasks) has now shifted to the `feature-sfml-port2` branch. I have closed the tickets related to the old approach and left only those open that have a meaning in the new approach as well.

Valete,
Quintus

[2015-12-03 10:32] Quintus opened #491 "Port joystick input to SFML"
Joystick input should be ported to SFML. This mostly means adapting `joystick.cpp`.

[2015-12-03 10:33] Quintus opened #492 "Port preferences to SFML"
SFML uses different keyboard and joystick settings, so a slight adaption of TSC’s preferences handling in `preferences.cpp` is required. Some work has already been done on this.

[2015-12-03 11:05] Quintus opened #493 "Port keyboard input to SFML"
Porting the keyboard input system to SFML. Mainly centered around `keyboard.cpp`, but includes several pieces of input code at other places in the game.

[2015-12-03 11:06] Quintus commented on #491
I have actually already done some work on this in the `sfml-port-input` branch.

[2015-12-04 20:01] Quintus opened #494 "Port mouse input to SFML"
Things around `mouse.cpp`.

[2015-12-06 13:25] Quintus opened #495 "Is_Float_Equal()"
Optimize [this](https://github.com/Secretchronicles/TSC/blob/devel/tsc/src/core/math/utilities.hpp#L62-L70):

[code]

into this:

[code]

for @datahead8888 :-)

[2015-12-20 21:40] lambda-11235 opened #496 "README links to coding conventions and style guide are broken"
The style guide link needs a .html appended to the address. The coding conventions link refers to a non-existent page.

[2015-12-22 18:04] lambda-11235 commented on #492
The print screen key is currently unsupported in SFML. A different key may need to be used for printing. F12 is a commonly used alternative.

[2015-12-22 19:38] Quintus commented on #492
For reference, the SFML team appearently knows about the problem: https://github.com/SFML/SFML/issues/7

Vale,
Quintus

[2015-12-23 00:52] lambda-11235 opened #497 "Can't enter performance mode while in level editor"
I can't enter performance mode while in the level editor. This is because the binding for p is caught in in cEditor::Key_Down before ctrl-p is caught in cKeyboard::Key_Down.

[2015-12-23 09:51] Quintus commented on #497
Taran Lynn <notifications@github.com> writes:

I assume this report is against the devel branch, because in
feature-sfml-port2 there is no input handling available at all currently
(because I’m working on it in the separate branch sfml-port-input).

However, performance mode is a debugging detail that is not meant to be
used by end users (players) of the game. It is an unofficial and
undocumented

[2015-12-23 16:36] Quintus opened #499 "Do not simulate keyboard events from joystick handling code"
The joystick handling code in `joystick.cpp` currently often transforms joystick events into keyboard events and the submits them into the keyboard event handler in `keyboard.cpp`. This break’s the keyboard handler’s assumption of being called only during regular event handling, *especially* this is problematic because the joystick code does not take care that there is a corresponding key release

[2015-12-26 22:19] xet7 commented on #496
https://github.com/Secretchronicles/main-website/commit/c02c7a3c0dd7a8194ac0e3a7ad8b251669fd4d5e

[2015-12-27 08:21] xet7 commented on #496
@Quintus I have translated documentation page, and fixed StyleGuide link in README.md. You can now fix coding conventions etc docs links.

[2015-12-27 21:55] #474 closed

[2015-12-28 16:21] Quintus opened #500 "Freetype 2.6.2 breaks CEGUI 0.7.x"
Hi everyone,

I found out that versions of the Freetype library >= 2.6.2 are incompatible with CEGUI 0.7.9. Trying to start TSC linked against freetype 2.6.2 (and probably newer) will result in the game only showing a black screen. Interrupting it and inspecting with GDB yields this stacktrace:

[code]

It appears CEGUI locks itself in an endless loop while trying to read a TTF font file.

I have

[2015-12-28 16:24] Quintus commented on #500
The stacktrace has been made with current tip of `devel`, i.e. commit 3cf40a1179828dfd2731d3c5d0a7d75ab1ae4b7c.

Valete,
Quintus

[2015-12-28 16:48] Quintus commented on #493
Implemented with f1a7838e6265ac2fb154ec24cfeaf778dd39c561.

[2015-12-28 16:48] #493 closed

[2015-12-28 16:49] Quintus commented on #494
Mouse handling is not entirely completed yet, it appears mouse clicks are not propagated correctly. Otherwise, commit f1a7838e6265ac2fb154ec24cfeaf778dd39c561 has implemented large parts of it.

[2015-12-28 16:50] Quintus commented on #492
Preferences are ported over now with commit f1a7838e6265ac2fb154ec24cfeaf778dd39c561.

[2015-12-28 16:50] #492 closed

[2015-12-28 16:50] Quintus commented on #490
Commit f1a7838e6265ac2fb154ec24cfeaf778dd39c561 has implemented large parts of the input system. Some errorneous parts (most notably mouse handling) still remain, so I leave this open for now.

[2015-12-28 16:52] Quintus commented on #494
@lambda-11235 I have merged `sfml-port-input` now into `feature-sfml-port2`. Input is now mostly available. If you want, you can take a look at this issue; I won’t interfer with it.

[2015-12-29 01:51] lambda-11235 opened #501 "Image caching segfaults in sfml port."
Recaching images causes a segfault in feature-sfml-port2.

[2015-12-29 09:24] Quintus commented on #501
I can reproduce this. GDB run with Stacktrace:

[code]

Might be related to [this unconverted statement from old SDL-based code](https://github.com/Secretchronicles/TSC/blob/f1a7838e6265ac2fb154ec24cfeaf778dd39c561/tsc/src/video/video.cpp#L616-L620). These warnings shouldn’t be there.

Also, excuse my ignorance, shouldn’t an image have **bits per pixel**, and not **bytes per pixel**?

Vale,
Quintu

[2015-12-29 09:52] Quintus commented on #501
Bytes per pixel is an SDL invention: https://wiki.libsdl.org/SDL_PixelFormat

It’s the number of bytes needed to store a complete pixel. If the image has a colour depth of 8 bits, then an RGB image has 3x8 = 24 bits per pixel. 24 bits can be stored in 3 bytes, so SDL says the image has 3 bytes per pixel.

[2015-12-29 10:02] Quintus commented on #501
Commit 0b82e789f4e55afafa00c58d6ecaad8480bc65dd should have fixed the problem. Update your copy of the code and try again.

Vale,
Quintus

[2015-12-29 17:17] lambda-11235 commented on #501
@Quintus commit 0b82e78 fixed it.

[2015-12-29 20:50] Quintus commented on #501
Taran Lynn <notifications@github.com> writes:

Thank you for confirming. This issue is set to autoclose on merging to
devel, so I won’t further touch it.

--
#!/sbin/quintus
Blog: http://www.guelkerdev.de

GnuPG key: F1D8799FBCC8BC4F

[2015-12-29 22:22] Quintus opened #503 "Arrow displays in SFML port where text should be"
In the SFML port, there are arrows displayed where text (especially points) should be. Screenshot:

![out](https://cloud.githubusercontent.com/assets/156358/12043202/00f7c416-ae83-11e5-99c6-6e449b9ca193.png)

This might be related to [this unported call to glPixelStorei](https://github.com/Secretchronicles/TSC/blob/f1a7838e6265ac2fb154ec24cfeaf778dd39c561/tsc/src/video/video.cpp#L1152-L1153).

Val

[2015-12-30 19:15] Quintus opened #505 "Mouse cursor is set off in SFML port"
At certain places, the mouse cursor is set off in the SFML port. In ticket #502 there are some screenshots and investigations, namely finding that the offset does not apply to CEGUI GUI elements, but only where TSC handles mouse cursor input itself.

/cc @lambda-11235

Valete,
Quintus

[2015-12-31 01:57] lambda-11235 commented on #505
I noticed a problem that I think is related to this in mover mode. If sf::Mouse::getPosition is used, then the  position is relative to the desktop screen.  This is what cMouseCursor uses for m_x and m_y. sf::Event::MouseMoveEvent gives coordinates relative to the game window.

Initial tests indicate that this, or something similar, might be the case. My evidence is that the mouse input and icon o

[2015-12-31 02:58] lambda-11235 commented on #505
Actually, it might be best to store all mouse positions relative to the TSC window. This would mean giving getPosition a sf::Window argument. The problem is getting the window argument in cMouseCursor. For reference the problem appears to be on line 205 of menu.cpp. I think m_col_rect is measured relative to the window, while pMouseCursor is relative to the desktop.

I think a good course of actio

[2015-12-31 09:16] Quintus commented on #505
Taran Lynn <notifications@github.com> writes:

TSC maintains pVideo as a global pointer for exactly this purpose. You
can retrieve the sf::Window instance of the main window at any time
everywhere in the code with

  pVideo->mp_window

.

I agree with your finding. The coordinates are retrieved and set in
cMouseCursor::Update_Position() which needs to be modified then.

Use the pVideo global varia

[2015-12-31 14:46] Quintus opened #506 "CEGUI log file is not created"
Ever since I work on TSC the CEGUI log file is not actually created. The informative output of TSC does say so, but in reality no file is created. Since the CEGUI log file is required for reporting bugs to the CEGUI team, it would be good to fix this.

Valete,
Quintus

[2015-12-31 14:48] Quintus commented on #494
Implemented with merge of #502 (although some bugs remain, see #505).

[2015-12-31 14:48] #494 closed

[2015-12-31 14:52] Quintus commented on #476
Has already been implemented. Note that the screenshooting facility has moved to the key `P`, because somehow SFML doesn’t support the PrintScreen key. This is probably the related issue on the SFML tracker: https://github.com/SFML/SFML/issues/7

Valete,
Quintus

[2015-12-31 14:52] #476 closed

[2015-12-31 15:00] Quintus opened #507 "Enable fullscreen mode in SFML port"
The SFML port currently does not support fullscreen mode. According to the [SFML docs](http://www.sfml-dev.org/documentation/2.3.2/classsf_1_1Window.php#a1bee771baecbae6d357871929dc042a2) this requires passing a special flag to the sf::Window constructor.

Valete,
Quintus

[2015-12-31 16:44] Quintus opened #508 "Remove remaining uses of SDL from SFML port"
With merge of #488 all major components have been switched over to SFML. Still, there are a number of SDL references left in the code that can easily be identified by running `$ grep -nri sdl src/` on the code. These ought to be replaced with SFML equivalents or independant code.

Valete,
Quintus

[2015-12-31 23:09] lambda-11235 commented on #503
I don't think its glPixelStorei. Look at video/font.cpp line 121. Text rendering hasn't been ported to SFML yet.

[2016-01-01 02:43] lambda-11235 commented on #503
I got text to render, but my method substantially slows down the game when rendered. This causes stuttering when collecting gems. Currently, I have it so that the text is converted from a sf::Text to a sf::Image, and then converted to a cGL_Surface. This conversion is evidently a lot slower than drawing the text to screen. Any suggestions?

I've already done several changes to the code. Should I p

[2016-01-01 08:55] Quintus commented on #503
Taran Lynn <notifications@github.com> writes:

We could incorporate SFML’s graphics module and switch to
sf::RenderWindow. It requires some cautions if used with our raw OpenGL
(see
http://www.sfml-dev.org/tutorials/2.3/window-opengl.php#using-opengl-together-with-the-graphics-module),
but this doesn’t look impossible. It would give us the ability to render
sf::Text directly with SFML’s own method

[2016-01-01 09:18] Quintus opened #510 "Boost 1.60.0 breaks compilation"
The most recent release of the boost library, [1.60.0](http://www.boost.org/users/history/version_1_60_0.html), adds a function [boost::filesystem::relative()](http://www.boost.org/doc/libs/1_60_0/libs/filesystem/doc/reference.html#op-relative) that conflicts with [our own variant of that function](https://github.com/Secretchronicles/TSC/blob/30154a3602a287f498a754961b3bde81a735a61c/tsc/src/core/f

[2016-01-01 09:28] Quintus commented on #505
Fixed with merge of #509. Closing.

[2016-01-01 09:28] #505 closed

[2016-01-01 10:37] #510 closed

[2016-01-01 10:48] Quintus commented on #436
Implemented with merge of #488. Closing.

[2016-01-01 10:48] #436 closed

[2016-01-01 10:48] Quintus commented on #468
Related to old SFML port try, thus outdated. Closing.

[2016-01-01 10:48] #468 closed

[2016-01-01 10:54] Quintus opened #511 "Change key combination for Omega mode"
As a followup to #481, we should probably change the key combination for activating Omega mode. The old G-O-D doesn’t fit the name anymore now.

Suggestions?

Valete,
Quintus

[2016-01-01 10:58] Quintus commented on #458
Review has happened on the forums (links see OP), closing this ticket now.

[2016-01-01 10:58] #458 closed

[2016-01-01 11:03] #481 closed

[2016-01-01 11:03] #495 closed

[2016-01-01 11:03] #496 closed

[2016-01-01 11:30] Quintus commented on #503
Culprit found. Well. Erm. I’m sorry.

https://github.com/Secretchronicles/TSC/blob/9cb251766520f17a9b865331a6fb23d3febfb83d/tsc/src/video/font.cpp#L120-L121

Now that I see it I remember having added that. Ouch.

Vale,
Quintus

[2016-01-01 12:18] Quintus opened #512 "Port font manager to SFML"
The font manager (`font.cpp`) is not yet ported to SFML.

Valete,
Quintus

[2016-01-01 12:18] Quintus commented on #503
Depends on #512

[2016-01-01 12:46] Quintus commented on #512
TSC’s current rendering system makes this a little difficult. TSC does not draw actually when the Draw() method of several classes is called; instead, these methods create instances of one or more `cRender_Request` subclasses and _queue_ these instances into the singleton instance of `cRenderer` in the global variable `pRenderer()`. The mainloop then calls `pRenderer->Render()` to "execute" all th

[2016-01-01 12:52] Quintus commented on #503
Current tip of `feature-sfml-port2` has `sf::Window` already replaced with `sf::RenderWindow` so use of SFML’s `sf::Text` is now possible. However, please review my explanations in #512 before starting.

Vale,
Quintus

[2016-01-01 18:01] lambda-11235 commented on #511
OMeGa
O M G
Easy to remember. :smiley:

[2016-01-01 19:39] Quintus commented on #337
Okay everyone. Status of this? I want to remove the Mario pow switch for the next release, so it’d be nice if we came to a conclusion here. Looking at the issue it appears to me there’s not too much work left.

Valete,
Quintus

[2016-01-01 19:47] Quintus commented on #511
+1 for OMG :-P

[2016-01-02 04:46] Bugsbane commented on #337
Seems to me that while there was some disagreement on why, that there was general consensus on @JohnTheTreeman's version just with the S removed, and possibly with the outline and extra shine (although these items weren't further discussed after I suggested them). The main thing that we need at this point are the SVG's.

[2016-01-02 04:47] Bugsbane commented on #511
"OMG" Love it!

[2016-01-02 06:12] datahead8888 commented on #511
Not that I want to start another controversy about what is and isn't offensive, but "OMG" actually is an abbreviation that can offend some people.  We should at least discuss this a little before making a decision.  Granted, our new context is different, but the old name was god mode.

[2016-01-02 06:47] Bugsbane commented on #511
Actually, yeah... @datahead8888 has a point.

[2016-01-02 06:50] lambda-11235 commented on #511
@datahead8888 good point. The binding doesn't need to be three letters either. "OM" for "Omega Mode" might be a less controversial abbreviation.

[2016-01-03 15:22] Quintus commented on #511
Okay. “OM” is also fine for me.

/cc @Luiji

Valete,
Quintus

[2016-01-03 15:28] Quintus opened #514 "Implement the debug window as a real GUI window"
In old OpenGL/SDL TSC, the debug window was rendered completely manually by our own code. Rendering an entire Window is what we have a GUI library for (CEGUI currently), so the debug window should be implemented on top of that GUI library instead.

In the SFML port the debug window has been temporayly removed to faciliate work, because porting it to SFML would mean to rewrite it, and rewriting wou

[2016-01-03 21:45] datahead8888 commented on #511
"OM" kind of sounds like Omega Mode, so I think it could work.

[2016-01-03 23:03] Bugsbane commented on #511
Agreed

[2016-01-03 23:32] lambda-11235 commented on #511
Actually, I just realized that "O M E G A" could be a possibility. However, it is a lot of buttons to press, but is still fairly comfortable to press. I end up using my left hand on "A E G" and my right on "M O".

[2016-01-03 23:41] datahead8888 commented on #511
I think pressing five keys at once is a little too complicated for a cheat code.  I realize some old games had complex key combinations for cheats, but it really was a royal pain with some of those games.

I think it's unlikely most players will stumble on O + M accidentally, but we could require it to be held down for a number of seconds if we want to play it safe.

[2016-01-03 23:54] Bugsbane commented on #511
Here's the thing, even if they *do* stumble across it accidentally, is that really a problem? If I was a user who accidentally stumbled across this while keyboard mashing or something, I'd just think it was really cool. Seems like a good thing, to me.

[2016-01-03 23:57] datahead8888 commented on #511
I think there is also a "Kid" mode that can be accessed with K + I + D if I remember correctly.  Should we leave that one as is or consider changing it to K + M?

[2016-01-04 01:13] Bugsbane commented on #511
I'd leave it. I don't see any overriding need to modify anything.

[2016-01-04 12:45] Quintus commented on #511
Bugsbane <notifications@github.com> writes:

Kid “mode” really just downgrades you to small Alex immediately. I think
it can stay as it is.

OMEGA is a little hard to press. Currently, it is possible to play TSC
with a single hand if you choose your action keys carefully, and such a
long combination would break this (just try to do that combination with
one hand, it won’t work out). OM doesn’t loo

[2016-01-04 14:41] sydneyjd commented on #511
How about "OME"? For the first 3 letters of OMEGA. But thats just it. Im fine with OM though. The idea of having to hold the keys for a couple seconds is a good idea IMHO.

[2016-01-04 23:51] datahead8888 commented on #511
On QWERTY keyboards, this will require two hands, though I like that you are maintaining three letters.  "KID" cannot be done with one hand, though it is not used very often.

[2016-01-06 09:54] akien-mga commented on #10
Hi guys, what's the status on your GUI discussions? I know he's quite busy with other projects (OpenDungeons, ValyriaTear), but if you need some advice from an advanced CEGUI user, maybe @Bertram25 could answer you :)

[2016-01-06 12:30] Quintus commented on #10
Rémi Verschelde <notifications@github.com> writes:

We are currently about to complete our efforts to port TSC from SDL1 to
SFML. Since that is a fairly large task for our rather small team, the
complex task of upgrading CEGUI from 0.7.9 to the current version has
been postponed until the SFML port is finished. I am however confident
that we can complete the latter in this month.

It was my intent

[2016-01-06 17:02] datahead8888 opened #516 "Make Menu System work with sf::text rather than text images..."
To quote Quintus:

compile sfml-port-font-manager, compilation will fail at
menu_data.cpp. This is because the menu system uses HUDSprites
everywhere, and blits the text as images onto the HUDSprites. sf::Text
instances cannot be blitted onto TSC’s sprites, thus the menu system
must be modified in such a way that it can cope with sf::Text instead of
text images.

structure that causes the problem

[2016-01-07 00:09] Bertram25 commented on #10
Hi guys, :)
If you choose to keep Cegui and need some hints about it, feel free to ask me or people on cegui forums.
On the pro side, mostly, cegui 0.8 comes with an unified editor which is really nice to do the grunt work before making stuff cleaner on the xml level.
On the con side, I would say that cegui config logic is smart but somewhat uncommon which makes it somehow harder to grasp at the b

[2016-01-07 09:04] Quintus commented on #511
So everybody is fine with "OM" and a delay of 1-2 seconds?

Valete,
Quintus

[2016-01-07 09:17] Quintus commented on #10
Since datahead has volunteered to tackle the rather complex task #516 yesterday in IRC I have some resources free now. I’m going to write some minimal programs with SFML and CEGUI and see how it feels. It might be that I investigate some other tickets on the tracker first, though.

@Bertram25 thank you for your input. If any questions arise, I will come back to you. In the meantime you might be ab

[2016-01-07 09:22] Quintus commented on #10
Also, /cc @brianvanderburg2 as he might also have some input on whether to continue with CEGUI or switch.

Vale,
Quintus

[2016-01-07 09:25] Quintus commented on #512
Done with commit 035c99c. The only thing that remains is ticket #516.

Valete,
Quintus

[2016-01-07 09:25] #512 closed

[2016-01-07 09:27] Quintus commented on #507
Done with merge of #513.

Valete,
Quintus

[2016-01-07 09:27] #507 closed

[2016-01-07 09:28] Quintus commented on #503
Resolved with implementation of #512.

Valete,
Quintus

[2016-01-07 09:28] #503 closed

[2016-01-07 09:29] Quintus commented on #490
Done with #509 and #504 merged.

Valete,
Quintus

[2016-01-07 09:29] #490 closed

[2016-01-07 09:33] Quintus commented on #437
Status update on this. With the switch to the new SFML porting approach, we are able to keep the old particle system. However, as part of the longterm goal of deeper architectural changes, I leave this issue open.

Valete,
Quintus

[2016-01-07 09:38] Quintus commented on #407
I find changing title screens a very nice idea. They should however be attached to the last savegame a user played (as long as we keep the savegame system, of course).

I also like the idea of prerecording gameplay and simply playing it back, because currently the menu jumps through some hacky odds to have a real level rendered in the background. Simply having a video as the background simplifies

[2016-01-07 09:39] Quintus commented on #391
@Luiji status of this?

Vale,
Quintus

[2016-01-07 09:43] Quintus commented on #354
Superseded by #380.

[2016-01-07 09:43] #354 closed

[2016-01-07 09:44] Quintus commented on #331
Does the problem persist with the SFML port (code in `feature-sfml-port2` branch)?

Valete,
Quintus

[2016-01-07 09:47] Quintus commented on #311
@brianvanderburg2 Status of this? I think the rotation should be removed alltogether. We are not Maryo anymore, and pipes should be mostly replaced with other things.

@sydneyjd No, it is not fine. Just play lvl_1 and see how weird it looks when Alex goes "head-through-wall" when leaving the sublevel.

Valete,
Quintus

[2016-01-07 09:49] Quintus commented on #248
@Bugsbane Status of this?

Vale,
Quintus

[2016-01-07 09:49] Quintus commented on #244
Superseded by #407.

[2016-01-07 09:50] #244 closed

[2016-01-07 09:51] Quintus commented on #242
Does the problem persist in the SFML port?

Vale,
Quintus

[2016-01-07 09:53] Quintus commented on #228
@kirbyfan64 are you up for creating some fruit collection replacement sounds? If not, I will pursue the existing (non-unique) alternatives mentioned in this ticket so this finally gets resolved.

Valete,
Quintus

[2016-01-07 09:55] Quintus commented on #181
TSC is now compiled with C++11 support even in `devel`. Feel free to make use of it. For replacing existing things please open separate tickets so that it can be resolved one-by-one.

Valete,
Quintus

[2016-01-07 09:55] #181 closed

[2016-01-07 10:34] xet7 commented on #331
Hi,
I tried to compile, what does this error mean?

[ 98%] Building CXX object CMakeFiles/tsc.dir/src/input/mouse.cpp.o
/home/lauri/TSC/tsc/src/input/mouse.cpp: In member function ‘bool
TSC::cMouseCursor::Handle_Event(const sf::Event&)’:
/home/lauri/TSC/tsc/src/input/mouse.cpp:164:10: error: ‘MouseWheelScrolled’
is not a member of ‘sf::Event’
     case sf::Event::MouseWheelScrolled: {
          ^

[2016-01-07 12:58] Quintus commented on #331
It means that your version of SFML is too old (2.3+ required): http://www.sfml-dev.org/tutorials/2.3/window-events.php#the-mousewheelmoved-event

/cc @lambda-11235

Vale,
Quintus

[2016-01-07 13:27] datahead8888 commented on #407
I think we should first spend some time looking into the possibility of creating a "playback" system for gameplay.  We had talked about creating a cinema editor eventually, and this would be a major requirement for that.  Furthermore, video files will increase the download size much more quickly.

[2016-01-07 13:29] datahead8888 commented on #407
Using a real level is also very versatile -- you can quickly change things for it with simple configurations, etc, rather than going through video editing tools each time.

[2016-01-07 13:34] datahead8888 commented on #511
If we use a delay of 1-2 seconds for "OM", shouldn't we maybe do this for "KID" as well?

[2016-01-07 14:42] Quintus commented on #511
Agreed. Or remove the KID cheat altogether. I’ve never found myself in need of it.

Vale,
Quintus

[2016-01-07 20:10] xet7 commented on #331
@Quintus

Ok after installing binary x64 version of SFML, and trying to compile, then I got this error, what to do now? Should I have compiled from source?

[code]

BR,
xet7

[2016-01-07 22:21] Quintus commented on #331
Now that looks weird. Did you wipe your TSC build directory after you
installed the other version of SFML or may it be that this is some rest
from previously compiled source files?

Vale,
Quintus

--
#!/sbin/quintus
Blog: http://www.guelkerdev.de

GnuPG key: F1D8799FBCC8BC4F